Repository apache/ambari, pull requests merged in 2018-07, with the labels that each got.

#1655 [AMBARI-23550] Ambari Metrics references outdated jars
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
Labels: ambari-metrics, build

#1661 [AMBARI-24232] Alert definitions have not updated after stack upgrade (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/api/services/AmbariMetaInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/upgrade/StackUpgradeFinishListener.java
  ambari-server/src/test/java/org/apache/ambari/server/events/listeners/upgrade/StackUpgradeFinishListenerTest.java
Labels: server, upgrade

#1635 [AMBARI-24203] - Check for under-replicated partitions in Kafka service check
  ambari-server/src/main/resources/common-services/KAFKA/0.8.1/package/scripts/service_check.py
Labels: Kafka

#1665 [AMBARI-24237] UI Install: Custom Yarn Capacity Scheduler property set is missing after deploy
  ambari-web/app/utils/config.js
  ambari-web/test/utils/config_test.js
Labels: web client

#1660 AMBARI-24230 - [Logsearch] Update hdfs configuration from Configurati…
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/InputConfigGson.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldCopyDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldNameDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldValueDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/PostMapValuesAdapter.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/domain/StoryDataRegistry.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/domain/WebClient.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/LogSearchApiSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/LogSearchConfigApiSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/story/LogSearchBackendStories.java
  ambari-logsearch/ambari-logsearch-it/src/test/resources/stories/backend/log_search_cofig_api_tests.story
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/alias_config.json
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/filters.config.json
  ambari-logsearch/ambari-logsearch-logfeeder/src/test/resources/samples/config/config_audit.json
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldCopy.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldName.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldValue.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerPostMapValuesListDeserializer.java
  ambari-logsearch/ambari-logsearch-web/src/mockdata/mock-data-get.ts
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-ambari.json
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-hdfs.json
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-hst.json
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/templates/input.config-hive.json.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/input.config-ambari.json.j2
  ambari-server/src/main/resources/common-services/SPARK/1.2.1/package/templates/input.config-spark.json.j2
  ambari-server/src/main/resources/common-services/SPARK2/2.0.0/package/templates/input.config-spark2.json.j2
Labels: logsearch

#1666 AMBARI-24230. [Logsearch] Update hdfs configuration from Configuration Editor fails with 400 Error
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/InputConfigGson.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldCopyDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldNameDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/MapFieldValueDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/model/inputconfig/impl/PostMapValuesAdapter.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/domain/StoryDataRegistry.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/domain/WebClient.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/LogSearchApiSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/LogSearchConfigApiSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/story/LogSearchBackendStories.java
  ambari-logsearch/ambari-logsearch-it/src/test/resources/stories/backend/log_search_cofig_api_tests.story
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/alias_config.json
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/filters.config.json
  ambari-logsearch/ambari-logsearch-logfeeder/src/test/resources/samples/config/config_audit.json
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldCopy.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldName.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerMapFieldValue.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerPostMapValuesListDeserializer.java
  ambari-logsearch/ambari-logsearch-web/src/mockdata/mock-data-get.ts
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-ambari.json
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-hdfs.json
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-hst.json
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/templates/input.config-hive.json.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/input.config-ambari.json.j2
  ambari-server/src/main/resources/common-services/SPARK/1.2.1/package/templates/input.config-spark.json.j2
  ambari-server/src/main/resources/common-services/SPARK2/2.0.0/package/templates/input.config-spark2.json.j2
Labels: cherry-pick, logsearch

#1664 AMBARI-24236 Ambari UI "NEXT" button is disabled for add service step of Spectrum Scale
  ambari-web/app/mixins/wizard/assign_master_components.js
Labels: web client

#1668 AMBARI-24236 Ambari UI "NEXT" button is disabled for add service step of Spectrum Scale
  ambari-web/app/mixins/wizard/assign_master_components.js
Labels: web client

#1675 AMBARI-24241 Host details page: remove duplicate title
  ambari-web/app/models/host.js
  ambari-web/app/routes/main.js
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/top-nav.less
  ambari-web/app/templates/main/host/details.hbs
  ambari-web/app/views/main/host/details.js
  ambari-web/test/views/main/host/details_test.js
Labels: web client

#1674 AMBARI-24240 Admin View: Dashboard link leads to login page
  ambari-admin/src/main/resources/ui/admin-web/app/views/sideNav.html
Labels: web client

#1677 AMBARI-24242 data-qa attribute present not for all properties
  ambari-web/app/templates/common/configs/widgets/service_config_password_field.hbs
  ambari-web/app/views/common/controls_view.js
Labels: web client

#1676 AMBARI-24242 data-qa attribute present not for all properties
  ambari-web/app/templates/common/configs/widgets/service_config_password_field.hbs
  ambari-web/app/views/common/controls_view.js
Labels: web client

#1678 [AMBARI-24229] Prevent Configuration Changes During Keytab Regeneration in an Upgrade
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ClusterResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/UpdateConfigurationPolicy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareDisableKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareEnableKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareKerberosIdentitiesServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerActionTest.java
Labels: kerberos, upgrade

#1685 [AMBARI-24229] Prevent Configuration Changes During Keytab Regeneration in an Upgrade
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ClusterResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/UpdateConfigurationPolicy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareDisableKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareEnableKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareKerberosIdentitiesServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerActionTest.java
Labels: kerberos, upgrade

#1690 AMBARI-24252 Can't register HDP 3.0.0.0 version and "Use Local Repository"
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
Labels: web client

#1691 AMBARI-24252 Can't register HDP 3.0.0.0 version and "Use Local Repository"
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
Labels: web client

#1686 AMBARI-24249 - Ambari Upgrade Loads All Alerts When Renaming SOLR
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: upgrade

#1688 AMBARI-24249 - Ambari Upgrade Loads All Alerts When Renaming SOLR
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: cherry-pick, upgrade

#1687 [AMBARI-24250] Create Checkpoint page stuck while Enabling HA on Namenode
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/AgentCommandsPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/stageutils/KerberosKeytabController.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
Labels: kerberos

#1694 [AMBARI-24250] Create Checkpoint page stuck while Enabling HA on Name…
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/AgentCommandsPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/stageutils/KerberosKeytabController.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
Labels: kerberos

#1701 AMBARI-24259. Let custom TrustStore settings saved in ambari.properties when configuring LDAP just like we did it in 2.6
  ambari-server/src/main/python/ambari_server/setupSecurity.py
Labels: LDAP, ssl

#1704 [AMBARI-24262] - Hive Client Restart Fails When Using A Credential Store
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/hive.py
Labels: security

#1705 [AMBARI-24262] - Hive Client Restart Fails When Using A Credential Store
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/hive.py
Labels: cherry-pick

#1708 [Ambari 24261] Logfeeder fail to start due to missing conf file post logsearch upgrade
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/deb/logfeeder/postinst
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postinstall.sh
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-kafka-output-config.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-properties.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logfeeder.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/kafka-output.json.j2
Labels: logsearch

#1709 [Ambari 24261] Logfeeder fail to start due to missing conf file post logsearch upgrade
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/deb/logfeeder/postinst
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postinstall.sh
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-kafka-output-config.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-properties.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logfeeder.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/kafka-output.json.j2
Labels: cherry-pick, logsearch

#1711 [AMBARI-24264] Suppress log messages from the credential_store_helper
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: cleanup

#1710 [AMBARI-24264] Suppress log messages from the credential_store_helper
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: cleanup

#1720 [AMBARI-24264] Suppress log messages from the credential_store_helper
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: cleanup

#1721 [AMBARI-24264] Suppress log messages from the credential_store_helper
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: cherry-pick, cleanup

#1723 AMBARI-24267. No alerts even if Namenode / Datanodes down (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/dto/AlertCluster.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/stomp/dto/AlertClusterTest.java
Labels: cherry-pick

#1737 AMBARI-23945. Infra Solr migration: REQUESTSTATUS response content ty…
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: infra-solr

#1706 [AMBARI-24194]: Fix broken Java UTs in ambari-server code -- Part 1
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ClusterDAO.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestActionScheduler.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestActionSchedulerThreading.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatTestHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/QueryImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterControllerImplTest.java
Labels: unit-test

#1744 AMBARI-24278. Infra Solr: /etc/security/limits.d folder does not exist on Suse.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
Labels: infra-solr

#1745 [AMBARI-24207] Python unit test failure on 2.7.6
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/test/python/TestServerUtils.py
Labels: cleanup

#1749 AMBARI-24281. Infra Solr migration: migrationConfigGenerator script failed with custom service user
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationConfigGenerator.py
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: infra-solr

#1747 [AMBARI-24280] Fix ambari-admin UI unit tests
  ambari-admin/pom.xml
  ambari-admin/src/main/resources/ui/admin-web/package.json
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/AppCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/ClusterInformationCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/stackVersions/StackversionsListCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/directives/comboSearch_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/directives/editablelist_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/AddRepositoryModal_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/PermissionSaver_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/UnsavedDialog__test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/Utility_test.js
Labels: unit-test

#1755 [AMBARI-14714] Fix test issues introduced during recent merge
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ComponentResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ComponentResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PreconfigureKerberosActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: unit-test

#1761 [AMBARI-14714] Fix few more unit tests
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostComponentResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentSupport.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/DummyHeartbeatConstants.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatTestHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/RecoveryConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceComponentSupportTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
Labels: unit-test

#1765 AMBARI-14714. Fix few more unit tests (#1761) - unused imports
  ambari-server/src/test/java/org/apache/ambari/server/configuration/RecoveryConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
Labels: checkstyle, unit-test

#1758 AMBARI-24194: Fix broken Java UTs in ambari-server code --- Part 2
  ambari-server/src/main/java/org/apache/ambari/server/agent/HeartbeatProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheck.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/MissingOsInRepoVersionCheckTest.java
Labels: unit-test

#1762 [AMBARI-24288] Remove org.apache.directory.api:api-ldap-model from Ambari server's dependencies due to security concerns
  ambari-server/pom.xml
Labels: cleanup

#1748 [AMBARI-24248] [LogSearch UI] There is no user notification on Log Feeder configuration saving
  ambari-logsearch/ambari-logsearch-web/src/app/app-routing.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/cluster-filter/cluster-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/notifications.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/services/shipper-configuration.service.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: logsearch

#1756 [AMBARI-24284] [Log Search UI] Make the app header aligned with the design
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/breadrumbs/breadcrumbs.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/breadrumbs/breadcrumbs.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
Labels: logsearch

#1771 AMBARI-24300. Error in Tez Service Advisor for HDP 3.0 (amagyar)
  ambari-server/src/main/resources/stacks/stack_advisor.py
Labels: stack advisor

#1787 AMBARI-24272. OneFS service check fails with 'dfs_type' is not set. (…
  contrib/management-packs/isilon-onefs-mpack/src/main/resources/addon-services/ONEFS/1.0.0/package/scripts/params_linux.py
Labels: cherry-pick

#1786 AMBARI-24300. Error in Tez Service Advisor for HDP 3.0 (amagyar) (#1771)
  ambari-server/src/main/resources/stacks/stack_advisor.py
Labels: cherry-pick

#1783 [AMBARI-24207] Python unit test failure on 2.7.6
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/test/python/TestServerUtils.py
Labels: cherry-pick, cleanup

#1782 [AMBARI-24288] Remove org.apache.directory.api:api-ldap-model from Am…
  ambari-server/pom.xml
Labels: cherry-pick, cleanup

#1736 AMBARI-24254. ADDENDUM: flag infra-solr instances to restart after up…
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: cherry-pick, infra-solr, upgrade

#1738 Ambari 23945 AMBARI-23945. Infra Solr migration: REQUESTSTATUS response content type is xml instead of json
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: cherry-pick, infra-solr

#1746 AMBARI-24278. Infra Solr: /etc/security/limits.d folder does not exist on Suse
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
Labels: cherry-pick, infra-solr

#1752 [AMBARI-24281] Infra Solr migration: migrationConfigGenerator script failed with custom service user
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationConfigGenerator.py
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: cherry-pick, infra-solr

#1778 [AMBARI-22832] Add flexible environment handling and environment depended API Url config.
  ambari-logsearch/ambari-logsearch-web/.gitignore
Labels: cherry-pick, logsearch

#1785 [AMBARI-24303] [Log Search UI] Move the dev environment information from .gitignore to README.md
  ambari-logsearch/ambari-logsearch-web/.gitignore
  ambari-logsearch/ambari-logsearch-web/README.md
Labels: logsearch

#1790 [AMBARI-24303] [Log Search UI] Move the dev environment information from .gitignore to README.md
  ambari-logsearch/ambari-logsearch-web/.gitignore
  ambari-logsearch/ambari-logsearch-web/README.md
Labels: cherry-pick, logsearch

#1769 [AMBARI-23890] [Logsearch UI] Column headers are missing in service logs tabular view
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.ts
Labels: logsearch

#1779 [AMBARI-24248] [LogSearch UI] There is no user notification on Log Feeder configuration saving
  ambari-logsearch/ambari-logsearch-web/src/app/app-routing.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/cluster-filter/cluster-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/notifications.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/services/shipper-configuration.service.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: cherry-pick, logsearch

#1780 [AMBARI-24284] [Log Search UI] Make the app header aligned with the design
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/breadrumbs/breadcrumbs.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/breadrumbs/breadcrumbs.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
Labels: cherry-pick, logsearch

#1792 [AMBARI-24161] Cannot distinguish components on Host Details page due to shortened display name (Ambari should show full component name on mouse over)
  ambari-web/app/templates/main/host/details/host_component.hbs
  ambari-web/app/views/main/host/details/host_component_view.js
Labels: web client

#1800 [AMBARI-24310] UI sends host check request for custom jdk with invalid hosts
  ambari-web/app/controllers/wizard/step3_controller.js
Labels: web client

#1795 [AMBARI-24308] 'Changed properties' filter for configs is displayed even in non-compare mode
  ambari-web/app/controllers/main/service/info/configs.js
Labels: web client

#1802 AMBARI-24241 Host details page: remove duplicate title
  ambari-web/app/models/host.js
  ambari-web/app/routes/main.js
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/top-nav.less
  ambari-web/app/templates/main/host/details.hbs
  ambari-web/app/views/main/host/details.js
  ambari-web/test/views/main/host/details_test.js
Labels: web client

#1806 AMBARI-24313 Service disappear from the UI when Going back to "Customize Services" page or doing page refresh
  ambari-web/app/controllers/wizard.js
  ambari-web/app/mappers/stack_service_mapper.js
  ambari-web/test/controllers/wizard_test.js
Labels: web client

#1805 AMBARI-24313 Service disappear from the UI when Going back to "Customize Services" page or doing page refresh
  ambari-web/app/controllers/wizard.js
  ambari-web/app/mappers/stack_service_mapper.js
  ambari-web/test/controllers/wizard_test.js
Labels: web client

#1804 AMBARI-24311 Host and Alerts page style fixes
  ambari-web/app/models/host_component.js
  ambari-web/app/styles/alerts.less
  ambari-web/app/styles/hosts.less
  ambari-web/test/models/host_component_test.js
Labels: web client

#1803 AMBARI-24311 Host and Alerts page style fixes
  ambari-web/app/models/host_component.js
  ambari-web/app/styles/alerts.less
  ambari-web/app/styles/hosts.less
  ambari-web/test/models/host_component_test.js
Labels: web client

#1801 [AMBARI-24310] UI sends host check request for custom jdk with invalid hosts
  ambari-web/app/controllers/wizard/step3_controller.js
Labels: cherry-pick, web client

#1797 [AMBARI-24308] 'Changed properties' filter for configs is displayed even in non-compare mode
  ambari-web/app/controllers/main/service/info/configs.js
Labels: cherry-pick, web client

#1646 AMBARI-24218. Add UTs for Mpack Advisor.
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackAdvisorCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackConfigurationRecommendationCommand.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorExceptionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorRequestTypeTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorRunnerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackAdvisorCommandTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackConfigurationRecommendationCommandTest.java
  ambari-server/src/test/resources/mpack_advisor/hosts_count2.txt
  ambari-server/src/test/resources/mpack_advisor/ods_mpack_objectnode.json
  ambari-server/src/test/resources/mpack_advisor/ods_mpack_objectnode1.json
  ambari-server/src/test/resources/mpack_advisor/ods_mpack_services.txt
Labels: unit-test

#1816 [AMBARI-24318] - Report Mpack Installation State When Installing Packages For Upgrade
  ambari-agent/src/test/python/resource_management/TestScript.py
  ambari-common/src/main/python/resource_management/libraries/functions/stack_select.py
  ambari-common/src/main/python/resource_management/libraries/functions/version_select_util.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/HeartbeatProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/upgrade/MpackInstallStateListener.java
  ambari-server/src/main/resources/custom_action_definitions/system_action_definitions.xml
  ambari-server/src/main/resources/custom_actions/scripts/mpack_packages.py
  ambari-server/src/main/resources/custom_actions/scripts/remove_previous_stacks.py
  ambari-server/src/test/python/TestVersionSelectUtil.py
  ambari-server/src/test/python/custom_actions/TestRemoveStackVersion.py
  ambari-server/src/test/python/custom_actions/configs/remove_previous_stacks.json
  ambari-server/src/test/python/custom_actions/test_mpack_install.py
Labels: upgrade

#1812 AMBARI-24316 Inconsistent Ambari warnings
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
Labels: web client

#1813 AMBARI-24316 Inconsistent Ambari warnings
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
Labels: web client

#1808 AMBARI-24314 UI Elements in Incorrect layout at Customize Services Page
  ambari-web/app/styles/application.less
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/templates/wizard/step7/directories_tab.hbs
  ambari-web/app/views/common/configs/services_config.js
  ambari-web/app/views/wizard/step7/directories_tab_view.js
Labels: web client

#1809 AMBARI-24314 UI Elements in Incorrect layout at Customize Services Page
  ambari-web/app/styles/application.less
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/templates/wizard/step7/directories_tab.hbs
  ambari-web/app/views/common/configs/services_config.js
  ambari-web/app/views/wizard/step7/directories_tab_view.js
Labels: web client

#1781 [AMBARI-23890] [Logsearch UI] Column headers are missing in service logs tabular view
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.ts
Labels: cherry-pick, logsearch

#1798 AMBARI-24302. -Dhdp.version shows blank value in process output for D…
  ambari-server/src/main/resources/stacks/HDP/2.6/services/HDFS/configuration/hadoop-env.xml
Labels: cherry-pick

#1821 AMBARI-24322. Log Search / Ambari upgrade: db config consistency chec…
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: logsearch, upgrade

#1825 AMBARI-24322. Log Search / Ambari upgrade: db config consistency chec…
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: cherry-pick, logsearch, upgrade

#1817 AMBARI-24320. Using the proper command name when creating a pre-initialized ActionExecuteContent instead of the hard coded SET_KEYTAB value
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
Labels: kerberos

#1819 [AMBARI-24312] [LogSearch UI] Audit screen sub tab changes clear the Summary charts.
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/graph.component.ts
Labels: logsearch

#1822 [AMBARI-24312] [LogSearch UI] Audit screen sub tab changes clear the Summary charts.
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/graph.component.ts
Labels: cherry-pick, logsearch

#1826 [AMBARI-24325] [Log Search UI] Unaccessible query filter type ahead element in small window
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.less
Labels: logsearch

#1834 AMBARI-24320. Using the proper command name when creating a pre-initi…
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
Labels: kerberos

#1835 [AMBARI-23079] Log Feeder: support to use load balancer for Solr API (not only cloud client)
  ambari-logsearch/ambari-logsearch-config-solr/src/main/java/org/apache/ambari/logsearch/config/solr/LogLevelFilterManagerSolr.java
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/src/main/java/org/apache/ambari/logfeeder/plugin/common/ConfigItem.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogFeederConstants.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogFeederSolrClientFactory.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/ApplicationConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/docker/test-config/logfeeder/logfeeder.properties
Labels: logsearch

#1837 AMBARI-24329. Log Feeder define default log levels per component.
  ambari-logsearch/ambari-logsearch-config-api/src/main/java/org/apache/ambari/logsearch/config/api/model/inputconfig/InputDescriptor.java
  ambari-logsearch/ambari-logsearch-config-json/src/main/java/org/apache/ambari/logsearch/config/json/model/inputconfig/impl/InputDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/loglevelfilter/LogLevelFilterHandler.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputManagerImpl.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/test/java/org/apache/ambari/logfeeder/output/OutputManagerTest.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerInput.java
  ambari-logsearch/docker/test-config/logfeeder/shipper-conf/input.config-logsearch-docker.json
Labels: logsearch

#1827 [AMBARI-24325] [Log Search UI] Unaccessible query filter type ahead element in small window
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.less
Labels: cherry-pick, logsearch

#1833 AMBARI-24319. Regenerating keytabs for the given service(s) only
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
Labels: kerberos

#1841 [AMBARI-24333] Raising an error when user is trying to create a view URL with an existing short URL prefix
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewURLResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ViewURLDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ViewURLEntity.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ViewURLResourceProviderTest.java
Labels: ambari views

#1846 AMBARI-24339 Background Operations: minor UX changes
  ambari-web/app/utils/date/date.js
  ambari-web/app/utils/host_progress_popup.js
  ambari-web/test/utils/date/date_test.js
Labels: web client

#1847 AMBARI-24339 Background Operations: minor UX changes
  ambari-web/app/utils/date/date.js
  ambari-web/app/utils/host_progress_popup.js
  ambari-web/test/utils/date/date_test.js
Labels: web client

#1849 AMBARI-24269 All input fields are disabled after validation - cancel - filter for something on advanced tab
  ambari-web/app/controllers/main/service/info/configs.js
  ambari-web/app/views/common/configs/service_config_view.js
Labels: web client

#1848 AMBARI-24269 All input fields are disabled after validation - cancel - filter for something on advanced tab
  ambari-web/app/controllers/main/service/info/configs.js
  ambari-web/app/views/common/configs/service_config_view.js
Labels: web client

#1843 [AMBARI-24338] [Log Search UI] Add application routing information to README.md
  ambari-logsearch/ambari-logsearch-web/README.md
Labels: logsearch

#1856 AMBARI-24346 Host Details page: alignment issues
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/modal_popups.less
Labels: web client

#1857 AMBARI-24346 Host Details page: alignment issues
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/modal_popups.less
Labels: web client

#1851 AMBARI-24290 : Fix issues in AMS multiple cluster support.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AbstractProviderModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/OverriddenMetricsHostProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/CollectorHostDownRefreshCounter.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricHostProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsCollectorHAClusterState.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsCollectorHAManager.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/timeline/AMSPropertyProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/timeline/AMSReportPropertyProvider.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana_util.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/DRUID/0.10.1/package/scripts/params.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/alerts/alert_metrics_deviation.py
  ambari-server/src/main/resources/stacks/HDPWIN/2.1/hooks/before-START/scripts/params.py
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/JMXPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/RestMetricsPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/ganglia/GangliaPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/ganglia/GangliaReportPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/timeline/AMSPropertyProviderTest.java
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_alert_metrics_deviation.py
  ambari-server/src/test/python/stacks/2.0.6/configs/default_ams_embedded.json
  ambari-server/src/test/python/stacks/2.0.6/configs/default_with_bucket.json
  ambari-server/src/test/python/stacks/2.0.6/configs/repository_file.json
  ambari-server/src/test/python/stacks/2.3/configs/ats_1_5.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_default.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_default_for_restart.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_ha.json
  contrib/management-packs/hdf-ambari-mpack/src/main/resources/stacks/HDF/2.0/hooks/before-START/scripts/params.py
  contrib/management-packs/hdf-ambari-mpack/src/main/resources/stacks/HDF/2.0/services/stack_advisor.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/hooks/before-START/scripts/params.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/services/HIVE/package/scripts/params_linux.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/services/stack_advisor.py
Labels: ambari-metrics

#1852 AMBARI-24340 : AMS Migration tools should auto-detect whitelist file.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/MetricsDataMigrationLauncher.java
Labels: ambari-metrics

#1764 AMBARI-24290 : Fix issues in AMS multiple cluster support.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AbstractProviderModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/OverriddenMetricsHostProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/CollectorHostDownRefreshCounter.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricHostProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsCollectorHAClusterState.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsCollectorHAManager.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/timeline/AMSPropertyProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/timeline/AMSReportPropertyProvider.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana_util.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/DRUID/0.10.1/package/scripts/params.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/alerts/alert_metrics_deviation.py
  ambari-server/src/main/resources/stacks/HDPWIN/2.1/hooks/before-START/scripts/params.py
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/JMXPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/RestMetricsPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/ganglia/GangliaPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/ganglia/GangliaReportPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/timeline/AMSPropertyProviderTest.java
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_alert_metrics_deviation.py
  ambari-server/src/test/python/stacks/2.0.6/configs/default_ams_embedded.json
  ambari-server/src/test/python/stacks/2.0.6/configs/default_with_bucket.json
  ambari-server/src/test/python/stacks/2.0.6/configs/repository_file.json
  ambari-server/src/test/python/stacks/2.3/configs/ats_1_5.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_default.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_default_for_restart.json
  ambari-server/src/test/python/stacks/2.5/configs/hsi_ha.json
  contrib/management-packs/hdf-ambari-mpack/src/main/resources/stacks/HDF/2.0/hooks/before-START/scripts/params.py
  contrib/management-packs/hdf-ambari-mpack/src/main/resources/stacks/HDF/2.0/services/stack_advisor.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/hooks/before-START/scripts/params.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/services/HIVE/package/scripts/params_linux.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/services/stack_advisor.py
Labels: ambari-metrics

#1861 AMBARI-24332 - PERF 1.0 package not installed in the cluster at deploy time
  ambari-server/src/main/resources/stacks/PERF/1.0/hooks/before-INSTALL/scripts/distro-select.py
  ambari-server/src/main/resources/stacks/PERF/1.0/hooks/before-INSTALL/scripts/hook.py
Labels: cherry-pick

#1873 AMBARI-24344: Upgrade Infra Solr client operation fails for Ubuntu wh…
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: infra-solr, upgrade

#1872 AMBARI-24319. Regenerating keytabs for the given service(s) only
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
Labels: cherry-pick, kerberos

#1881 AMBARI-24353. Log Feeder: generate solr id from specific fields.
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/src/main/java/org/apache/ambari/logfeeder/plugin/output/Output.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/IdGeneratorHelper.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputManagerImpl.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/test/java/org/apache/ambari/logfeeder/common/IdGeneratorHelperTest.java
Labels: logsearch

#1882 AMBARI-24353. Log Feeder: generate solr id from specific fields.
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/src/main/java/org/apache/ambari/logfeeder/plugin/output/Output.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/IdGeneratorHelper.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputManagerImpl.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/test/java/org/apache/ambari/logfeeder/common/IdGeneratorHelperTest.java
Labels: cherry-pick, logsearch

#1885 AMBARI-24344: Upgrade Infra Solr client operation fails for Ubuntu wh…
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: cherry-pick

#1875 [AMBARI-24260] Ambari shows success when HBase Decommission/Recommission operations fail
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/main/host/details/host_component_views/regionserver_view.js
  ambari-web/test/views/main/host/details/host_component_views/regionserver_view_test.js
Labels: web client

#1877 [AMBARI-24260] Ambari shows success when HBase Decommission/Recommission operations fail
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/main/host/details/host_component_views/regionserver_view.js
  ambari-web/test/views/main/host/details/host_component_views/regionserver_view_test.js
Labels: cherry-pick, web client

#1870 AMBARI-24335. Updating service metainfo to declare if Kerberos is required for SSO integration support
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/StackServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/StackServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/state/SingleSignOnInfo.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/ServiceModuleTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceInfoTest.java
Labels: API, security, sso

#1886 Branch 2.7 hive missing commits
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/pre_upgrade.py
Labels: cherry-pick

#1887 AMBARI-24335. Updating service metainfo to declare if Kerberos is required for SSO integration support
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/StackServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/StackServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/state/SingleSignOnInfo.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/ServiceModuleTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceInfoTest.java
Labels: API, cherry-pick, security, sso

#1888 AMBARI-24359 Back and forth on All Configurations Page has multiple tabs marked as active
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#1889 AMBARI-24359 Back and forth on All Configurations Page has multiple tabs marked as active
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#1894 AMBARI-24319. Reverting previous changes until we did not find out what's happening with BP installations
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
Labels: kerberos

#1898 [Ambari 24363] - Allow Ambari to Bypass Hashing of Stack Resources
  ambari-server/src/main/java/org/apache/ambari/server/api/services/AmbariMetaInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/StackManager.java
Labels: server

#1893 AMBARI-24319. Reverting previous changes until we did not find out what's happening with BP installations
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
Labels: kerberos

#1891 AMBARI-24361 Make upgrade progress counter more readable
  ambari-web/app/styles/application.less
  ambari-web/app/styles/common.less
Labels: web client

#1892 AMBARI-24361 Make upgrade progress counter more readable
  ambari-web/app/styles/application.less
  ambari-web/app/styles/common.less
Labels: web client

#1897 [AMBARI-24362] Fixes for modal with config validations and dependent properties
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mixins/common/configs/config_recommendations.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/styles/common.less
  ambari-web/app/styles/modal_popups.less
  ambari-web/app/styles/top-nav.less
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/templates/common/modal_popups/config_recommendation_popup.hbs
  ambari-web/app/templates/common/modal_popups/dependent_configs_list.hbs
  ambari-web/app/templates/common/modal_popups/dependent_configs_table.hbs
  ambari-web/app/views/common/modal_popup.js
  ambari-web/app/views/common/modal_popups/config_validation/config_validation_popup.js
  ambari-web/app/views/common/modal_popups/dependent_configs_list_popup.js
  ambari-web/app/views/common/modal_popups/log_file_search_popup.js
  ambari-web/test/mixins/common/configs/config_recommendations_test.js
Labels: cherry-pick, web client

#1896 [AMBARI-24362] Fixes for modal with config validations and dependent properties
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mixins/common/configs/config_recommendations.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/styles/common.less
  ambari-web/app/styles/modal_popups.less
  ambari-web/app/styles/top-nav.less
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/templates/common/modal_popups/config_recommendation_popup.hbs
  ambari-web/app/templates/common/modal_popups/dependent_configs_list.hbs
  ambari-web/app/templates/common/modal_popups/dependent_configs_table.hbs
  ambari-web/app/views/common/modal_popup.js
  ambari-web/app/views/common/modal_popups/config_validation/config_validation_popup.js
  ambari-web/app/views/common/modal_popups/dependent_configs_list_popup.js
  ambari-web/app/views/common/modal_popups/log_file_search_popup.js
  ambari-web/test/mixins/common/configs/config_recommendations_test.js
Labels: web client

#1884 [AMBARI-24356] Add TIMELINE_READER into Ambari BlueprintConfigurationP…
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint, cherry-pick

#1883 [AMBARI-24356] Add TIMELINE_READER into Ambari BlueprintConfigurationP…
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#1904 Revert hive pre-upgrade script commits in PR #1886
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/pre_upgrade.py
Labels: revert

#1906 AMBARI-24374. Testing if kerberos command parameters are present when checking missing keytabs (they are filtered out on the server side on purpose)
  ambari-common/src/main/python/ambari_commons/kerberos/kerberos_common.py
Labels: agent, kerberos

#1909 AMBARI-24374. Testing if kerberos command parameters are present when checking missing keytabs (they are filtered out on the server side on purpose)
  ambari-common/src/main/python/ambari_commons/kerberos/kerberos_common.py
Labels: agent, kerberos

#1913 [AMBARI-24319] Regenerating keytabs for the given service(s) only
  ambari-server/src/main/java/org/apache/ambari/server/controller/DeleteIdentityHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CleanupServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/ConfigureAmbariIdentitiesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreateKeytabFilesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreatePrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/DestroyPrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/FinalizeKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareEnableKerberosServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/utils/ajax/ajax.js
Labels: kerberos

#1914 [AMBARI-24319] Regenerating keytabs for the given service(s) only
  ambari-server/src/main/java/org/apache/ambari/server/controller/DeleteIdentityHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CleanupServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/ConfigureAmbariIdentitiesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreateKeytabFilesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreatePrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/DestroyPrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/FinalizeKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/PrepareEnableKerberosServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/utils/ajax/ajax.js
Labels: cherry-pick, kerberos

#1923 AMBARI-24386 - [Log Search] Input config validator unable to parse any log entry
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogEntryParseTester.java
Labels: logsearch

#1915 AMBARI-24283 - DB consistency warning due to config group without service name
  ambari-server/src/main/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: server, upgrade

#1932 [AMBARI-24395] Upgrade AMS hadoop dependency build number to the latest.
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
Labels: ambari-metrics
