Repository apache/ambari, pull requests merged in 2018-11, with the labels that each got.

#2567 [AMBARI-24852] NPE in default host group replacement
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#2568 AMBARI-24853 Cluster user can't modify shared widgets
  ambari-web/app/mixins/common/widgets/widget_mixin.js
Labels: web client

#2569 [AMBARI-24854] VersionUtils JavaDoc Changes For Signing the SPI
  ambari-server-spi/src/main/java/org/apache/ambari/server/utils/VersionUtils.java
Labels: SPI

#2571 [AMBARI-24852] NPE in default host group replacement
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: cherry-pick

#2570 [AMBARI-24857] UI Changes for supporting Ozone deployment.
  ambari-web/app/controllers/wizard/step4_controller.js
  ambari-web/app/controllers/wizard/step6_controller.js
  ambari-web/app/models/stack_service.js
  ambari-web/app/views/main/host/summary.js
Labels: web client

#2574 [AMBARI-24843] Make Ambaripreupload.py more configurable - fallback to default driver
  ambari-server/src/main/resources/scripts/Ambaripreupload.py
Labels: cherry-pick

#2576 [AMBARI-24830] Add datatype option to the SwaggerUi client being used for api-docs.
  ambari-web/api-docs/index.html
Labels: cherry-pick

#2577 [AMBARI-24859] Admin View: Apache Ambari logo and favicon does not show when using Knox Gateway
  ambari-admin/src/main/resources/ui/admin-web/app/images/logo.png
  ambari-admin/src/main/resources/ui/admin-web/app/index.html
  ambari-admin/src/main/resources/ui/admin-web/app/styles/theme/bootstrap-ambari.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/clusters/clusterInformation.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/modals/AboutModal.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/sideNav.html
Labels: ambari-admin

#2579 AMBARI-24861. New wrapper class on Python side for LDAP-related data for use in service advisors
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-server/src/main/resources/stacks/ambari_configuration.py
  ambari-server/src/test/python/TestAmbariConfiguration.py
Labels: service advisor

#2580 [AMBARI-24859] Admin View: Apache Ambari logo and favicon does not show when using Knox Gateway
  ambari-admin/src/main/resources/ui/admin-web/app/images/logo.png
  ambari-admin/src/main/resources/ui/admin-web/app/index.html
  ambari-admin/src/main/resources/ui/admin-web/app/styles/theme/bootstrap-ambari.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/clusters/clusterInformation.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/modals/AboutModal.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/sideNav.html
Labels: cherry-pick

#2581 [AMBARI-24865] Build error at Findbugs with Maven 3.6.
  ambari-server/pom.xml
Labels: build

#2582 [AMBARI-24865] Build error at Findbugs with Maven 3.6.
  ambari-server/pom.xml
Labels: build, cherry-pick

#2533 [AMBARI-24836] Service Auto start is enabled after page refresh.
  ambari-web/app/controllers/main/admin/service_auto_start.js
  ambari-web/test/controllers/main/admin/service_auto_start_test.js
Labels: cherry-pick, web client

#2585 AMBARI-24868 JS error when changing service auto-start toggle
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/admin/service_auto_start.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/controllers/main/admin/service_auto_start_test.js
Labels: web client

#2588 [AMBARI-24869] Request configurations when needed during server-side actions rather than rely on configuration data from the execution command
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/AbstractServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/DestroyPrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
Labels: cleanup, kerberos

#2590 [AMBARI-24870] Allow blueprint install without HISTORYMANAGER, APP_TIMELINE_SERVER (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#2592 AMBARI-24866. Make sure we use stack advisor to apply relevant service recommendation upon LDAP configuration addition/change
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRunner.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/StackAdvisorCommandType.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerLDAPConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerStackAdvisorAwareConfigurationHandler.java
  ambari-server/src/main/resources/scripts/stack_advisor.py
  ambari-server/src/main/resources/stacks/service_advisor.py
  ambari-server/src/main/resources/stacks/stack_advisor.py
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRequestTypeTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRunnerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationResourceProviderTest.java
Labels: LDAP, service advisor

#2593 AMBARI-24879. kAdmin principal name is set on the GUI when enabling Kerberos with MIT KDC using a new variable replacement function
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KDCKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/state/kerberos/VariableReplacementHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/kerberos/VariableReplacementHelperTest.java
Labels: kerberos, security

#2268 AMBARI-24603 Better scrolling for long list of components in dropdown…
  ambari-web/app/styles/hosts.less
Labels: cherry-pick, web client

#2267 AMBARI-24603 Better scrolling for long list of components in dropdown…
  ambari-web/app/styles/hosts.less
Labels: web client

#2266 AMBARI-24572 Fixing the cluster name alignment
  ambari-web/app/styles/top-nav.less
Labels: cherry-pick, web client

#2264 AMBARI-24572 Fixing the cluster name alignment
  ambari-web/app/styles/top-nav.less
Labels: web client

#2599 [AMBARI-24887] [Log Search UI] The component filter dropdown does not select any item
  ambari-logsearch/ambari-logsearch-web/src/app/components/cluster-filter/cluster-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/filter-button/filter-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.spec.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/pagination-controls/pagination-controls.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/time-range-picker/time-range-picker.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/filter-dropdown/filter-dropdown.component.ts
Labels: logsearch

#2600 AMBARI-24877 Heatmap tab, metrics tab and QuickLinks section in summary tab should be hidden if service has only client service component
  ambari-web/app/views/common/quick_view_link_view.js
  ambari-web/app/views/main/service/item.js
  ambari-web/test/views/common/quick_link_view_test.js
  ambari-web/test/views/main/service/item_test.js
Labels: web client

#2602 AMBARI-24890 Restart option should not be shown if service components are not created in a cluster
  ambari-web/app/templates/main/service/info/configs.hbs
  ambari-web/app/views/main/service/info/configs.js
Labels: web client

#2604 [AMBARI-24892] Warn During Upgrade When Plugin ClassLoader is not Found
  ambari-server/src/main/java/org/apache/ambari/server/checks/UpgradeCheckRegistry.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog280.java
Labels: upgrade

#2607 [AMBARI-24897] Reduce Visible Artifacts from the SPI
  ambari-server-spi/pom.xml
  ambari-server-spi/src/main/java/org/apache/ambari/annotations/UpgradeCheckInfo.java
Labels: SPI

#2608 [AMBARI-23478] YARN Cluster CPU Usage Graph Always Shows High CPU Usage
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsDataTransferMethodFactory.java
Labels: ambari-metrics

#2616 AMBARI-24905 Service display name on left navigation bar should be suffixed with "Client" if only client service component is present for a service
  ambari-web/app/models/service.js
  ambari-web/app/templates/main/service/menu_item.hbs
  ambari-web/app/views/main/menu.js
  ambari-web/app/views/main/service/info/menu.js
  ambari-web/app/views/main/service/item.js
Labels: web client

#2620 AMBARI-24871 fix checkstyle violation (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/CredentialProvider.java
Labels: checkstyle

#2621 AMBARI-24907. Updated service metainfo to declare LDAP integration support
  ambari-server/src/main/java/org/apache/ambari/server/controller/AddServiceRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceLdapInfo.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceInfoTest.java
Labels: API, LDAP

#2622 AMBARI-24905 Service display name on left navigation bar should be suffixed with "Client" if only client service component is present for a service
  ambari-web/app/models/service.js
  ambari-web/app/templates/main/service/menu_item.hbs
Labels: web client

#2628 AMBARI-24921 If service does not have client service component created then "Run Service Check" option should be made hidden
  ambari-web/app/views/main/service/item.js
  ambari-web/test/views/main/service/item_test.js
Labels: web client

#2629 AMBARI-24913. New LDAP related properties to indicate if Ambari should manage LDAP configuration for certain services
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerLDAPConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/stacks/ambari_configuration.py
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/python/TestAmbariConfiguration.py
Labels: LDAP, security

#2634 [AMBARI-24916] Add setup-jdbc command
  ambari-server/sbin/ambari-server
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/serverSetup.py
  ambari-server/src/main/python/ambari_server/setupActions.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: cleanup, server setup

#2644 AMBARI-24927. Adding LDAP integration support information to service information via Ambari's REST API
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/StackServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerLDAPConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/StackServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/AgentHeartbeatAlertRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/AmbariPerformanceRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/ComponentVersionAlertRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/StaleAlertRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariServerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/KerberosHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthenticationSourceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/dao/AlertsDAOCachedTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/UpdateKerberosConfigsServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/KerberosKeytabsActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PreconfigureKerberosActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/services/AlertNoticeDispatchServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/services/CachedAlertFlushServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testutils/PartialNiceMockBinder.java
  ambari-server/src/test/java/org/apache/ambari/server/update/HostUpdateHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog251Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog260Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/java/org/apache/ambari/server/utils/StageUtilsTest.java
Labels: API, LDAP

#2645 [AMBARI-24923] Create tproxy-configuration category in Ambari Configurations data
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationCategory.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/ConfigurationPropertyType.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationUtils.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationHandlerFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/service/ads/DefaultLdapAttributeDetectionService.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKeyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationUtilsTest.java
Labels: TrustedProxy, security

#2636 AMBARI-24929. Cover custom cluster checks views
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/add_metastore_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_atlas_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_components_installation_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_host_version_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_maintenance_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_prev_upgrade_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_service_warning_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_cluster_checks_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/custom_cluster_checks/custom_services_checks_view_test.js
Labels: unit-test, web client

#2649 [AMBARI-24948] Test ordering issue in ExecutionCommandWrapperTest
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapperTest.java
Labels: unit-test

#2651 AMBARI-24954 Counter installedClients for AMBARI_INFRA_SOLR is null
  ambari-web/app/mappers/components_state_mapper.js
  ambari-web/test/mappers/components_state_mapper_test.js
Labels: web client

#2650 [AMBARI-22643] Trying to create some duplicate resources leads to HTTP 500 error
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/CredentialResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RepositoryVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UserResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/VersionDefinitionResourceProvider.java
Labels: API, cleanup

#2630 [AMBARI-24922] No need to create test jar if tests are skipped.
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: build

#2648 AMBARI-24944. Cover cluster metric cpu view
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/main/cluster_metrics/cpu_test.js
Labels: unit-test, web client

#2656 AMBARI-24951. New CLI option and question to populate existing 'ambari.ldap.attributes.user.group_member_attr' Ambari configuration property
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: LDAP, security

#2657 AMBARI-24960. Removing warning about requirement for IPA password policy
  ambari-web/app/controllers/main/admin/kerberos/step1_controller.js
  ambari-web/app/messages.js
Labels: kerberos

#2660 AMBARI-24962 Summary panel should not have any information if only client component is installed in a cluster
  ambari-web/app/messages.js
  ambari-web/app/templates/main/service/info/summary/hdfs/slaves.hbs
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/services/yarn.hbs
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/info/summary/hdfs/slaves.js
Labels: web client

#2661 AMBARI-24796. Intermittent CredentialStoreTest test failure.
  ambari-server/src/test/java/org/apache/ambari/server/security/encryption/CredentialStoreTest.java
Labels: unit-test

#2664 AMBARI-24966 Start Namenode failing during Move master NN wizard on non-HA cluster with custom hdfs service user
  ambari-web/app/controllers/main/admin/highAvailability/nameNode/wizard_controller.js
  ambari-web/app/controllers/main/service/reassign_controller.js
  ambari-web/test/controllers/main/service/reassign_controller_test.js
Labels: web client

#2663 [AMBARI-24965] Expose Upgrade Custom Server Actions via an Ambari Client Library
  ambari-server-spi/src/main/java/org/apache/ambari/spi/exceptions/UpgradeActionException.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeAction.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeActionOperations.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/ServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AbstractUpgradeServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AddSparkUserToYarnACLAdminQueue.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AtlasProxyUserConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/CreateZeppelinSiteConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixCapacitySchedulerOrderingPolicy.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixLzoCodecPath.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixNotebookStorage.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixOozieAdminUsers.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixSparkYarnIdentity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddress.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixYarnWebServiceUrl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/HBaseConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/HBaseEnvMaxDirectMemorySizeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/HiveEnvClasspathAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/HiveZKQuorumConfigAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/OozieConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/PluginUpgradeServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/RangerConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/RangerKerberosConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/RangerKmsProxyConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/RangerUsersyncConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/RangerWebAlertConfigAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/SparkShufflePropertyConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/YarnConfigCalculation.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/ZooKeeperQuorumCalculator.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Cluster.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/AtlasProxyUserConfigCalculationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixCapacitySchedulerOrderingPolicyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixLzoCodecPathTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixOozieAdminUsersTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddressTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixYarnWebServiceUrlTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/HBaseEnvMaxDirectMemorySizeActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/HiveEnvClasspathActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/HiveZKQuorumConfigActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/OozieConfigCalculationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PluginUpgradeServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/RangerConfigCalculationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/RangerKerberosConfigCalculationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/RangerKmsProxyConfigTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/RangerUsersyncConfigCalculationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/RangerWebAlertConfigActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/SparkShufflePropertyConfigTest.java
Labels: SPI, upgrade

#2597 AMBARI-24885 Ambari Files view not working when User doesnt have access to any group and just have access to Filesview
  ambari-web/app/routes/main.js
Labels: web client

#2674 AMBARI-24967. Documented Ambari's LDAP configuration
  ambari-server/docs/security/ldap/index.md
Labels: LDAP, documentation
