Repository apache/ambari, pull requests merged in 2018-04, with the labels that each got.

#851 [AMBARI-23417] Upgrade Requires a Pre-Upgrade Configuration Validation Check for Kafka (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/checks/AbstractCheckDescriptor.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/HostsRepositoryVersionCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/KafkaPropertiesCheck.java
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/upgrade-2.6.xml
  ambari-server/src/test/java/org/apache/ambari/server/checks/KafkaPropertiesCheckTest.java
Labels: upgrade

#854 [AMBARI-23112] [trunk] Some libraries are not relocated in ambari-metrics-common.
  ambari-metrics/ambari-metrics-common/pom.xml
Labels: ams, cleanup

#849 [AMBARI-23421] Add solr-to-solr archive operation for solrDataManager.py.
  ambari-infra/ambari-infra-solr-client/src/main/python/solrDataManager.py
Labels: infra-solr

#834 [AMBARI-23407] Issues for no NN federation case appearing after federation support implementation
  ambari-web/app/app.js
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/templates/main/service/services/hdfs.hbs
  ambari-web/app/views/main/dashboard/widgets.js
  ambari-web/app/views/main/dashboard/widgets/namenode_cpu.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
  ambari-web/test/views/main/dashboard/widgets_test.js
Labels: web client

#832 AMBARI-23401 Problems while selecting the property uniquely in Configurations screen while installation
  ambari-web/app/views/common/controls_view.js
Labels: web client

#861 AMBARI-23428. Log Search / Log Feeder: Set kerberos related solr properties through java opts.
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/SolrCollectionConfigurer.java
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/logfeeder-env.sh.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/logsearch-env.sh.j2
Labels: logsearch

#863 [AMBARI-23074] Change the default datadir for Infra Solr.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/test/python/stacks/2.4/AMBARI_INFRA/test_infra_solr.py
  ambari-server/src/test/python/stacks/2.4/configs/default.json
Labels: infra-solr

#869 [AMBARI-23112] [trunk] REVERT Some libraries are not relocated in ambari-metrics-com…
  ambari-metrics/ambari-metrics-common/pom.xml
Labels: ams

#870 [AMBARI-23439] Overflowing list of frozen hosts in Assign Slaves and …
  ambari-web/app/styles/wizard.less
Labels: web client

#866 AMBARI-23080. Log Search: use compositeId instead of implicit routing by default for collections.
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogFeederConstants.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrAuditLogPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrConnectionPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/handler/CreateCollectionHandler.java
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-properties.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logsearch-properties.xml
Labels: logsearch

#867 AMBARI-23361 - Integrate RequestScheduleService to Swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/RequestScheduleService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/RequestScheduleRequestSwagger.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/RequestScheduleResponseSwagger.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RequestScheduleResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RequestScheduleResourceProviderTest.java
Labels: API, documentation

#720 AMBARI-23283 Install Wizard > Select Version page: the user cannot proceed with Redhat Satellite option
  ambari-web/app/views/wizard/step1_view.js
  ambari-web/test/views/wizard/step1_view_test.js
Labels: web client

#780 AMBARI-23357 Update combo filter style
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-web/app/styles/application.less
  ambari-web/app/styles/visualsearch.less
  ambari-web/app/templates/main/alerts.hbs
  ambari-web/app/templates/main/dashboard/config_history.hbs
  ambari-web/app/templates/main/host.hbs
Labels: web client

#803 AMBARI-23379 UI loading stuck after deleting service
  ambari-web/app/models/service.js
Labels: web client

#871 [AMBARI-23441] API Addition for Upgrade Plan for Config Changes
  ambari-server/src/main/java/org/apache/ambari/server/agent/HeartBeatHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradePlanResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradePlanConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradePlanDetailEntity.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/main/resources/META-INF/persistence.xml
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradePlanResourceProviderTest.java
Labels: upgrade

#874 [AMBARI-23440] Receiving HTTP error code of 404 when fetching sso-configuration from the DB is not a real error and should be handled
  ambari-server/src/main/python/ambari_server/setupSso.py
  ambari-server/src/test/python/TestSetupSso.py
Labels: server setup, sso

#875 [AMBARI-23433] Remove unnecessary properties from the Ranger SSO configuration updates via the stack advisor
  ambari-server/src/main/resources/stacks/HDP/2.6/services/stack_advisor.py
Labels: sso, stack advisor

#848 [AMBARI-23420] Refine pre-check message to remove unsupported services before upgrade to HDP-3.0
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
Labels: upgrade

#860 AMBARI-23429 Added missing imports
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
Labels: ams

#883 AMBARI-23453 - Integrate ConfigurationService to Swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ConfigurationService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ConfigurationRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ConfigurationResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AbstractProviderModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ConfigGroupResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ConfigurationResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/configgroup/ConfigGroupImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ConfigurationResourceProviderTest.java
Labels: API, documentation

#885 [AMBARI-23462] NN federation related fixes for host details page
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/mappers/hosts_mapper.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/mixins/main/dashboard/widgets/namenode_widget.js
  ambari-web/app/models/host.js
  ambari-web/app/templates/main/dashboard/widgets/uptime.hbs
  ambari-web/app/views/main/dashboard/widgets/hdfs_capacity.js
  ambari-web/app/views/main/dashboard/widgets/hdfs_links.js
  ambari-web/app/views/main/dashboard/widgets/namenode_heap.js
  ambari-web/app/views/main/dashboard/widgets/namenode_rpc.js
  ambari-web/app/views/main/dashboard/widgets/namenode_uptime.js
  ambari-web/app/views/main/host/summary.js
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
  ambari-web/test/views/main/dashboard/widgets/namenode_rpc_test.js
Labels: web client

#707 AMBARI-23207 The tooltip for Overriden properties shown under manage Config Groups page has '<br/>' in the tooltip text
  ambari-web/app/controllers/main/service/manage_config_groups_controller.js
  ambari-web/app/models/configs/config_group.js
  ambari-web/app/views/main/service/manage_config_groups_view.js
  ambari-web/test/models/configs/config_group_test.js
Labels: web client

#884 [AMBARI-23461] Fix TestHeartbeatHandler.testComponents NPE
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
Labels: unit-test

#895 [AMBARI-23471] Ubuntu16: Install components exited with code '100' with message: debconf: delaying package configuration, since apt-utils is not installed (dgrinenko)
  ambari-common/src/main/python/ambari_commons/shell.py
Labels: ambari-common py library

#899 AMBARI-23454 - Integrate ConfigGroup Service to Swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ConfigGroupService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ConfigGroupRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ConfigGroupResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ConfigGroupResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ConfigGroupResourceProviderTest.java
Labels: API, documentation

#900 [AMBARI-23477] Utility to parse initial active namenode for blueprint deployment
  ambari-common/src/main/python/resource_management/libraries/functions/namenode_ha_utils.py
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_namenode.py
Labels: ambari-common py library, blueprint

#888 [AMBARI-23455] Improve parallel start performance
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/oozie.py
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/oozie_client.py
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/oozie_service.py
  ambari-server/src/main/resources/common-services/SPARK/1.2.1/package/scripts/spark_client.py
  ambari-server/src/main/resources/common-services/SPARK2/2.0.0/package/scripts/spark_client.py
  ambari-server/src/main/resources/common-services/SQOOP/1.4.4.2.0/package/scripts/sqoop_client.py
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/package/scripts/yarn_client.py
  ambari-server/src/main/resources/common-services/ZOOKEEPER/3.4.5/package/scripts/zookeeper_client.py
  ambari-server/src/test/python/stacks/2.0.6/HIVE/test_mysql_server.py
  ambari-server/src/test/python/stacks/2.0.6/OOZIE/test_oozie_server.py
Labels: blueprint, unit-test

#894 [AMBARI-23472] NameNode HA: QuickLinks section issues
  ambari-web/app/templates/main/service/info/summary.hbs
Labels: web client

#840 AMBARI-23411 Invalid websocket client port when connected over https
  ambari-web/app/utils/stomp_client.js
  ambari-web/test/utils/stomp_client_test.js
Labels: web client

#846 AMBARI-23416 Background Operations: icons have incorrect color
  ambari-web/app/styles/application.less
  ambari-web/app/styles/hosts.less
Labels: web client

#907 [AMBARI-23484] Update Kerberos service documentation for Ambari 2.7.0
  ambari-server/docs/security/kerberos/enabling_kerberos.md
  ambari-server/docs/security/kerberos/kerberos_service.md
Labels: documentation

#918 AMBARI-23495. Fix Ambari Infra Solr service advisor class name.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/service_advisor.py
Labels: infra-solr

#922 AMBARI-23499. Infra Solr - ambari commons - max_shard calculation can…
  ambari-common/src/main/python/resource_management/libraries/functions/solr_cloud_util.py
Labels: infra-solr

#926 [AMBARI-23504] Pre-Upgrade Configuration Check for Kafka should only apply to HDP 2.6.5-> HDP 2.6.x (Not HDF) (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/checks/KafkaPropertiesCheck.java
Labels: upgrade

#923 [AMBARI-23501] Fixes for NameNode widgets on dashboard
  ambari-web/app/mixins/main/dashboard/widgets/namenode_widget.js
  ambari-web/app/styles/dashboard.less
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/views/main/dashboard/widget.js
  ambari-web/app/views/main/dashboard/widgets.js
  ambari-web/test/views/main/dashboard/widget_test.js
  ambari-web/test/views/main/dashboard/widgets_test.js
Labels: web client

#930 AMBARI-23507 : AMS sinks should be compatible with both ambari metrics collector versions 2.6.x and 2.7.0.
  ambari-metrics/ambari-metrics-common/src/main/java/org/apache/hadoop/metrics2/sink/timeline/TimelineMetric.java
  ambari-metrics/ambari-metrics-host-aggregator/src/test/java/org/apache/hadoop/metrics2/sink/timeline/AggregatedMetricsPublisherTest.java
  ambari-metrics/ambari-metrics-host-aggregator/src/test/java/org/apache/hadoop/metrics2/sink/timeline/RawMetricsPublisherTest.java
Labels: ams

#932 [AMBARI-23509] Fix the unhandled http request promise error
  ambari-logsearch/ambari-logsearch-web/src/app/app.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/login-form/login-form.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/login-form/login-form.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/app-load/services/app-load.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/auth.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/http-client.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/mock-api-data.service.spec.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/mock-api-data.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/test-config.spec.ts
Labels: logsearch

#928 AMBARI-23505 - Cluster version is not updated after stack upgrade
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/UpdateDesiredRepositoryAction.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/StackManager.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackManagerMock.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClusterTest.java
Labels: upgrade

#937 [AMBARI-23513] Fix logsearch-performance.json file path.
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/templates/input.config-logsearch.json.j2
Labels: logsearch

#940 [AMBARI-23516] Ambari can not recognize slash in property name in xml…
  ambari-web/app/mappers/configs/themes_mapper.js
  ambari-web/app/utils/validator.js
Labels: web client

#942 AMBARI-23519 - Removal of Repository Version State
  ambari-server/src/main/java/org/apache/ambari/server/StateRecoveryManager.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceComponentResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ComponentResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceComponentDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/state/RepositoryVersionState.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponent.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentImpl.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ComponentResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClusterTest.java
Labels: repos

#862 AMBARI-23423 JS error while deploying new service
  ambari-web/app/mappers/components_state_mapper.js
  ambari-web/app/views/loading.js
  ambari-web/test/mappers/components_state_mapper_test.js
Labels: web client

#896 AMBARI-23473 UI option to stop HDFS service doesnt work - JS Error
  ambari-web/app/controllers/main/service/item.js
Labels: web client

#864 AMBARI-23432 Cannot save edited repository urls in Ambari Version UI
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/ConfirmationModal.js
Labels: web client

#850 AMBARI-23422 Dashboard: add Yarn Containers widget
  ambari-web/app/data/dashboard_widgets.js
  ambari-web/app/messages.js
  ambari-web/app/templates/main/dashboard/widgets/simple_text.hbs
  ambari-web/app/views.js
  ambari-web/app/views/main/dashboard/widgets/text_widget.js
  ambari-web/app/views/main/dashboard/widgets/yarn_containers.js
Labels: web client

#903 [AMBARI-23481] Selected Hosts dropdown is disabled after navigating a…
  ambari-web/app/controllers/main/host.js
  ambari-web/app/routes/main.js
  ambari-web/app/views/main/host.js
Labels: web client

#909 [AMBARI-23487] Cannot tell which services are in maintenance mode.
  ambari-web/app/messages.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/common.less
  ambari-web/app/templates/main/service/menu_item.hbs
  ambari-web/app/views/main/menu.js
Labels: web client

#897 [AMBARI-23431] Removing hostId condition in order to process AMBARI identities even if there was an agent installed on the server's host
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/ConfigureAmbariIdentitiesServerAction.java
Labels: kerberos

#944 [AMBARI-23486] Move SSO-related properties from ambari.properties into the Ambari DB
  ambari-server/docs/configuration/index.md
  ambari-server/src/main/java/org/apache/ambari/server/api/AmbariErrorHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/spring/GuiceBeansConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariBasicAuthenticationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/JwtAuthenticationProperties.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/JwtAuthenticationPropertiesProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariKerberosAuthenticationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/main/python/ambari_server/setupSso.py
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/main/resources/stacks/HDP/2.6/services/stack_advisor.py
  ambari-server/src/main/resources/stacks/ambari_configuration.py
  ambari-server/src/test/java/org/apache/ambari/server/api/AmbariErrorHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/python/TestSetupSso.py
  ambari-server/src/test/python/stacks/test_ambari_configuration.py
Labels: server setup, sso

#963 AMBARI-23246 - Pass Mpack ID In Agent Commands For Installation Updates
  ambari-agent/src/main/python/ambari_agent/CommandStatusDict.py
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ActionScheduler.java
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/Stage.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ActionExecutionContext.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariActionExecutionHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/events/CommandReportReceivedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/upgrade/MpackInstallStateListener.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/StageUtils.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestActionDBAccessorImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestActionManager.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestActionScheduler.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/TestStage.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatTestHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/ComponentVersionAlertRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/KerberosHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthenticationSourceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/KerberosKeytabsActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PreconfigureKerberosActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/users/PostUserCreationHookServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stageplanner/TestStagePlanner.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClusterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/services/AlertNoticeDispatchServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/services/CachedAlertFlushServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testutils/PartialNiceMockBinder.java
  ambari-server/src/test/java/org/apache/ambari/server/utils/StageUtilsTest.java
Labels: repos

#974 AMBARI-23551. Disable system out for Logfeeder log (logfeeder.out)
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/logfeeder-log4j.xml.j2
Labels: logsearch

#972 [AMBARI-23544] NameNode namespaces aren't displayed after HDFS page refresh
  ambari-web/app/mixins/main/dashboard/widgets/namenode_widget.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/views/main/service/info/summary.js
Labels: web client

#978 [AMBARI-23554] NN federation: switching namespaces for dashboard widgets doesn't work
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/views/main/service/info/summary.js
Labels: web client

#968 AMBARI-23542 UI Performance Tuning
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/app/controllers/main/admin/highAvailability_controller.js
  ambari-web/app/controllers/main/dashboard/config_history_controller.js
  ambari-web/app/controllers/main/host.js
  ambari-web/app/mixins/main/service/themes_mapping.js
  ambari-web/app/routes/reassign_master_routes.js
  ambari-web/app/templates/main/dashboard/config_history.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/utils/config.js
  ambari-web/app/views/main/dashboard/config_history_view.js
  ambari-web/app/views/main/host.js
  ambari-web/app/views/main/host/details/host_component_view.js
  ambari-web/test/controllers/main/admin/highAvailability_controller_test.js
  ambari-web/test/controllers/main/dashboard/config_history_controller_test.js
  ambari-web/test/controllers/main/host_test.js
  ambari-web/test/views/main/host/details/host_component_view_test.js
  ambari-web/test/views/main/host_test.js
Labels: web client

#970 AMBARI-23543 Comparing config versions style tweaks
  ambari-web/app/messages.js
  ambari-web/app/styles/config_versions_control.less
  ambari-web/app/templates/common/configs/config_versions_control.hbs
  ambari-web/app/templates/common/configs/config_versions_dropdown.hbs
Labels: web client

#973 [AMBARI-23550] Ambari Metrics references outdated jars
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/AbstractMiniHBaseClusterTest.java
  ambari-metrics/pom.xml
Labels: ams, build

#979 [AMBARI-23556] Fix constraint issue during logfeeder log entry testing.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/request/impl/ShipperConfigTestRequest.java
Labels: logsearch

#993 AMBARI-23386 HSI ADDENDUM Jdbc URL should handle HA mode (mgergely)
  ambari-web/app/controllers/main/service/info/summary.js
Labels: web client

#996 [AMBARI-23566] Fix shipper config test entry mechanism
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/ConfigHandler.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogEntryParseTester.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/loglevelfilter/LogLevelFilterHandler.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputManagerImpl.java
  ambari-logsearch/ambari-logsearch-server/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/doc/DocConstants.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ShipperConfigManager.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/request/ShipperConfigTestParams.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/request/impl/ShipperConfigTestRequest.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/rest/ShipperConfigResource.java
Labels: logsearch

#1000 AMBARI-23574. Log Feeder: fix startup issues (root logger + include lazy config)
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/InputSimulateConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogEntryCacheConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederSecurityConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/MetricsCollectorConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/scripts/logfeeder-env.sh~HEAD
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/scripts/logfeeder-env.sh~trunk
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/scripts/logfeeder.sh
  ambari-logsearch/ambari-logsearch-server/src/main/scripts/logsearch-env.sh~HEAD
  ambari-logsearch/ambari-logsearch-server/src/main/scripts/logsearch-env.sh~trunk
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/logfeeder-log4j.xml.j2
Labels: logsearch

#1007 [AMBARI-23583] Fix typo in apt-manager (ambari-common)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: ambari-common py library, typo, upgrade

#1005 [AMBARI-23581] Fix permissions of logsarch/logfeeder scripts for debian packages.
  ambari-logsearch/ambari-logsearch-logfeeder/build.xml
  ambari-logsearch/ambari-logsearch-server/build.xml
Labels: build, logsearch

#1010 [AMBARI-23584] Pre Upgrade checks look for kafka service validation even when the service is deleted (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/checks/KafkaPropertiesCheck.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KafkaPropertiesCheckTest.java
Labels: upgrade

#1001 [AMBARI-23577] NN Federation Service Pages Changes
  ambari-web/app/styles/application.less
  ambari-web/app/styles/dashboard.less
  ambari-web/app/templates/common/widget/gauge_widget.hbs
  ambari-web/app/templates/common/widget/graph_widget.hbs
  ambari-web/app/templates/common/widget/number_widget.hbs
  ambari-web/app/templates/common/widget/template_widget.hbs
  ambari-web/app/templates/main/service/info/metrics.hbs
  ambari-web/app/templates/main/service/info/summary/hdfs/widgets.hbs
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
Labels: web client

#1004 [AMBARI-23579] Ambari shows invalid passwords as plaintext
  ambari-web/app/mixins/common/serverValidator.js
  ambari-web/test/mixins/common/serverValidator_test.js
Labels: web client

#994 AMBARI-23571 Hosts page: Combo filter should use hostname as default filter
  ambari-web/app/views/main/host/combo_search_box.js
  ambari-web/test/views/main/host/combo_search_box_test.js
Labels: web client

#995 AMBARI-23572 Navigation sub-menu style changes
  ambari-web/app/styles/alerts.less
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/templates/main/service/menu_item.hbs
Labels: web client

#956 AMBARI-23528 Usability: Generate blueprint should download a single Zip file and not 2 files.
  ambari-web/app/controllers/wizard/step8_controller.js
  ambari-web/app/utils/file_utils.js
  ambari-web/brunch-config.js
  ambari-web/test/controllers/wizard/step8_test.js
  ambari-web/vendor/scripts/jszip.min.js
Labels: web client

#984 AMBARI-23563 Alerts Are Not Updated in the UI
  ambari-web/app/mappers/socket/alert_summary_mapper.js
  ambari-web/test/mappers/socket/alert_summary_mapper_test.js
Labels: web client

#991 AMBARI-23567 : Add ability to skip in memory cluster aggregation on certain metrics.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/TimelineMetricsIgniteCache.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/AggregatorUtils.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
Labels: ams

#1011 [AMBARI-23580] Failed to stop AMS components after Ambari-only upgrade.
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/templates/metric_monitor.ini.j2
Labels: ams

#845 [AMBARI-23415] Remove unwanted trailing slash at the end of hbase_pid…
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-hbase-env.xml
Labels: cleanup

#985 [Ambari 23549] Blueprint configuration processor updates for HDFS NameNode Federation
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#1006 [AMBARI-23582] UI reads service versions from base stack repo
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/views/main/admin/stack_upgrade/services_view.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
Labels: web client

#1012 AMBARI-23438 : Fix failing metrics unit tests on trunk.
  ambari-metrics/ambari-metrics-common/pom.xml
  ambari-metrics/ambari-metrics-common/src/main/java/org/apache/hadoop/metrics2/sink/timeline/cache/TimelineMetricsEhCacheSizeOfEngine.java
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/source/cache/InternalMetricsCacheSizeOfEngine.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/source/RawMetricsSourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/StackDefinedPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/timeline/AMSPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/timeline/AMSReportPropertyProviderTest.java
Labels: unit-test

#1017 [AMBARI-23587] Schema upgrade fails on Oracle
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessorImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/helpers/dbms/GenericDbmsHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/DBAccessorImplTest.java
Labels: upgrade

#975 AMBARI-23552. Switch to using Surrogate PK in Ambari DB tables, wherever applicable.
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradePlanResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/VersionDefinitionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ClusterServiceDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ServiceDesiredStateDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ServiceGroupDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterServiceEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterServiceEntityPK.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ConfigGroupEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostConfigMappingEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceComponentDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceDependencyEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceDesiredStateEntityPK.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceGroupDependencyEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceGroupEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceGroupEntityPK.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/configgroup/ConfigGroupImpl.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ServiceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradePlanResourceProviderTest.java
Labels: JPA, SQL

#1029 [AMBARI-23602] NN Federation Lower priority changes
  ambari-web/app/messages.js
  ambari-web/app/mixins/wizard/assign_master_components.js
  ambari-web/app/styles/dashboard.less
  ambari-web/app/styles/enhanced_service_dashboard.less
  ambari-web/app/templates/common/assign_master_components.hbs
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/templates/main/service/widgets/create/step2_add_metric.hbs
  ambari-web/app/templates/main/service/widgets/create/step2_component_dropdown.hbs
  ambari-web/app/views/main/service/widgets/create/expression_view.js
  ambari-web/app/views/main/service/widgets/create/step2_view.js
Labels: web client

#1027 AMBARI-23594 - LZO Libraries Are Not Installed Correctly During Upgrade
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/RepositoryVersionHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/OrmTestHelper.java
Labels: repos, upgrade

#1040 [AMBARI-23610] Enable NameNode HA fails after Ambari upgrade
  ambari-agent/src/main/python/ambari_agent/ConfigurationBuilder.py
  ambari-agent/src/test/python/ambari_agent/TestConfigurationBuilder.py
Labels: agent

#1042 [AMBARI-23614] Move NameNode wizard is stuck on Review step after enabling federation
  ambari-web/app/controllers/main/service/reassign/step3_controller.js
Labels: web client

#1023 AMBARI-23596 Ambari web should escape slash in config names
  ambari-web/app/mixins/common/configs/configs_saver.js
  ambari-web/app/utils/string_utils.js
  ambari-web/test/utils/string_utils_test.js
Labels: web client

#1039 [AMBARI-23553]. Unable to delete Slider after Ambari upgrade, due to Hive dependency (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/ComponentsExistInRepoCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/PrereqCheckRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/DeleteUnsupportedServicesAndComponents.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ConfigHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ConfigMergeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentSupport.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/UpgradePack.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ServerSideActionTask.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ComponentExistsInRepoCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceComponentSupportTest.java
Labels: upgrade

#1049 [AMBARI-23622] JWT cookie name and audiences not queried for during ambari-server setup-sso
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSso.py
Labels: server setup, sso

#1052 [AMBARI-23626] Progress bar is missing in UI during package install
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_box_view.js
Labels: web client

#1014 AMBARI-23586 - Cluster deployment fails if agent started after cluste…
  ambari-agent/src/main/python/ambari_agent/Constants.py
  ambari-agent/src/main/python/ambari_agent/HeartbeatThread.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/TopologyHolder.java
Labels: agent, blueprint

#1051 [AMBARI-23615] Header missing in Step2 Select hosts page in NN Federation Wizard
  ambari-web/app/messages.js
  ambari-web/app/views/main/admin/federation/step2_view.js
Labels: web client

#1048 AMBARI-23623 Enable NameNode HA fails if Ranger is set up with Ambari-managed Hive MySQL DB instance
  ambari-web/app/controllers/main/admin/highAvailability/nameNode/step7_controller.js
  ambari-web/app/messages.js
  ambari-web/test/controllers/main/admin/highAvailability/nameNode/step7_controller_test.js
Labels: web client

#1057 [AMBARI-23633] Missing tooltip/indicator for unsupported services in Versions page when HDP-3.0 VDF is registered
  ambari-web/app/messages.js
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_column.hbs
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_column_view.js
Labels: web client

#1054 [AMBARI-23628] Enable Ambari SSO to be enabled without impacting other service sso configs
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSso.py
  ambari-server/src/test/python/TestSetupSso.py
Labels: server setup, sso

#1062 [AMBARI-23646] Include commons-logging library for Infra Solr debian build
  ambari-infra/ambari-infra-assembly/pom.xml
Labels: infra-solr

#1064 [AMBARI-23649] Upgrade Solr version from 7.2.1 to 7.3.0
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/util/SolrUtil.java
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/audit_logs-solrconfig.xml.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: infra-solr, logsearch

#1065 [AMBARI-23651] Infra Solr / Logsearch: debian9 support.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/metainfo.xml
Labels: infra-solr, logsearch, repos

#1069 [AMBARI-23656] NameNode namespaces aren't sorted by name
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/views/main/service/info/summary.js
Labels: web client

#1071 [AMBARI-23658] No widgets displayed on dashboard after adding third NameNode namespace
  ambari-web/app/views/main/dashboard/widgets.js
Labels: web client

#1063 [AMBARI-23648] - Log Search UI: Various fixes for Shipper Configuration
  ambari-logsearch/ambari-logsearch-web/src/app/app.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/notifications.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/services/notification.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/directives/validator.directive.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/services/shipper.guard.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/shipper-routing.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/shipper.module.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: logsearch

#1072 [AMBARI-23620] Moving DB configuration related code to common Service Advisor so that both Hive and Oozie can reuse it
  ambari-server/src/main/resources/stacks/service_advisor.py
Labels: cleanup, stack advisor

#1079 AMBARI-23670 UI Styling Is Incorrect On Upgrade Repositories Page
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_history.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_column.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/versions.hbs
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_box_view.js
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_column_view.js
  ambari-web/app/views/main/admin/stack_upgrade/versions_view.js
Labels: web client

#1088 AMBARI-23676 In Select Target Host page as part of Move Master wizard, the host holding the component is not present in list of options
  ambari-web/app/controllers/main/service/reassign/step2_controller.js
  ambari-web/app/models/client_component.js
Labels: web client

#1081 [AMBARI-23673] Available packages reader speed is to slow for ubuntu systems (dgrinenko)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: ambari-common py library

#1089 AMBARI-23681 - capitalize API references for Swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ClusterService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/HostService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/RootServiceService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/SettingService.java
Labels: API, documentation

#1093 [AMBARI-23662] Log Search UI: subscription error on route changing
  ambari-logsearch/ambari-logsearch-web/src/app/app-routing.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/breadrumbs/breadcrumbs.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/cluster-filter/cluster-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/logs-container/logs-container.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/shared.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-service-configuration-form/shipper-service-configuration-form.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/directives/validator.directive.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/services/shipper.guard.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/shipper-routing.module.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/auth.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-filtering-utils.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/tab.guard.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: logsearch

#1092 [AMBARI-23686] HDFS metrics page: list of namespaces is misaligned
  ambari-web/app/styles/enhanced_service_dashboard.less
  ambari-web/app/templates/main/service/info/metrics.hbs
Labels: web client

#1099 [AMBARI-23694] Symlinks are not followed when requesting resources from Ambari's resources entry point
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
Labels: cleanup

#1094 [AMBARI-23683] dfs_ha_initial_* properties should be removed after installation
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/events/AmbariEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ClusterProvisionedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/params_linux.py
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/package/scripts/params_linux.py
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ConfigurationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
  ambari-server/src/test/python/stacks/2.0.6/configs/ha_bootstrap_active_node.json
  ambari-server/src/test/python/stacks/2.0.6/configs/ha_bootstrap_standby_node.json
  ambari-server/src/test/python/stacks/2.0.6/configs/ha_bootstrap_standby_node_initial_start.json
  ambari-server/src/test/python/stacks/2.0.6/configs/ha_bootstrap_standby_node_initial_start_dfs_nameservices.json
Labels: blueprint

#1100 [AMBARI-23698] Remove unsecure dependencies from ambari-utility
  ambari-project/pom.xml
  ambari-utility/pom.xml
Labels: security

#1116 AMBARI-23710 : Ambari Metrics Service check fails on Ubuntu16.
  ambari-metrics/ambari-metrics-assembly/pom.xml
Labels: ams

#1115 [AMBARI-23709] Agent uses compressed topology upon retry
  ambari-agent/src/main/python/ambari_agent/CustomServiceOrchestrator.py
Labels: agent

#1107 AMBARI-23690 The UI should ignore Kerberos identity references when setting the user-supplied Kerberos descriptor
  ambari-web/app/controllers/main/admin/kerberos/wizard_controller.js
  ambari-web/app/routes/add_kerberos_routes.js
  ambari-web/test/controllers/main/admin/kerberos/kerberos_wizard_controler_test.js
Labels: web client

#1110 AMBARI-23011 Ranger LB URL is pointing to ranger port by default when we click on Quick link
  ambari-web/app/views/common/quick_view_link_view.js
Labels: web client

#1122 [AMBARI-23716] Kafka Quick Links Shows all Views links
  ambari-web/app/templates/main/service/info/summary.hbs
  ambari-web/app/views/main/service/info/summary.js
Labels: web client

#1120 [AMBARI-23714] Log Feeder: use info level log instead of warn when a l…
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/util/FileUtil.java
Labels: logsearch

#1119 AMBARI-23693. Log Search: Turn off spring boot actuator endpoints by default
  ambari-logsearch/ambari-logsearch-server/src/main/resources/default.properties
Labels: logsearch

#1125 [AMBARI-23689] Installing Packages Fails Silently When Dependencies Are Not Resolved (dgrinenko)
  ambari-common/src/main/python/ambari_commons/shell.py
  ambari-server/src/main/resources/custom_actions/scripts/install_packages.py
Labels: upgrade

#1121 AMBARI-23713. Handling missing data in 'repositories' JSON
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: upgrade

#977 [AMBARI-23441] Escape column name `key` (reserved word)
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
Labels: SQL, typo

#1124 [AMBARI-23688] Multiple versions of asm.jar found in classpath
  ambari-server/pom.xml
Labels: cleanup

#1129 AMBARI-23720 Ambari UI trying to create GPL repo with empty base url for the rest repos
  ambari-web/app/controllers/installer.js
  ambari-web/app/controllers/wizard/step1_controller.js
Labels: web client

#1123 AMBARI-23715 Config Version Comparison tool shows diff text merging into each other if config values are long.
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/templates/common/configs/service_config.hbs
  ambari-web/app/views/common/configs/service_config_view.js
Labels: web client

#1134 [AMBARI-23530] Document enabling SSO via CLI
  ambari-server/docs/security/sso/index.md
Labels: server setup, sso

#1137 AMBARI-23730 When Spark2 is selected in left pane, Spark also gets selected along with it
  ambari-web/vendor/scripts/theme/bootstrap-ambari.js
Labels: web client

#1117 [AMBARI-23711] Customize Services - The selected service/Modified con…
  ambari-web/app/controllers/wizard.js
  ambari-web/app/controllers/wizard/step7_controller.js
  ambari-web/app/messages.js
  ambari-web/app/routes/add_host_routes.js
  ambari-web/app/routes/add_service_routes.js
  ambari-web/app/routes/installer.js
  ambari-web/app/views/wizard/step7/directories_tab_view.js
  ambari-web/app/views/wizard/step7_view.js
  ambari-web/test/controllers/wizard/step7_test.js
Labels: web client
