Repository apache/ambari, pull requests merged in 2018-09, with the labels that each got.

#2213 AMBARI-24574. Cover mainHostComboSearchBoxController with tests
  ambari-web/app/assets/test/tests.js
  ambari-web/test/controllers/main/host/combo_search_box_test.js
Labels: unit-test, web client

#2220 AMBARI-24576. Ambari Metrics should handle a customized Zookeeper ser…
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-hbase-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params_linux.py
Labels: security

#2233 AMBARI-24585 'yarn.nodemanager.linux-container-executor.cgroups.hierarchy' is not equal to the value of yarn_hierarchy in UI Deploy
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
  ambari-web/app/views/common/configs/service_config_container_view.js
Labels: web client

#2234 AMBARI-24585 'yarn.nodemanager.linux-container-executor.cgroups.hierarchy' is not equal to the value of yarn_hierarchy in UI Deploy
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
  ambari-web/app/views/common/configs/service_config_container_view.js
Labels: web client

#2248 AMBARI-24593. Download client config fails if user running Ambari ser…
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProvider.java
Labels: cherry-pick

#2247 AMBARI-23026. Using smoke user's principal/keytab within alerts in a secure cluster
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/alerts.json
  ambari-server/src/main/resources/common-services/FALCON/0.5.0.2.1/alerts.json
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/alerts.json
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/alerts.json
  ambari-server/src/main/resources/common-services/STORM/0.9.1/alerts.json
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/alerts.json
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/HDFS/alerts.json
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/YARN/alerts.json
Labels: alerts, kerberos, security

#2212 [AMBARI-24573] Clarify the warning message during ambari server setup…
  ambari-server/src/main/python/ambari_server/dbConfiguration_linux.py
Labels: cherry-pick

#2261 AMBARI-24546. Inserting new role authorization into DB tables
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
Labels: API, security

#2262 AMBARI-24546. Inserting new role authorization into DB tables
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
Labels: API, security

#2263 AMBARI-24596. Stack Advisor reported an error. Exit Code: 2. Error: K…
  contrib/management-packs/isilon-onefs-mpack/src/main/resources/addon-services/ONEFS/1.0.0/service_advisor.py
Labels: cherry-pick

#2260 AMBARI-23077. LogFeeder: create socket input.
  ambari-logsearch/ambari-logsearch-appender/src/test/resources/log4j.properties
  ambari-logsearch/ambari-logsearch-config-api/src/main/java/org/apache/ambari/logsearch/config/api/model/inputconfig/InputSocketDescriptor.java
  ambari-logsearch/ambari-logsearch-config-json/src/main/java/org/apache/ambari/logsearch/config/json/model/inputconfig/impl/InputAdapter.java
  ambari-logsearch/ambari-logsearch-config-json/src/main/java/org/apache/ambari/logsearch/config/json/model/inputconfig/impl/InputSocketDescriptorImpl.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigServerZK.java
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/src/main/java/org/apache/ambari/logfeeder/plugin/input/Input.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/InputFile.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/InputSocket.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/InputSocketMarker.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/alias_config.json
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/resources/log-samples/shipper-conf/input.config-sample.json
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerInputConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerInputSocket.java
Labels: logsearch

#2281 AMBARI-24612 Host Level Maintenance mode is not working through Ambari UI
  ambari-web/app/views/main/host/details.js
Labels: web client

#2279 AMBARI-24612 Host Level Maintenance mode is not working through Ambari UI
  ambari-web/app/views/main/host/details.js
Labels: web client

#2273 AMBARI-24609. Ability to install common ambari python libraries to maven repository (local / remote).
  install-ambari-python.sh
  setup.py
Labels: ambari-commons, build

#2277 [AMBARI-24610] [Log Search UI] Show user friendly component name in query input
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.spec.ts
Labels: logsearch

#2278 [AMBARI-24610] [Log Search UI] Show user friendly component name in query input
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.spec.ts
Labels: cherry-pick, logsearch

#2276 AMBARI-24516 - Default value for LDAP type
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: cherry-pick, security, server, server setup

#2289 [AMBARI-24619] Horizontal scroll bar on assign slaves and clients page is not convenient for deploy with numerous hosts
  ambari-web/app/styles/common.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/wizard/step6.hbs
  ambari-web/app/views/wizard/step6_view.js
  ambari-web/test/views/wizard/step6_view_test.js
Labels: web client

#2295 AMBARI-24624. Log Search: Field type 'key_lower_case' not found - in Solr
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
Labels: logsearch

#2296 AMBARI-24624. Log Search: Field type 'key_lower_case' not found - in …
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
Labels: cherry-pick, logsearch

#2293 AMBARI-24620 Duplicate view of configurations in Add Service wizard
  ambari-web/app/views/common/configs/service_config_container_view.js
Labels: web client

#2294 AMBARI-24620 Duplicate view of configurations in Add Service wizard
  ambari-web/app/views/common/configs/service_config_container_view.js
Labels: web client

#2299 AMBARI-24626. Log Search: some solr fields are missing from service log / audit log response
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/response/ServiceLogData.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/SolrConstants.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/model/SolrCommonLogData.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/model/SolrServiceLogData.java
Labels: logsearch

#2302 AMBARI-24626. Log Search: some solr fields are missing from service log / audit log response
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/response/ServiceLogData.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/SolrConstants.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/model/SolrCommonLogData.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/solr/model/SolrServiceLogData.java
Labels: cherry-pick, logsearch

#2307 AMBARI-24627 "Host is in Maintenance mode" text is not displayed in UI after maintenance mode is turned on
  ambari-web/app/models/host.js
  ambari-web/app/models/host_component.js
  ambari-web/app/views/main/host/details.js
  ambari-web/test/models/host_component_test.js
Labels: web client

#2306 AMBARI-24627 "Host is in Maintenance mode" text is not displayed in UI after maintenance mode is turned on
  ambari-web/app/models/host.js
  ambari-web/app/models/host_component.js
  ambari-web/app/views/main/host/details.js
  ambari-web/test/models/host_component_test.js
Labels: web client

#2311 [AMBARI-24636] Add Service wizard fails if a service without configs …
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
Labels: web client

#2312 [AMBARI-24636] Add Service wizard fails if a service without configs …
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
Labels: cherry-pick, web client

#2259 [AMBARI-24464] Integrate Blueprints with the new MPackAdvisor API for Configuration Recommendations
  ambari-server/src/main/java/org/apache/ambari/server/api/services/AdvisorBlueprintProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorBlueprintProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorRunner.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackAdvisorCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/mpackadvisor/recommendations/MpackRecommendationResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorBlueprintProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ControllerModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ConfigurationResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/MpackAdvisorResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterConfigurationRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopology.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/MpackInstance.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ServiceInstance.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/ExceptionUtils.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/MpackAdvisorBlueprintProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/mpackadvisor/commands/MpackAdvisorCommandTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequestTest.java
Labels: blueprint

#2321 AMBARI-24640. Log Search: support to remove suffixes from field names.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/LabelFallbackHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/LogSearchConstants.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/UIMappingConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/AuditLogsManager.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ServiceLogsManager.java
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/common/LabelFallbackHandlerTest.java
Labels: logsearch

#2322 AMBARI-24640. Log Search: support to remove suffixes from field names.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/LabelFallbackHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/LogSearchConstants.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/UIMappingConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/AuditLogsManager.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ServiceLogsManager.java
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/common/LabelFallbackHandlerTest.java
Labels: cherry-pick, logsearch

#2320 AMBARI-24639 Not able to turn off maintenance mode for a host.
  ambari-web/app/controllers/main/host/details.js
Labels: web client

#2319 AMBARI-24639 Not able to turn off maintenance mode for a host.
  ambari-web/app/controllers/main/host/details.js
Labels: web client

#2328 [AMBARI-24645] Issues with tooltip containing custom time range for charts
  ambari-web/app/mixins/common/widgets/time_range_mixin.js
  ambari-web/app/templates/main/service/info/metrics/flume/flume_agent_metrics_section.hbs
  ambari-web/app/views/main/service/info/metrics_view.js
Labels: web client

#2329 [AMBARI-24645] Issues with tooltip containing custom time range for charts
  ambari-web/app/mixins/common/widgets/time_range_mixin.js
  ambari-web/app/templates/main/service/info/metrics/flume/flume_agent_metrics_section.hbs
  ambari-web/app/views/main/service/info/metrics_view.js
Labels: cherry-pick, web client

#2333 AMBARI-24641. Stackadvisor error while trying to add atlas service. E…
  ambari-agent/src/main/python/ambari_agent/Hardware.py
  ambari-agent/src/test/python/ambari_agent/TestHardware.py
  ambari-server/src/main/resources/stacks/stack_advisor.py
  contrib/management-packs/hdf-ambari-mpack/src/main/resources/stacks/HDF/2.0/services/stack_advisor.py
  contrib/management-packs/odpi-ambari-mpack/src/main/resources/stacks/ODPi/2.0/services/stack_advisor.py
Labels: cherry-pick

#2327 AMBARI-24644. Log Search: support trusted knox proxy.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/AuthPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchTrustedProxyFilter.java
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/test-config/logsearch/logsearch-sso.properties
Labels: logsearch

#2336 AMBARI-24648. Log Search: add simple file based authorization.
  ambari-logsearch/ambari-logsearch-server/build.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/auth/filter/AbstractJWTFilter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/AuthPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/dao/RoleDao.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/dao/UserDao.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchJWTFilter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchTrustedProxyFilter.java
  ambari-logsearch/ambari-logsearch-server/src/main/resources/roles.json
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/dao/RoleDaoTest.java
  ambari-logsearch/docker/bin/start.sh
  ambari-logsearch/docker/test-config/logsearch/logsearch.properties
Labels: logsearch, security

#2135 AMBARI-24519. Cover journal node step 5 controller
  ambari-web/app/assets/test/tests.js
  ambari-web/test/controllers/main/admin/highAvailability/journalNode/step3_controller_test.js
Labels: unit-test, web client

#2347 AMBARI-24662. Log Search: add simple LDAP authentication support
  ambari-logsearch/ambari-logsearch-server/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/LogSearchLdapAuthorityMapper.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/AuthPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/LogSearchLdapAuthConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/security/LogsearchAbstractAuthenticationProvider.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/security/LogsearchAuthenticationProvider.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/security/LogsearchLdapAuthenticationProvider.java
  ambari-logsearch/ambari-logsearch-server/src/main/resources/log4j.xml
  ambari-logsearch/ambari-logsearch-server/src/main/resources/logsearch.properties
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/common/LogSearchLdapAuthorityMapperTest.java
  ambari-logsearch/docker/test-config/logsearch/logsearch-https.properties
  ambari-logsearch/docker/test-config/logsearch/logsearch-sso.properties
  ambari-logsearch/docker/test-config/logsearch/logsearch.properties
Labels: logsearch, security

#2353 [AMBARI-24666] Implement data visualization color palette
  ambari-web/app/assets/img/widget-gauge.png
  ambari-web/app/assets/img/widget-graph.png
  ambari-web/app/assets/img/widget-number.png
  ambari-web/app/assets/img/widget-template.png
  ambari-web/app/assets/test/tests.js
  ambari-web/app/config.js
  ambari-web/app/utils/chart_utils.js
  ambari-web/app/views/common/chart/linear_time.js
  ambari-web/app/views/common/chart/pie.js
  ambari-web/app/views/common/widget/gauge_widget_view.js
  ambari-web/app/views/main/dashboard/cluster_metrics/cpu.js
  ambari-web/app/views/main/dashboard/widgets/pie_chart_widget.js
  ambari-web/app/views/main/host/metrics/cpu.js
  ambari-web/app/views/main/service/info/metrics/flume/channel_size_mma.js
  ambari-web/app/views/main/service/info/metrics/flume/flume_incoming_mma.js
  ambari-web/app/views/main/service/info/metrics/flume/flume_outgoing_mma.js
  ambari-web/app/views/main/service/services/onefs.js
  ambari-web/test/utils/chart_utils_test.js
Labels: web client

#2358 AMBARI-24667 JS errors during adding hosts
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/test/controllers/global/cluster_controller_test.js
Labels: web client

#2362 [AMBARI-24674] Upgrade checkstyle version to 8.9
  ambari-project/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ConfigGroupService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ConfigurationService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/HostComponentService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/RequestScheduleService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ServiceConfigVersionService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewInstanceService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewPermissionService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewPrivilegeService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewUrlsService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewVersionService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceConfigVersionResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/StackServiceDirectory.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/AtlasMigrationPropertyCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackServiceDirectoryTest.java
  ambari-utility/src/main/java/org/apache/ambari/checkstyle/AvoidTransactionalOnPrivateMethodsCheck.java
  ambari-utility/src/main/java/org/apache/ambari/checkstyle/UndocumentedRestApiOperationCheck.java
  ambari-utility/src/test/java/org/apache/ambari/checkstyle/AvoidTransactionalOnPrivateMethodsCheckTest.java
  ambari-utility/src/test/java/org/apache/ambari/checkstyle/UndocumentedRestApiOperationCheckTest.java
Labels: checkstyle

#2361 [AMBARI-24671] Workaround for non-atomic directory creation
  ambari-server/src/main/resources/scripts/Ambaripreupload.py
Labels: cherry-pick

#2360 [AMBARI-24622] Allow skipping package operations for LZO on sysprepped hosts
  ambari-common/src/main/python/resource_management/libraries/functions/lzo_utils.py
Labels: cherry-pick

#2365 AMBARI-24673 The operation 'Install HDP-{$version} version' change name after ending and page reloading
  ambari-web/app/utils/host_progress_popup.js
Labels: web client

#2316 [AMBARI-24637] Ambari metrics service check failed during UI deploy.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/discovery/TestMetadataManager.java
Labels: ambari-metrics, cherry-pick

#2355 [AMBARI-24657] Fix exception in blueprint deployment with host group configs
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/CompositeStack.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/Stack.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/StackDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Cluster.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/configgroup/ConfigGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/AmbariContext.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/CollectionUtils.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/CompositeStackTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/StackTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ConfigGroupTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
Labels: blueprint

#2368 [AMBARI-24679] Fix race condition in agent during registration and topology updates.
  ambari-agent/src/main/python/ambari_agent/HeartbeatThread.py
  ambari-agent/src/main/python/ambari_agent/listeners/__init__.py
Labels: agent

#2370 [AMBARI-24681] Cannot deploy cluster without HDFS_CLIENT
  ambari-server/src/main/resources/stack-hooks/after-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/after-INSTALL/scripts/shared_initialization.py
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/hook.py
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/shared_initialization.py
  ambari-server/src/main/resources/stack-hooks/before-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/shared_initialization.py
Labels: blueprint

#2218 [AMBARI-24548] Allow skipping Hive Metastore schema creation for sysprepped cluster
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/hive.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/params.py
  ambari-server/src/main/resources/stacks/HDP/2.0.6/configuration/cluster-env.xml
Labels: cherry-pick

#2373 [AMBARI-24685] - Create a Maven Consumable Ambari SPI Client Library
  ambari-server-spi/pom.xml
  ambari-server-spi/src/main/java/org/apache/ambari/annotations/UpgradeCheck.java
  ambari-server-spi/src/main/java/org/apache/ambari/server/AmbariException.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/RepositoryType.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/package-info.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/CheckDescription.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/CheckQualification.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheck.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckGroup.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckRequest.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckResult.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckStatus.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckType.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeType.java
  ambari-server-spi/src/test/java/org/apache/ambari/spi/upgrade/RepositoryTypeTest.java
  ambari-server/pom.xml
  pom.xml
Labels: build, dev-support

#2384 AMBARI-24690. Ambari-server setup-ldap throws an error when the OU has spaces (amagyar)
  ambari-server/sbin/ambari-server
Labels: cherry-pick

#2366 [AMBARI-24632] APT/DPKG existence check doesn't work for system packages (dgrinenko)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_parser.py
  ambari-common/src/main/python/ambari_commons/repo_manager/yum_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/zypper_manager.py
  ambari-common/src/main/python/ambari_commons/shell.py
  ambari-server/src/main/resources/custom_actions/scripts/install_packages.py
  ambari-server/src/test/python/custom_actions/TestInstallPackages.py
Labels: ambari-commons

#2359 [AMBARI-24672] Make sure we regenerate all service specific keytabs on all hosts where they are needed
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/AgentCommandsPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/KerberosKeytabPrincipalDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/stageutils/KerberosKeytabController.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
Labels: kerberos, security, server

#2390 AMBARI-24466. Add README.md for Ambari project
  README.md
Labels: documentation

#2389 [AMBARI-24696] UI: Options Page to choose Rolling or Express Restart.
  ambari-web/app/config.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/messages.js
  ambari-web/app/models/host_component.js
  ambari-web/app/styles/application.less
  ambari-web/app/templates/common/service_restart.hbs
  ambari-web/app/utils/batch_scheduled_requests.js
  ambari-web/app/views.js
  ambari-web/app/views/common/service_restart_view.js
  ambari-web/app/views/main/service/item.js
  ambari-web/brunch-config.js
  ambari-web/vendor/styles/font-awesome-4.css
Labels: web client

#2394 [AMBARI-24706] Fix issues in ambari common python package publishing utility.
  install-ambari-python.sh
  setup.py
Labels: ambari-commons

#2396 Branch 2.7 cherry picked commits
  ambari-agent/src/main/python/ambari_agent/HeartbeatThread.py
  ambari-agent/src/main/python/ambari_agent/listeners/__init__.py
  ambari-server/src/main/resources/scripts/Ambaripreupload.py
Labels: cherry-pick

#2395 [AMBARI-24707] Build fails due to missing ambari-utility
  pom.xml
Labels: build
