Repository apache/ambari, pull requests merged in 2018-10, with the labels that each got.

#2399 AMBARI-24700 - Slider widget: insert a space char between label value and unit-name
  ambari-web/app/views/common/configs/widgets/slider_config_widget_view.js
Labels: web client

#2404 AMBARI-24708. Automation script for upgrade old style isilon cluster to the new mpack based structure (amagyar)
  contrib/management-packs/isilon-onefs-mpack/src/main/tools/hdfs_to_onefs_convert.py
Labels: cherry-pick

#2407 [AMBARI-24671] Workaround for non-atomic directory creation
  ambari-server/src/main/resources/scripts/Ambaripreupload.py
Labels: cherry-pick

#2416 AMBARI-24727 - Autoscaling based on metric alerts
  ambari-common/src/main/python/ambari_commons/ambari_metrics_helper.py
Labels: ambari-metrics, infra-solr

#2411 AMBARI-24714. Avoid multi-threading and JPA caching issues when aborting requests and processing agent reports at the same time
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ActionDBAccessorImpl.java
Labels: JPA, agent, server

#2413 [AMBARI-24726] Remove outdated functions.list_ambari_managed_repos module (dgrinenko)
  ambari-agent/src/test/python/resource_management/TestListAmbariManagedRepos.py
  ambari-common/src/main/python/resource_management/libraries/functions/list_ambari_managed_repos.py
  ambari-server/src/test/python/custom_actions/TestInstallPackages.py
  ambari-server/src/test/python/custom_actions/TestRemoveStackVersion.py
Labels: ambari-commons

#2414 BUG-111390 - Infra Solr: manage autoscaling properties in Ambari
  ambari-common/src/main/python/resource_management/libraries/functions/solr_cloud_util.py
Labels: infra-solr

#2412 AMBARI-24487 repoVersion entity should show resolved full stack version when available (dgrinenko)
  ambari-agent/src/main/python/ambari_agent/ConfigurationBuilder.py
  ambari-agent/src/test/python/ambari_agent/TestAlerts.py
  ambari-common/src/main/python/ambari_commons/os_check.py
  ambari-common/src/main/python/resource_management/libraries/functions/repository_util.py
  ambari-common/src/main/python/resource_management/libraries/functions/version.py
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/CommandRepository.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/HostLevelParamsHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/dto/HostLevelParamsCluster.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/dto/HostRepositories.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementController.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/upgrade/StackVersionListener.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/RepositoryVersionHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/orchestrate/UpgradeContext.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/stomp/HostLevelParamsHolderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostResourceProviderTest.java
  ambari-server/src/test/python/TestVersion.py
Labels: agent, ambari-commons, repos, server

#2418 [AMBARI-24729] Ambari Server stops with Java 9 due to Guice error
  ambari-agent/pom.xml
  ambari-project/pom.xml
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeHistoryEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/ConfigurationCondition.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/HostOrderItem.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  pom.xml
Labels: server

#2432 AMBARI-24750 fix NPE when trying to set loglevel in logsearch
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogLevelFilterManagerZK.java
Labels: logsearch

#2434 AMBARI-24752 upgrade ambari-utility,ambari-server-spi deps for JDK11
  ambari-agent/pom.xml
  ambari-project/pom.xml
  ambari-server-spi/pom.xml
  ambari-utility/pom.xml
Labels: build

#2442 [AMBARI-24637] Ambari metrics service check failed during UI deploy.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/discovery/TestMetadataManager.java
Labels: ambari-metrics, cherry-pick

#2445 AMBARI-24765. Fix CVE issues for Log Search (2.7.3)
  ambari-logsearch/ambari-logsearch-logfeeder-container-registry/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
  ambari-logsearch/pom.xml
Labels: logsearch, security

#2443 AMBARI-24763. Infra Solr upgrade (2.7.x): ValueError: invalid literal for float()
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: cherry-pick

#2452 AMBARI-24746. Upgrade Solr version to 7.5.0
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/README.md
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/audit_logs-solrconfig.xml.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
Labels: infra-solr, security

#2450 AMBARI-24767. Error while starting Timeline v2 Reader during Move operation (amagyar) (#2447)
  ambari-web/app/controllers/main/service/reassign/step3_controller.js
  ambari-web/app/controllers/main/service/reassign_controller.js
Labels: cherry-pick

#2461 [AMBARI-24779] Move Namenode operation fails as it tries to install a…
  ambari-web/app/controllers/main/service/reassign/step4_controller.js
Labels: cherry-pick, web client

#2459 AMBARI-24778. Removed CVE issues from ambari-server
  ambari-project/pom.xml
  ambari-web/api-docs/index.html
  ambari-web/api-docs/lib/jquery-1.8.3.min.js
  ambari-web/api-docs/lib/jquery-1.9.0.min.js
Labels: CVE

#2473 AMBARI-24789. LogFeeder: fix CVE-2018-11771 - upgrade commons-compress lib
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
Labels: logsearch, security

#2463 AMBARI-24781 - Ambari setup-ldap: change group member default for IPA
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: security, server, server setup

#2470 AMBARI-24785. Removed double 'sudo' invocation
  ambari-common/src/main/python/resource_management/core/sudo.py
Labels: ambari-commons

#2472 [AMBARI-24788] Fix async bug in installer config page initial load
  ambari-web/app/controllers/installer.js
Labels: web client

#2474 [AMBARI-24790] Restart Masters for Service Restart.
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/utils/batch_scheduled_requests.js
  ambari-web/app/views/common/service_restart_view.js
Labels: web client

#2476 [AMBARI-24791] Node Managers fail to start after RM is moved to a dif…
  ambari-web/app/controllers/main/admin/highAvailability/resourceManager/step3_controller.js
  ambari-web/app/data/configs/wizards/rm_ha_properties.js
  ambari-web/app/utils/configs/move_rm_config_initializer.js
  ambari-web/app/utils/configs/rm_ha_config_initializer.js
Labels: web client

#2477 [AMBARI-24791] Node Managers fail to start after RM is moved to a dif…
  ambari-web/app/controllers/main/admin/highAvailability/resourceManager/step3_controller.js
  ambari-web/app/data/configs/wizards/rm_ha_properties.js
  ambari-web/app/utils/configs/move_rm_config_initializer.js
  ambari-web/app/utils/configs/rm_ha_config_initializer.js
Labels: cherry-pick, web client

#2478 AMBARI-24781 - Ambari setup-ldap: change group member default for IPA
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: cherry-pick, security, server, server setup

#2456 AMBARI-24775 - Configuration warning: insert a space char between label value and unit-name
  ambari-web/app/views/common/configs/widgets/slider_config_widget_view.js
  ambari-web/test/views/common/configs/widgets/slider_config_widget_view_test.js
Labels: web client

#2475 [AMBARI-24774] Wrong settings in exported blueprint
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRenderer.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRendererTest.java
Labels: blueprint

#2480 [AMBARI-24787] Cover with unit tests wizard step7 views
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/wizard/step7/accounts_tab_view_test.js
  ambari-web/test/views/wizard/step7/credentials_tab_view_test.js
  ambari-web/test/views/wizard/step7/databases_tab_view_test.js
  ambari-web/test/views/wizard/step7/directories_tab_view_test.js
Labels: unit-test, web client

#2482 [AMBARI-24795] Allow skipping Python unit tests
  ambari-agent/pom.xml
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: build, unit-test

#2467 AMBARI-24783 : Cleanup dependencies in Capacity Scheduler
  contrib/views/capacity-scheduler/pom.xml
Labels: cherry-pick

#2483 AMBARI-24799. Fix jetty CVEs for Log Search (2.7.x)
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: logsearch, security

#2486 [AMBARI-24803] Separating Restart All, Masters and Slaves.
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/messages.js
  ambari-web/app/models/host_component.js
  ambari-web/app/templates/common/service_restart.hbs
  ambari-web/app/utils/batch_scheduled_requests.js
  ambari-web/app/views/common/service_restart_view.js
Labels: web client

#2487 [AMBARI-24805] Fix format string errors in ambari_common.inet_utils
  ambari-common/src/main/python/ambari_commons/inet_utils.py
Labels: cleanup

#2448 AMBARI-24762. Ambari server continues to send request updates after all commands were completed.
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ActionScheduler.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ServiceUpdateEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/services/ServiceUpdateListener.java
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/BufferedUpdateEventPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/HostComponentUpdateEventPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/RequestUpdateEventPublisher.java
  ambari-server/src/main/java/org/apache/ambari/server/events/publishers/ServiceUpdateEventPublisher.java
Labels: cherry-pick

#2488 [AMBARI-24804] - Unify Ambari Versioning Across Modules
  ambari-admin/pom.xml
  ambari-agent/pom.xml
  ambari-funtest/pom.xml
  ambari-project/pom.xml
  ambari-server-spi/pom.xml
  ambari-server/pom.xml
  ambari-utility/pom.xml
  ambari-views/examples/auto-cluster-view/pom.xml
  ambari-views/examples/calculator-view/pom.xml
  ambari-views/examples/cluster-view/pom.xml
  ambari-views/examples/favorite-view/pom.xml
  ambari-views/examples/hello-servlet-view/pom.xml
  ambari-views/examples/hello-spring-view/pom.xml
  ambari-views/examples/helloworld-view/pom.xml
  ambari-views/examples/phone-list-upgrade-view/pom.xml
  ambari-views/examples/phone-list-view/pom.xml
  ambari-views/examples/pom.xml
  ambari-views/examples/property-validator-view/pom.xml
  ambari-views/examples/property-view/pom.xml
  ambari-views/examples/restricted-view/pom.xml
  ambari-views/examples/simple-view/pom.xml
  ambari-views/pom.xml
  ambari-web/pom.xml
  contrib/management-packs/hdf-ambari-mpack/pom.xml
  contrib/management-packs/isilon-onefs-mpack/pom.xml
  contrib/management-packs/microsoft-r_mpack/pom.xml
  contrib/management-packs/pom.xml
  contrib/views/ambari-views-package/pom.xml
  contrib/views/capacity-scheduler/pom.xml
  contrib/views/commons/pom.xml
  contrib/views/files/pom.xml
  contrib/views/pig/pom.xml
  contrib/views/pom.xml
  contrib/views/utils/pom.xml
  contrib/views/wfmanager/pom.xml
  pom.xml
  setup.py
Labels: build

#2491 AMBARI-24806. Upgrading swagger maven plugin version
  ambari-project/pom.xml
Labels: build, maven

#2458 AMBARI-24742. Encrypting/decrypting PASSWORD type properties when inserting them into the DB/using them
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ControllerModule.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/AESEncryptionService.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/ConfigPropertiesEncryptor.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/Encryptor.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Cluster.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Config.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ConfigImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/KerberosHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testutils/PartialNiceMockBinder.java
  ambari-server/src/test/java/org/apache/ambari/server/update/HostUpdateHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog251Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog260Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: encryption, security

#2496 [AMBARI-21157] Fix unintended newline in license
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ConfigurationTopologyException.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintValidator.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ConfigurationFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Credential.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/HostGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/HostOfferResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/NoSuchBlueprintException.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/NoSuchHostGroupException.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/SecurityConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/SecurityConfigurationFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyRequestFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyRequestFactoryImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/tasks/TopologyTask.java
Labels: RAT, cleanup

#2485 AMBARI-24801. Cover alert definition views
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/main/alerts/alert_definition/alert_definition_summary_test.js
Labels: unit-test, web client

#2471 AMBARI-24786. Cover common configs views
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/common/configs/config_category_container_view_test.js
  ambari-web/test/views/common/configs/service_config_layout_tab_compare_view_test.js
  ambari-web/test/views/common/configs/service_config_layout_tab_view_test.js
Labels: unit-test, web client

#2501 AMBARI-24815 Add column to show which service recommended changes during upgrade refer to
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/messages.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
Labels: web client

#2503 AMBARI-24550. Yarn Timeline Service V2 Reader goes down after Ambari Upgrade from 2.7.0.0 to 2.7.1.0 (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: cherry-pick

#779 [AMBARI-23355] Add Hive Service wizard shows incorrect path for mysql…
  ambari-web/app/views/common/configs/widgets/combo_config_widget_view.js
Labels: web client

#1940 AMBARI-24296 [Yarn Queue Manager] Yarn Queue manager is allowing to Create a Child Queue for queue-mappings enabled Queue and Save it
  contrib/views/capacity-scheduler/src/main/resources/ui/app/controllers/queues.js
Labels: cherry-pick

#2497 [AMBARI-24812] - Implement New Upgrade Check Which Warns About Missing Plugin Checks
  ambari-server/src/main/java/org/apache/ambari/server/checks/PluginChecksLoadedCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/UpgradeCheckRegistry.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/PluginChecksLoadedCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProviderTest.java
Labels: upgrade

#2504 AMBARI-24563. global name 'VERIFY_DEPENDENCY_CMD' is not defined (amagyar) (#2202)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: cherry-pick

#2489 [AMBARI-24709] Implement support for Minimal Blueprint Export
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRenderer.java
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ClusterResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintExportType.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UnitUpdater.java
  ambari-server/src/main/java/org/apache/ambari/server/state/PropertyInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Configuration.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRendererTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequestTest.java
Labels: blueprint

#2512 [AMBARI-24822] TrimmingStrategy implementations should be singletons
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DefaultTrimmingStrategy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DeleteSpacesAtTheEndTrimmingStrategy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DirectoriesTrimmingStrategy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PasswordTrimmingStrategy.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PropertyValueTrimmingStrategyDefiner.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/TrimmingStrategy.java
Labels: blueprint, cleanup

#2515 [AMBARI-24828] Correct Javadoc Errors in the SPI
  ambari-server-spi/src/main/java/org/apache/ambari/annotations/UpgradeCheckInfo.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/RepositoryVersion.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/CheckQualification.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckDescription.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckGroup.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckRequest.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckResult.java
Labels: SPI, cleanup, documentation

#2523 [AMBARI-24835] Fix javadoc errors in ambari-utility
  ambari-utility/src/main/java/org/apache/ambari/annotations/SwaggerOverwriteNestedAPI.java
  ambari-utility/src/main/java/org/apache/ambari/annotations/SwaggerPreferredParent.java
Labels: cleanup, documentation

#2521 [AMBARI-24827] LDAP users fail to authenticate using LDAPS due to 'No subject alternative DNS name' exception
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: LDAP, security

#2522 [AMBARI-24827] LDAP users fail to authenticate using LDAPS due to 'No subject alternative DNS name' exception
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: LDAP, cherry-pick, security

#2516 AMBARI-24829 blueprint install for HDFS_CLIENT and YARN timeline service components without the rest of HDFS/YARN (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
Labels: blueprint

#2525 [AMBARI-24837] Make Grafana connection attempts and retry delay configurable
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-grafana-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana_util.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
Labels: ambari-metrics

#2557 [AMBARI-24837] Make Grafana connection attempts and retry delay configurable
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-grafana-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_grafana_util.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
Labels: ambari-metrics, cherry-pick

#2566 [AMBARI-24843] Make Ambaripreupload.py more configurable
  ambari-server/src/main/resources/scripts/Ambaripreupload.py
Labels: cherry-pick
