Repository apache/ambari, pull requests merged in 2018-12, with the labels that each got.

#2676 AMBARI-24977 Loading on Dashboard stuck
  ambari-web/app/app.js
  ambari-web/test/app_test.js
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#2669 AMBARI-24973. Cover hosts baser initializer
  ambari-web/app/assets/test/tests.js
  ambari-web/test/utils/configs/hosts_based_initializer_test.js
Labels: unit-test, web client

#2685 AMBARI-24989 Knox: Reorder of query parameters breaks Ambari logic for retrieving configs
  ambari-web/app/mixins/common/configs/configs_loader.js
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/test/mixins/common/configs/configs_loader_test.js
Labels: web client

#2684 AMBARI-24990. Cover move_hm_config_inititializer
  ambari-web/app/assets/test/tests.js
  ambari-web/test/utils/configs/move_hm_config_initializer_test.js
Labels: unit-test, web client

#2687 [AMBARI-24994] Updates to the SPI for Upgrade Action Operations
  ambari-server-spi/src/main/java/org/apache/ambari/spi/ClusterInformation.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeAction.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeActionOperations.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeInformation.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepositoryVersionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AbstractUpgradeServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/PluginUpgradeServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/orchestrate/UpgradeContext.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PluginUpgradeServerActionTest.java
Labels: SPI, upgrade

#2680 [AMBARI-24982] APT/DPKG existence check broken for packages with long names
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: ambari-commons

#2683 AMBARI-24986. Using Ambari server's CLI to enable/disable Trusted Proxy support
  ambari-server/sbin/ambari-server
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupActions.py
  ambari-server/src/main/python/ambari_server/setupTrustedProxy.py
  ambari-server/src/test/python/TestSetupTrustedProxy.py
Labels: TrustedProxy

#2692 AMBARI-24998 Not supported actions(like Start/Stop) should not be shown for HDFS/YARN clients in WL cluster with externalized HDFS/YARN
  ambari-web/app/views/main/service/item.js
  ambari-web/app/views/main/service/services/yarn.js
  ambari-web/test/views/main/service/item_test.js
Labels: web client

#2694 AMBARI-24992. Updated ambari_configuration.property_value to support longer input
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog280.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog280Test.java
Labels: SQL

#2703 [AMBARI-25023] Admin View cannot be Deployed Due to META-INF Ordering
  ambari-server/src/main/java/org/apache/ambari/server/view/ViewExtractor.java
  ambari-server/src/test/java/org/apache/ambari/server/view/ViewExtractorTest.java
Labels: ambari views

#2707 [AMBARI-25025] Duplicate kerberos_descriptor name reported as HTTP 500.
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/KerberosDescriptorResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/KerberosDescriptorEntity.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/KerberosDescriptorResourceProviderTest.java
Labels: cleanup

#2710 AMBARI-25032 Cover Service controllers with unit tests
  ambari-web/app/controllers/main/service/add_controller.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/test/controllers/main/service/add_controller_test.js
  ambari-web/test/controllers/main/service/item_test.js
Labels: web client

#2719 [AMBARI-25040] Handle blueprint/VDF stack version mismatch
  ambari-server/src/main/java/org/apache/ambari/server/topology/AmbariContext.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/addservice/RequestValidatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/utils/Assertions.java
Labels: blueprint

#2722 AMBARI-25042 Cover host component view with unit tests
  ambari-web/app/views/main/host/details/host_component_view.js
  ambari-web/test/views/main/host/details/host_component_view_test.js
Labels: web client

#2720 [AMBARI-25041] Scale hosts does not install component if service is in maintenance mode.
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostComponentResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RequestOperationLevel.java
Labels: blueprint

#2721 AMBARI-25013. New kerberos-env property to allow populating auth_to_local rules for non installed service components
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/KerberosHelperTest.java
Labels: authentication, kerberos, security

#2724 AMBARI-25045 UI logic for component dependencies needs to be modified to use the type field
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/mappers/stack_service_mapper.js
  ambari-web/app/models/stack_service_component.js
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#2726 AMBARI-25048 Update momentum.js version to 2.22.2 due to known vulnerabilities
  ambari-web/vendor/scripts/moment.min.js
Labels: web client

#2730 AMBARI-25052 Unable to Add Services Due to toMapByProperty()
  ambari-web/app/controllers/main/service/add_controller.js
Labels: web client

#2734 AMBARI-25055 JS error after starting stack downgrade
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
Labels: web client

#2736 [AMBARI-25058] Ambari Admin doesn't redirect user to login page if auth session becomes invalidated
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/app.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/Cluster.js
Labels: web client

#2739 [AMBARI-25062] Optionally execute the post user creation hook on existing users during LDAP sync
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/LdapSyncRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/LdapSyncEventResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/LdapSyncSpecEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/Users.java
  ambari-server/src/main/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulator.java
  ambari-server/src/main/java/org/apache/ambari/server/security/ldap/LdapBatchDto.java
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/LdapSyncRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/entities/LdapSyncEventEntityTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/entities/LdapSyncSpecEntityTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/ldap/LdapPerformanceTest.java
  ambari-server/src/test/python/TestAmbariServer.py
Labels: LDAP

#2737 [AMBARI-25059] SPI Upgrade Improvements For Web Calls And Required Plugins
  ambari-agent/pom.xml
  ambari-project/pom.xml
  ambari-server-spi/src/main/java/org/apache/ambari/spi/net/HttpURLConnectionProvider.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/net/package-info.java
  ambari-server-spi/src/main/java/org/apache/ambari/spi/upgrade/UpgradeCheckRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/UpgradeCheckRegistry.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/URLStreamProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeHistoryEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/StackDirectory.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/ConfigurationCondition.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/upgrade/HostOrderItem.java
  ambari-server/src/main/java/org/apache/ambari/server/state/StackInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/AmbariMetricsHadoopSinkVersionCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/AutoStartDisabledCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ClusterCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ComponentExistsInRepoCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ComponentsInstallationCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ConfigurationMergeCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/HealthCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/HostMaintenanceModeCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/HostsHeartbeatCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/HostsMasterMaintenanceCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/HostsRepositoryVersionCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/InstallPackagesCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/LZOCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/MissingOsInRepoVersionCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/PluginChecksLoadedCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/PreviousUpgradeCompletedTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/RequiredServicesInRepositoryCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ServiceCheckValidityCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ServicePresenceCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ServicesMaintenanceModeCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ServicesUpCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/UpgradeTypeQualificationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/VersionMismatchCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PluginUpgradeServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/CheckHelperTest.java
Labels: SPI, upgrade

#2742 [WIP] AMBARI-25043. Sensitive Ambari configuration values are encrypted in Ambari Server DB
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ControllerModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerLDAPConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerStackAdvisorAwareConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/service/ads/DefaultLdapAttributeDetectionService.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/JwtAuthenticationProperties.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/tproxy/AmbariTProxyConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/AmbariServerConfigurationEncryptor.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/Encryptor.java
  ambari-server/src/main/java/org/apache/ambari/server/security/encryption/PropertiesEncryptor.java
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/alerts/AgentHeartbeatAlertRunnableTest.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKeyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/AmbariServerConfigurationProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/AmbariServerConfigurationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/GroupPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/StackUpgradeConfigurationMergeTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthorizationResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/ldap/AmbariLdapConfigurationTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/AbstractAuthenticationProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/JwtAuthenticationPropertiesTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/pam/AmbariPamAuthenticationProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariAuthorizationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/UsersTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/PreconfigureKerberosActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testutils/PartialNiceMockBinder.java
  ambari-server/src/test/python/TestAmbariServer.py
Labels: encryption, security
