Repository apache/ambari, pull requests merged in 2018-08, with the labels that each got.

#1928 AMBARI-24283 - DB consistency warning due to config group without service name
  ambari-server/src/main/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: cherry-pick, server, upgrade

#1926 AMBARI-24386 - [Log Search] Input config validator unable to parse any log entry
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogEntryParseTester.java
Labels: cherry-pick, logsearch

#1941 AMBARI-24120 cluster version is in invalid state
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/messages.js
  ambari-web/app/models/stack_version/repository_version.js
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_box.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_column.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/versions.hbs
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_box_view.js
  ambari-web/app/views/main/admin/stack_upgrade/versions_view.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
  ambari-web/test/views/main/admin/stack_upgrade/upgrade_version_box_view_test.js
Labels: web client

#1942 AMBARI-24120 cluster version is in invalid state
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/messages.js
  ambari-web/app/models/stack_version/repository_version.js
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_box.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_version_column.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/versions.hbs
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_box_view.js
  ambari-web/app/views/main/admin/stack_upgrade/versions_view.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
  ambari-web/test/views/main/admin/stack_upgrade/upgrade_version_box_view_test.js
Labels: web client

#1938 [AMBARI-24389] Update Ambari Single Sign-on Configuration documentatIon to include Kerberos options
  ambari-server/docs/security/sso/index.md
Labels: cherry-pick, documentation, sso

#1937 [AMBARI-24389] Update Ambari Single Sign-on Configuration documentation to include Kerberos options
  ambari-server/docs/security/sso/index.md
Labels: documentation, sso

#1943 [AMBARI-24397] - Allow PATCH VDFs to Specify Services Which Are Not Installed in the Cluster
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepositoryVersionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/UpgradeActionTest.java
Labels: upgrade

#1945 [AMBARI-24397] - Allow PATCH VDFs to Specify Services Which Are Not Installed in the Cluster
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepositoryVersionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/UpgradeActionTest.java
Labels: cherry-pick

#1939 [AMBARI-24194] Fix broken Java UTs in ambari-server code -- Part 5
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/BackgroundCustomCommandExecutionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostComponentResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/StackDefinedPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserResourceProviderTest.java
Labels: unit-test

#1950 AMBARI-24187 - Ambari Server Setup LDAP Label Updates
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/main/python/ambari_server/userInput.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: security, server, server setup

#1960 AMBARI-24401. Ambari doesn't replace Timeline Reader localhost addres…
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AbstractUpgradeServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddress.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddressTest.java
Labels: cherry-pick

#1963 [AMBARI-24406] Fix validate single sign-in support information to look for ssoEnabledTest
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/ServiceModuleTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceInfoTest.java
Labels: sso

#1961 AMBARI-24187 - Ambari Server Setup LDAP Label Updates
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/main/python/ambari_server/userInput.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: cherry-pick, security, server, server setup

#1964 [AMBARI-24406] Fix validate single sign-in support information to look for ssoEnabledTest
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/ServiceModuleTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceInfoTest.java
Labels: cherry-pick, sso

#1970 AMBARI-24322. Copy db config consistency fix to UpgradeCatalog271 as …
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: logsearch, upgrade

#1971 AMBARI-24322. Copy db config consistency fix to UpgradeCatalog271 as …
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: cherry-pick, logsearch, upgrade

#1972 [AMBARI-24408] Update org.eclipse.jetty version to 9.4.11.v20180605 to avoid CVE issues
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: cleanup

#1973 [AMBARI-24408] Update org.eclipse.jetty version to 9.4.11.v20180605 to avoid CVE issues
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: cherry-pick, cleanup

#1974 AMBARI-24409. Infra Solr migration: Restore collection fails after EU…
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
Labels: infra-solr

#1935 [AMBARI-24396] Service theme call failing.
  ambari-web/app/controllers/main.js
  ambari-web/app/mixins/main/service/themes_mapping.js
  ambari-web/test/controllers/main/service/info/summary_test.js
  ambari-web/test/controllers/main_test.js
  ambari-web/test/models/stack_service_test.js
  ambari-web/test/views/installer_test.js
Labels: web client

#1975 AMBARI-24409. Infra Solr migration: Restore collection fails after EU…
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
Labels: cherry-pick, infra-solr

#1979 AMBARI-24411. Infra Solr: gc logs are not rotated by default.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/infra-solr-env.sh.j2
Labels: cherry-pick, infra-solr

#1978 AMBARI-24411. Infra Solr: gc logs are not rotated by default.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/infra-solr-env.sh.j2
Labels: infra-solr

#1983 [AMBARI-24413] - Unable to Revert a Patch When There Are Multiple Patches
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
Labels: upgrade

#1967 AMBARI-24407: Add rpm support infra and logsearch
  ambari-infra/pom.xml
  ambari-logsearch/pom.xml
Labels: build, infra-solr, logsearch

#1992 AMBARI-24422. Log Feeder: upgrade guava version (because of CVE-2018-10237)
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: logsearch

#1993 AMBARI-24422. Log Feeder: upgrade guava version (because of CVE-2018-10237)
  ambari-logsearch/ambari-logsearch-logfeeder-plugin-api/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: cherry-pick, logsearch

#1995 [AMBARI-24415] Remove dependencies with CVE issues from Ambari Server
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: cleanup

#1985 [AMBARI-23112] Some libraries are not relocated in ambari-metrics-common jar
  ambari-metrics/ambari-metrics-common/pom.xml
Labels: ambari-metrics

#2002 AMBARI-24431. Infra Manager / Log Search: Fix Jetty CVE-2018-12536.
  ambari-infra/ambari-infra-manager/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: cleanup, infra-manager, logsearch

#2003 AMBARI-24431. Infra Manager / Log Search: Fix Jetty CVE-2018-12536.
  ambari-infra/ambari-infra-manager/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: cherry-pick, cleanup, infra-manager, logsearch

#1999 [AMBARI-24429] Remove dependencies with CVE issues from Ambari Agent
  contrib/views/utils/pom.xml
Labels: cleanup

#2000 [AMBARI-24429] Remove dependencies with CVE issues from Ambari Agent
  contrib/views/utils/pom.xml
Labels: cherry-pick, cleanup

#1996 [AMBARI-24415] Remove dependencies with CVE issues from Ambari Server
  ambari-project/pom.xml
  ambari-server/pom.xml
Labels: cherry-pick, cleanup

#1919 AMBARI-24367 : Fix integration test regressions in AMS collector due to scale changes
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/AbstractMiniHBaseClusterTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/ITPhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/MetricTestHelper.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/StandaloneHBaseTestingUtility.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/aggregators/ITClusterAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/aggregators/ITMetricAggregator.java
Labels: ambari-metrics

#2011 [AMBARI-24367] Fix integration test regressions in AMS collector due to scale changes
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/AbstractMiniHBaseClusterTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/ITPhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/MetricTestHelper.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/StandaloneHBaseTestingUtility.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/aggregators/ITClusterAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/aggregators/ITMetricAggregator.java
Labels: ambari-metrics

#2012 [AMBARI-24447] No subject alternative DNS name exception encountered when Enabling Kerberos against an Active Directory even when SSL verification is off
  ambari-server/src/main/java/org/apache/ambari/server/security/InternalSSLSocketFactory.java
Labels: kerberos, ssl

#2013 [AMBARI-24447] No subject alternative DNS name exception encountered when Enabling Kerberos against an Active Directory even when SSL verification is off
  ambari-server/src/main/java/org/apache/ambari/server/security/InternalSSLSocketFactory.java
Labels: cherry-pick, kerberos, ssl

#2016 [AMBARI-24452] [UI Deploy] LLAP queue is not created/set in YARN conf…
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
Labels: web client

#2005 [AMBARI-24434] Cannot deploy HBase without HDFS
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/hbase.py
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/params_linux.py
Labels: blueprint

#2021 AMBARI-24434. Cannot deploy HBase without HDFS
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/hbase.py
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/params_linux.py
Labels: blueprint, cherry-pick

#2031 [AMBARI-23811] TimelineMetricsFilterTest fails if dir name contains @
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilterTest.java
Labels: ambari-metrics, unit-test

#2032 [AMBARI-23811] TimelineMetricsFilterTest fails if dir name contains @
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilterTest.java
Labels: ambari-metrics, cherry-pick, unit-test

#2040 AMBARI-24459. Log Search / Log Feeder - support to use ZK only for st…
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogLevelFilterManagerZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigLogFeederZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigServerZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZKHelper.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogFeederConstants.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/ApplicationConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/loglevelfilter/LogLevelFilterHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/ACLPropertiesSplitter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/LogSearchConfigApiConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/global/LogLevelFilterManagerState.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/LogLevelManagerFilterConfigurer.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/SolrLogLevelFilterConfigurer.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ShipperConfigManager.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogSearchLogLevelFilterManagerFilter.java
  ambari-logsearch/docker/test-config/logfeeder/logfeeder.properties
  ambari-logsearch/docker/test-config/logsearch/logsearch.properties
Labels: logsearch

#2041 AMBARI-24459. Log Search / Log Feeder - support to use ZK only for st…
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogLevelFilterManagerZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigLogFeederZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigServerZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZK.java
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZKHelper.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogFeederConstants.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/ApplicationConfig.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/loglevelfilter/LogLevelFilterHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/ACLPropertiesSplitter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/LogSearchConfigApiConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/global/LogLevelFilterManagerState.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/LogLevelManagerFilterConfigurer.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/SolrLogLevelFilterConfigurer.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ShipperConfigManager.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogSearchLogLevelFilterManagerFilter.java
  ambari-logsearch/docker/test-config/logfeeder/logfeeder.properties
  ambari-logsearch/docker/test-config/logsearch/logsearch.properties
Labels: cherry-pick, logsearch

#2045 AMBARI-24462. ambari-server upgrade stuck with NPE (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
Labels: cherry-pick

#2049 [AMBARI-24471] URL rewrite rules in gateway cannot be applied when thee response content from ambari server is compressed.
  ambari-server/docs/configuration/index.md
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
Labels: server

#2025 [AMBARI-24425] [Log Search UI] Create visible time histogram selection area
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
Labels: logsearch

#2030 [AMBARI-24425] [Log Search UI] Create visible time histogram selection area
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/variables.less
Labels: cherry-pick, logsearch

#2034 [AMBARI-24424] [Log Search UI] Align the time histogram chart axis
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/time-histogram/time-histogram.component.ts
Labels: cherry-pick, logsearch

#2033 [AMBARI-24424] [Log Search UI] Align the time histogram chart axis
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/time-histogram/time-histogram.component.ts
Labels: logsearch

#2008 [AMBARI-24445] [Log Search UI] exclude mock data from production build
  ambari-logsearch/ambari-logsearch-web/README.md
  ambari-logsearch/ambari-logsearch-web/src/app/app.module.ts
Labels: logsearch

#2029 [AMBARI-24445] [Log Search UI] exclude mock data from production build
  ambari-logsearch/ambari-logsearch-web/README.md
  ambari-logsearch/ambari-logsearch-web/src/app/app.module.ts
Labels: cherry-pick, logsearch

#2053  [AMBARI-24440] [Log Search UI] Default logs list length per page should be 100 instead of 10
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-filtering-utils.service.ts
Labels: logsearch

#2054  [AMBARI-24440] [Log Search UI] Default logs list length per page should be 100 instead of 10
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-filtering-utils.service.ts
Labels: cherry-pick, logsearch

#2072 AMBARI-24478. Log Search: use better default labels for logsearch components
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logsearch-properties.xml
Labels: logsearch

#2035 [AMBARI-24451] ambari.ldap.advanced.group_mapping_rules does not work, LDAP sync does not add admin roles for configured group(s)
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/Users.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/TestUsers.java
Labels: LDAP

#2036 [AMBARI-24451] ambari.ldap.advanced.group_mapping_rules does not work, LDAP sync does not add admin roles for configured group(s)
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/Users.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/TestUsers.java
Labels: LDAP, cherry-pick

#2075 [AMBARI-21158] Eliminate Maven warning in Log Feeder Container Registry
  ambari-logsearch/ambari-logsearch-logfeeder-container-registry/pom.xml
Labels: build, cleanup

#2060 AMBARI-24476. Disable autostart during blueprint deploy.
  ambari-agent/src/main/python/ambari_agent/RecoveryManager.py
  ambari-agent/src/test/python/ambari_agent/TestActionQueue.py
  ambari-agent/src/test/python/ambari_agent/TestAlerts.py
  ambari-agent/src/test/python/ambari_agent/TestRecoveryManager.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/events/AmbariEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ClusterProvisionStartedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/state/BlueprintProvisioningState.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Cluster.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: blueprint

#2073 AMBARI-24476. Disable autostart during blueprint deploy.
  ambari-agent/src/main/python/ambari_agent/RecoveryManager.py
  ambari-agent/src/test/python/ambari_agent/TestActionQueue.py
  ambari-agent/src/test/python/ambari_agent/TestAlerts.py
  ambari-agent/src/test/python/ambari_agent/TestRecoveryManager.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/events/AmbariEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ClusterProvisionStartedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/state/BlueprintProvisioningState.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Cluster.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: blueprint, cherry-pick

#2071 [AMBARI-24467] - Report Component Instance On Agent Registration
  ambari-agent/src/main/python/ambari_agent/ComponentVersionReporter.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/HeartbeatProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/TopologyHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/dto/ComponentVersionReport.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/dto/TopologyComponent.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DeleteHostComponentStatusMetaData.java
  ambari-server/src/main/java/org/apache/ambari/server/state/svccomphost/ServiceComponentHostImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/STOMPComponentsDeleteHandler.java
  ambari-server/src/main/resources/custom_actions/scripts/stack_select_set_all.py
  ambari-server/src/main/resources/scripts/mpack_advisor_wrapper.py
  ambari-server/src/test/python/custom_actions/test_stack_select_set_all.py
Labels: upgrade

#2076 [AMBARI-21158] Eliminate Maven warning in Log Feeder Container Registry
  ambari-logsearch/ambari-logsearch-logfeeder-container-registry/pom.xml
Labels: build, cherry-pick, cleanup

#2077 [AMBARI-24482] Overlapping text in Recommendations in Configurations page while UI installer
  ambari-web/app/styles/application.less
Labels: web client

#2078 [AMBARI-24482] Overlapping text in Recommendations in Configurations page while UI installer
  ambari-web/app/styles/application.less
Labels: cherry-pick, web client

#2069 AMBARI-24473. Ambari upgrade fails due to NPE when processing Ambari …
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: kerberos, upgrade

#2070 AMBARI-24473. Ambari upgrade fails due to NPE when processing Ambari …
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
Labels: cherry-pick, kerberos, upgrade

#1991 [AMBARI-24417] HDFS Service page Datanode does not show count.
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/templates/main/service/info/summary/hdfs/slaves.hbs
  ambari-web/app/views/main/service/info/summary/hdfs/slaves.js
  ambari-web/test/controllers/global/update_controller_test.js
Labels: web client

#2082 AMBARI-24480. Upgrade Infra Solr (from Solr 7.3.1 to Solr 7.4.0)
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/README.md
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-log4j.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/infra-solr-env.sh.j2
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/solr-log4j2.xml.j2
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: infra-solr, logsearch

#2088 AMBARI-24480. Upgrade Infra Solr (from Solr 7.3.1 to Solr 7.4.0
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/README.md
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: cherry-pick, infra-solr, logsearch, upgrade

#2085 AMBARI-24486. Yarn Timeline Service V2 Reader is found down after EU …
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddress.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddressTest.java
Labels: upgrade

#2066 [AMBARI-24436] [Log Search UI] App Loader Page - Align the logo left
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.ts
Labels: cherry-pick, logsearch

#2090 AMBARI-24486. Yarn Timeline Service V2 Reader is found down after EU …
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddress.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/FixTimelineReaderAddressTest.java
Labels: cherry-pick

#2092 [AMBARI-24433] [Log Search UI] Reset to default selection in the drop…
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: cherry-pick, logsearch

#2091 [AMBARI-24433] [Log Search UI] Reset to default selection in the dropdowns
  ambari-logsearch/ambari-logsearch-web/src/app/components/service-logs-table/service-logs-table.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: logsearch

#1918 Fixed Spelling.
  ambari-common/src/test/python/coilmq/scheduler.py
Labels: typo

#2100 [AMBARI-24452] [UI Deploy] LLAP queue is not created/set in YARN conf…
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
Labels: cherry-pick, web client

#2101 Revert "AMBARI-24280 Fix ambari-admin UI unit tests. (ababiichuk)"
  ambari-admin/pom.xml
  ambari-admin/src/main/resources/ui/admin-web/package.json
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/AppCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/ClusterInformationCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/controllers/stackVersions/StackversionsListCtrl_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/directives/comboSearch_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/directives/editablelist_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/AddRepositoryModal_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/PermissionSaver_test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/UnsavedDialog__test.js
  ambari-admin/src/main/resources/ui/admin-web/test/unit/services/Utility_test.js
Labels: ambari-admin

#2102 Test fix post trunk merge.
  ambari-web/app/controllers/wizard/step7/assign_master_controller.js
Labels: unit-test, web client

#2103 AMBARI-24493. Skipping Ambari Server Python UTs as builds are failing (AMBARI-24427 tracks fixing it)
  ambari-server/src/test/python/TestServiceAdvisor.py
  ambari-server/src/test/python/TestStackFeature.py
  ambari-server/src/test/python/TestStackSelect.py
  ambari-server/src/test/python/custom_actions/TestRemoveBits.py
  ambari-server/src/test/python/custom_actions/test_mpack_install.py
  ambari-server/src/test/python/stacks/stack-hooks/after-INSTALL/test_after_install.py
  ambari-server/src/test/python/stacks/stack-hooks/before-ANY/test_before_any.py
  ambari-server/src/test/python/stacks/stack-hooks/before-INSTALL/test_before_install.py
  ambari-server/src/test/python/stacks/stack-hooks/before-SET_KEYTAB/test_before_set_keytab.py
  ambari-server/src/test/python/stacks/stack-hooks/before-START/test_before_start.py
Labels: unit-test

#2104 [AMBARI-24494] Ambari API does not return AssignmentManager HBase point in time metrics through API
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/amshbase_metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/windows/amshbase_metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/windows/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/AMS-HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HBASE_MASTER.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/test_data/full_whitelist.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/AMS-HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/NAMENODE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/NIMBUS.dat
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/metrics.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hbase-misc.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/default/grafana-ams-hbase-misc.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/service-metrics/AMBARI_METRICS.txt
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/service-metrics/HBASE.txt
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/metrics.json
  ambari-server/src/main/resources/stacks/HDP/2.3/services/HBASE/metrics.json
  ambari-server/src/main/resources/stacks/PERF/1.0/services/FAKEHBASE/metrics.json
  ambari-server/src/test/resources/hbase_hbasemaster_jmx_2.json
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/mappers/service_mapper_test.js
Labels: ambari-metrics

#2108 AMBARI-24496. Ambari updates lates_url info for HDF stacks with HDP l…
  ambari-server/src/main/python/ambari_server/serverSetup.py
  ambari-server/src/main/python/ambari_server/serverUpgrade.py
  ambari-server/src/main/python/ambari_server/utils.py
Labels: cherry-pick

#2095 [AMBARI-24490] [Log Search UI] Time Histogram Chart keep invert grey selection area when no selection happened
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/index.html
Labels: logsearch

#2096 [AMBARI-24490] [Log Search UI] Time Histogram Chart keep invert grey selection area when no selection happened
  ambari-logsearch/ambari-logsearch-web/src/app/classes/components/graph/time-graph.component.ts
  ambari-logsearch/ambari-logsearch-web/src/index.html
Labels: cherry-pick, logsearch

#2113 [AMBARI-24494] Ambari API does not return AssignmentManager HBase point in time metrics through API.
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/amshbase_metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/windows/amshbase_metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/windows/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/AMS-HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HBASE_MASTER.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/test_data/full_whitelist.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/AMS-HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/HBASE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/NAMENODE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/ui_metrics_def/NIMBUS.dat
  ambari-server/src/test/resources/hbase_hbasemaster_jmx_2.json
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/mappers/service_mapper_test.js
Labels: cherry-pick

#2115 AMBARI-24504. Solr API reports backup as complete while copy is still in progress.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/collection.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
Labels: infra-solr, upgrade

#2117 AMBARI-24505 host component out of sync error message on version screen
  ambari-web/app/views/main/admin/stack_upgrade/versions_view.js
Labels: web client

#2116 AMBARI-24505 host component out of sync error message on version screen
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/views/main/admin/stack_upgrade/versions_view.js
Labels: web client

#2120 AMBARI-24506. Upgrade: Infra Solr service is not renamed in Upgrade History table
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: cherry-pick, infra-solr, upgrade

#2119 AMBARI-24506. Upgrade: Infra Solr service is not renamed in Upgrade History table.
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog271Test.java
Labels: infra-solr, upgrade

#1840 ambari: Add jdeb support
  ambari-funtest/pom.xml
  ambari-infra/pom.xml
  ambari-logsearch/pom.xml
  ambari-metrics/ambari-metrics-grafana/pom.xml
  ambari-metrics/ambari-metrics-host-aggregator/pom.xml
Labels: build

#2121 [AMBARI-24507] Remove dependency on org.bouncycastle bcprov-jdk15on before version 1.6.0 for Ambari Server
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/ldap/service/ads/DefaultLdapConfigurationService.java
  ambari-server/src/test/java/org/apache/ambari/server/ldap/service/ads/detectors/GroupMemberAttrDetectorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderBaseTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderForDNWithSpaceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderForDuplicateUserTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderTest.java
Labels: cleanup

#2122 [AMBARI-24507] Remove dependency on org.bouncycastle bcprov-jdk15on before version 1.6.0 for Ambari Server
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/ldap/service/ads/DefaultLdapConfigurationService.java
  ambari-server/src/test/java/org/apache/ambari/server/ldap/service/ads/detectors/GroupMemberAttrDetectorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderBaseTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderForDNWithSpaceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderForDuplicateUserTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderTest.java
Labels: cherry-pick, cleanup

#2129 AMBARI-24515 Remove dependency on JQuery 1.8.0 for Ambari Server UI
  ambari-web/api-docs/index.html
  ambari-web/api-docs/lib/jquery-1.8.0.min.js
  ambari-web/api-docs/lib/jquery-1.8.3.min.js
Labels: web client

#2128 AMBARI-24515 Remove dependency on JQuery 1.8.0 for Ambari Server UI
  ambari-web/api-docs/index.html
  ambari-web/api-docs/lib/jquery-1.8.0.min.js
  ambari-web/api-docs/lib/jquery-1.8.3.min.js
Labels: web client

#2131 [AMBARI-24513] Using current timestamp as created_time in case there is no value in users table in this column upon upgrading to 2.7
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: upgrade

#2130 [AMBARI-24513] Using current timestamp as created_time in case there is no value in users table in this column upon upgrading to 2.7
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: upgrade

#2138 AMBARI-24506 - ADDENDUM - Upgrade: Infra Solr service is not renamed in Upgrade History table
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
Labels: server, upgrade

#2139 AMBARI-24506 - ADDENDUM - Upgrade: Infra Solr service is not renamed in Upgrade History table
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog271.java
Labels: cherry-pick, server, upgrade

#2140 AMBARI-24499 blueprint support for multiple TIMELINE_READER components (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
Labels: blueprint

#2144 [AMBARI-24520] Fix set KDC admin credentials section in enable Kerberos doc
  ambari-server/docs/security/kerberos/enabling_kerberos.md
Labels: documentation

#2145 [AMBARI-24520] Fix set KDC admin credentials section in enable Kerberos doc
  ambari-server/docs/security/kerberos/enabling_kerberos.md
Labels: cherry-pick, documentation

#2147 [AMBARI-24522] Cannot connect to MIT KDC admin server when port is specified in kerberos-env/admin_server_host
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KDCKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandlerTest.java
Labels: kerberos

#2111 [AMBARI-24468] Add ClusterSettings and StackSettings module in execution_command library
  ambari-common/src/main/python/resource_management/libraries/execution_command/cluster_settings.py
  ambari-common/src/main/python/resource_management/libraries/execution_command/execution_command.py
  ambari-common/src/main/python/resource_management/libraries/execution_command/module_configs.py
  ambari-common/src/main/python/resource_management/libraries/execution_command/stack_settings.py
  ambari-common/src/main/python/resource_management/libraries/functions/stack_features.py
  ambari-common/src/main/python/resource_management/libraries/functions/stack_select.py
  ambari-common/src/main/python/resource_management/libraries/functions/stack_settings.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-common/src/test/python/TestExecutionCommand.py
  ambari-common/src/test/python/command.json
  ambari-server/src/main/resources/stack-hooks/after-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/params.py
Labels: ambari-commons

#2149 AMBARI-24524 Unable to validate password complexity for properties rangertagsync_user_password, rangerusersync_user_password
  ambari-web/app/mixins/common/serverValidator.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/utils/config.js
Labels: web client

#2150 AMBARI-24524 Unable to validate password complexity for properties rangertagsync_user_password, rangerusersync_user_password
  ambari-web/app/mixins/common/serverValidator.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/utils/config.js
Labels: web client

#2159 [AMBARI-24523] Hive and Oozie JDBC url reset after set manually.
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
  ambari-web/app/views/common/controls_view.js
  ambari-web/test/mixins/common/configs/config_recommendation_parser_test.js
Labels: cherry-pick, web client

#2125 AMBARI-24511: Add rpm support infra and logsearch
  ambari-infra/pom.xml
  ambari-logsearch/pom.xml
Labels: build

#2162 [AMBARI-24529] Add unit tests for centralized configs logic
  ambari-web/test/controllers/wizard/step7_test.js
Labels: unit-test, web client

#2164 [AMBARI-24537] - Use Mpack Instance Manager To Switch Component Instance Version on Upgrade
  ambari-common/src/main/python/resource_management/libraries/functions/copy_tarball.py
  ambari-common/src/main/python/resource_management/libraries/functions/upgrade_summary.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/params.py
  ambari-server/src/test/python/TestUpgradeSummary.py
Labels: upgrade

#2166 Upgrade docs for 2.7.1 release
  docs/pom.xml
  docs/src/site/apt/index.apt
  docs/src/site/apt/whats-new.apt
  docs/src/site/site.xml
Labels: documentation

#2132 [AMBARI-24435] [Log Search UI] Remove underline text decoration from dropdowns on hover
  ambari-logsearch/ambari-logsearch-web/src/styles.less
Labels: logsearch

#2133 [AMBARI-24435] [Log Search UI] Remove underline text decoration from dropdowns on hover
  ambari-logsearch/ambari-logsearch-web/src/styles.less
Labels: cherry-pick, logsearch

#2153 [AMBARI-24426] [Log Search UI] Show user friendly component names in Log Index Filter screen
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.spec.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
Labels: logsearch

#2154 [AMBARI-24426] [Log Search UI] Show user friendly component names in Log Index Filter screen
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.spec.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-index-filter/log-index-filter.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
Labels: cherry-pick, logsearch

#2173 AMBARI-24545 Implement Notifications/Coasters from Fluid Design
  ambari-web/app/styles/theme/bootstrap-ambari.css
Labels: web client

#2165 AMBARI-24533. Let end users disable endpoint identification during SSL handshake with the LDAP server
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/LdapServerProperties.java
  ambari-server/src/main/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulator.java
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: LDAP, security, ssl

#2174 AMBARI-24542. Fixing typo in LDAP configuration property name
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/SchemaUpgradeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog272.java
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog272Test.java
  ambari-server/src/test/python/TestAmbariServer.py
Labels: LDAP, security, server setup

#2179 [AMBARI-24540] Remove duplicate `host_sys_prepped` variable
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/params_linux.py
  ambari-server/src/main/resources/stacks/HDP/2.0.6/configuration/cluster-env.xml
Labels: cleanup

#2181 AMBARI-24516 - Default value for LDAP type
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: security, server, server setup

#2190 [AMBARI-24536] Ambari SPNEGO breaks SSO redirect
  ambari-server/src/main/java/org/apache/ambari/server/api/AmbariErrorHandler.java
  ambari-web/app/router.js
  ambari-web/test/router_test.js
Labels: kerberos, sso

#2146 [AMBARI-24523] Hive and Oozie JDBC url reset after set manually.
  ambari-web/app/mixins/common/configs/config_recommendation_parser.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
  ambari-web/app/views/common/controls_view.js
  ambari-web/test/mixins/common/configs/config_recommendation_parser_test.js
Labels: cherry-pick, web client

#2193 [AMBARI-24557] Remove legacy storm sink module from ambari-metrics.
  ambari-metrics/ambari-metrics-assembly/pom.xml
  ambari-metrics/ambari-metrics-assembly/src/main/assembly/sink-windows.xml
  ambari-metrics/ambari-metrics-assembly/src/main/assembly/sink.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/pom.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/src/main/assemblies/empty.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/src/main/java/org/apache/hadoop/metrics2/sink/storm/StormTimelineMetricsReporter.java
  ambari-metrics/ambari-metrics-storm-sink-legacy/src/main/java/org/apache/hadoop/metrics2/sink/storm/StormTimelineMetricsSink.java
  ambari-metrics/ambari-metrics-storm-sink-legacy/src/test/java/org/apache/hadoop/metrics2/sink/storm/StormTimelineMetricsSinkTest.java
  ambari-metrics/pom.xml
Labels: ambari-metrics

#2205 [AMBARI-24562] Protect the ClusterConfig resource so that only authorized users may have read-only access the data
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AlertTargetResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/TestAuthenticationFactory.java
Labels: RBAC

#2151 [AMBARI-24458] Start operation is disabled for HDFS after stopping co…
  ambari-server/src/main/java/org/apache/ambari/server/controller/utilities/state/HDFSServiceCalculatedState.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/utilities/state/HDFSServiceCalculatedStateTest.java
Labels: cherry-pick

#2195 AMBARI-24558. Add setup.py for ambari python packages (for using with pip)
  .gitignore
  MANIFEST.in
  pom.xml
  setup.py
Labels: ambari-commons, build

#2209 [AMBARI-24275] - Unable to Restart Hive When Using An Ambari-Managed MySQL Server.
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/mysql_server.py
Labels: cherry-pick

#2148 [AMBARI-24522] Cannot connect to MIT KDC admin server when port is specified in kerberos-env/admin_server_host
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KDCKerberosOperationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/MITKerberosOperationHandlerTest.java
Labels: cherry-pick, kerberos

#2191 [AMBARI-24536] Ambari SPNEGO breaks SSO redirect
  ambari-server/src/main/java/org/apache/ambari/server/api/AmbariErrorHandler.java
  ambari-web/app/router.js
  ambari-web/test/router_test.js
Labels: cherry-pick, kerberos, sso

#2210 AMBARI-24570. Atlas should handle a customized Zookeeper service prin…
  ambari-server/src/main/resources/common-services/ATLAS/0.1.0.2.3/configuration/atlas-env.xml
  ambari-server/src/main/resources/common-services/ATLAS/0.1.0.2.3/package/scripts/params.py
  ambari-server/src/main/resources/stacks/HDP/2.5/services/ATLAS/configuration/atlas-env.xml
Labels: security

#2198 [AMBARI-24546] Only authenticated users with proper AMBARI/SERVICE/CLUSTER permissions can query Ambari Request related information
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RequestResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/RoleAuthorization.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog272.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RequestResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog272Test.java
Labels: API, security

#2155 [AMBARI-24525] Accumulo does not startup in Federated Cluster
  ambari-web/app/controllers/main/admin/federation/step3_controller.js
  ambari-web/app/controllers/main/admin/federation/step4_controller.js
  ambari-web/app/data/configs/wizards/federation_properties.js
  ambari-web/test/controllers/main/admin/federation/step3_controller_test.js
Labels: web client

#2175 [AMBARI-24525] Accumulo does not startup in Federated Cluster
  ambari-web/app/controllers/main/admin/federation/step3_controller.js
  ambari-web/app/controllers/main/admin/federation/step4_controller.js
  ambari-web/app/data/configs/wizards/federation_properties.js
Labels: cherry-pick, web client

#2187 [AMBARI-24555] Nifi Registry install fails
  ambari-web/app/mixins/wizard/addSecurityConfigs.js
  ambari-web/test/mixins/wizard/addSeccurityConfigs_test.js
Labels: web client

#2188 [AMBARI-24555] Nifi Registry install fails
  ambari-web/app/mixins/wizard/addSecurityConfigs.js
  ambari-web/test/mixins/wizard/addSeccurityConfigs_test.js
Labels: cherry-pick, web client

#2201 [AMBARI-24561] Update styles for pre-upgrade modals
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/templates/common/modal_popups/cluster_check_dialog.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_configs_merge_table.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_configs_recommend_table.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_options.hbs
  ambari-web/app/templates/wizard/step8/step8_log_popup.hbs
  ambari-web/app/views/common/modal_popups/cluster_check_popup.js
Labels: web client

#2223 AMBARI-22847. Let HBase use ZK principal name set by users when enabling Kerberos (until now it's been hardcoded to 'zookeeper')
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/configuration/hbase-env.xml
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/params_linux.py
Labels: kerberos, security

#2224 AMBARI-24578 Quicklinks URL overflow outside the UI box
  ambari-web/app/styles/application.less
Labels: web client

#2225 AMBARI-24578 Quicklinks URL overflow outside the UI box
  ambari-web/app/styles/application.less
Labels: web client

#2216 [AMBARI-24577] Services should display the Stop button if any of thei…
  ambari-web/app/controllers/main/service/item.js
  ambari-web/test/controllers/main/service/item_test.js
Labels: web client

#2217 [AMBARI-24577] Services should display the Stop button if any of thei…
  ambari-web/app/controllers/main/service/item.js
  ambari-web/test/controllers/main/service/item_test.js
Labels: cherry-pick, web client

#2229 [AMBARI-24582] - Ambari Alert - HiveServer2 Process - False negative in Certain Scenarios
  ambari-common/src/main/python/resource_management/libraries/functions/hive_check.py
Labels: cherry-pick
