Repository apache/ambari, pull requests merged in 2018-06, with the labels that each got.

#1405 AMBARI-23973 : Pre Upgrade check for AMS hadoop sink in HDP 2.6 to 3.0 EU.
  ambari-server/src/main/java/org/apache/ambari/server/checks/AmbariMetricsHadoopSinkVersionCompatibilityCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/HostRoleCommandDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostRoleCommandEntity.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/metrics_monitor.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
  ambari-server/src/test/java/org/apache/ambari/server/checks/AmbariMetricsHadoopSinkVersionCheckTest.java
Labels: ambari-metrics

#1429 AMBARI-23999 Remove hardcoded logic in UI to create HDPCORE service group and create multiple service groups
  ambari-web/app/controllers/wizard/step8_controller.js
Labels: web client

#1437 [AMBARI-24007] Components are getting down immediately after autostart
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/HostLevelParamsHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ServiceComponentRecoveryChangedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentImpl.java
Labels: server

#1440 [AMBARI-24009] - Logsearch: fix backend IT
  ambari-logsearch/ambari-logsearch-it/pom.xml
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/AbstractLogSearchSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/resources/stories/backend/logfeeder_parsing_tests.story
  ambari-logsearch/ambari-logsearch-it/src/test/resources/test-output/service-log-level-counts-values.json
Labels: logsearch

#1441 [AMBARI-23975] - Logsearch: do not save downloaded configuration to tmp file when comp…
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/handler/AbstractSolrConfigHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/handler/UploadConfigurationHandler.java
  ambari-logsearch/pom.xml
Labels: logsearch

#1438 [AMBARI-23550] Ambari Metrics references outdated jars
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
Labels: ambari-metrics, build

#1444 AMBARI-24012. Infra Solr start failed - Auth Failed on zk root (/)
  ambari-common/src/main/python/resource_management/libraries/functions/solr_cloud_util.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logsearch.py
  ambari-server/src/test/python/stacks/2.3/ATLAS/test_metadata_server.py
  ambari-server/src/test/python/stacks/2.5/RANGER/test_ranger_admin.py
  ambari-server/src/test/python/stacks/2.6/RANGER/test_ranger_admin.py
Labels: logsearch

#1445 AMBARI-24013. Eliminate LogSearch / LogFeeder zk session/connection t…
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZK.java
Labels: logsearch

#1448 AMBARI-24016. Log Search: java.lang.RuntimeException: Could not creat…
  ambari-logsearch/ambari-logsearch-server/src/main/resources/default.properties
Labels: logsearch

#1449 AMBARI-24017. Ambari-server protocol passed wrongly for Log Search if SSL is enabled.
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
Labels: logsearch, ssl

#1452 [AMBARI-24020] Remove HDFS Disk Usage widget from host summary page
  ambari-web/app/templates/main/host/summary.hbs
  ambari-web/app/views/main/host/summary.js
Labels: web client

#1451 AMBARI-24019 Upgrade Task details is not loading in Upgrade History Details Window.
  ambari-web/app/controllers/main/admin/stack_upgrade_history_controller.js
  ambari-web/test/controllers/main/admin/stack_upgrade_history_controller_test.js
Labels: web client

#1459 AMBARI-24025 Display Mpack Info on Service Summary Page
  ambari-web/app/messages.js
  ambari-web/app/styles/application.less
  ambari-web/app/templates/main/service/service.hbs
  ambari-web/app/views/main/service/service.js
Labels: web client

#1460 [AMBARI-24027] Missing name for the request related to EU pre-check for Hadoop sink version
  ambari-server/src/main/java/org/apache/ambari/server/checks/AmbariMetricsHadoopSinkVersionCompatibilityCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RequestResourceProvider.java
Labels: ambari-metrics

#1457 [AMBARI-24024] - Logsearch: service advisor does not set recommended nu…
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/service_advisor.py
  ambari-server/src/test/python/common-services/LOGSEARCH/test_service_advisor.py
Labels: logsearch

#1466 AMBARI-24025 Display Mpack Info on Service Summary Page
  ambari-web/app/messages.js
  ambari-web/app/templates/main/service/service.hbs
Labels: web client

#1458 [AMBARI-24018] Log Search component log url does not work on Ambari web UI
  ambari-web/app/views/common/modal_popups/log_tail_popup.js
Labels: web client

#1456 [AMBARI-23996] Changing column type from timestamp to long in users.create_time and user_authentication.[create|update]_time
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UserAuthenticationSourceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UserResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UserAuthenticationEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UserEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/User.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthenticationSourceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: SQL, server

#1465 [AMBARI-24035] - Autostart is not obeying Maintenance Mode
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/HostLevelParamsHolder.java
Labels: server

#1468 [AMBARI-24026] - Service deletion requests get queued up in Background Ops during Upgrade
  ambari-server/src/main/java/org/apache/ambari/annotations/ExperimentalFeature.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/utilities/KerberosIdentityCleaner.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/utilities/RemovableIdentities.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/DeleteUnsupportedServicesAndComponents.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/utilities/KerberosIdentityCleanerTest.java
Labels: kerberos, upgrade

#1474 [AMBARI-24041] AMS truncates metric response quietly.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/AbstractTimelineAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TestPhoenixTransactSQL.java
Labels: ambari-metrics

#1473 AMBARI-24040. Infra Solr start/stop should be idempotent.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/infra_solr.py
Labels: infra-solr

#1470 [AMBARI-24038 HDFS] Metrics shows all blocks as 'Corrupt Replicas'
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
Labels: web client

#1464 [AMBARI-14714] Fix some unit tests
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/ServiceConfigDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterServiceEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/Component.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceGroupImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/api/resources/HostResourceDefinitionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/DatabaseConsistencyCheckHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariServerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/BackgroundCustomCommandExecutionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RequestImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/utilities/KerberosIdentityCleanerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/entities/ServiceConfigEntityTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderForDNWithSpaceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/FinalizeKerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackManagerCommonServicesTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackModuleTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClustersTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/update/HostUpdateHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog251Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog260Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/resources/custom_action_definitions/cust_action_definitions1.xml
  ambari-server/src/test/resources/custom_action_definitions_invalid/cust_action_definitions_invalid.xml
Labels: unit-test

#1323 Add jdeb support where missing
  ambari-funtest/pom.xml
  ambari-logsearch/pom.xml
  ambari-metrics/ambari-metrics-grafana/pom.xml
  utility/pom.xml
Labels: build

#1398 [AMBARI-22642] LDAPS Connection Pooling
  ambari-server/conf/unix/ambari-env.sh
Labels: cleanup

#1478 AMBARI-24043. Increase outbound message buffer size.
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/spring/AgentStompConfig.java
Labels: server

#1484 [AMBARI-24051] Save button is disabled after adding the custom property
  ambari-web/app/mixins/common/configs/enhanced_configs.js
  ambari-web/app/views/common/configs/service_config_layout_tab_view.js
  ambari-web/app/views/common/configs/service_config_view.js
  ambari-web/app/views/wizard/step7/databases_tab_view.js
  ambari-web/app/views/wizard/step7/directories_tab_view.js
Labels: web client

#1490 [AMBARI-24054] Making queries against kerberos_principal.principal_name and kerberos_keytab_principal.principal name case sensitive in MySQL/MariaDB
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
Labels: JPA, MariaDB

#1488 [AMBARI-24052] Add Kerberos-related configuration recommendations to the stack advisor
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/ConfigurationRecommendationCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/SingleSignOnConfigurationRecommendationCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/StackAdvisorCommandType.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/resources/scripts/stack_advisor.py
  ambari-server/src/main/resources/stacks/HDP/2.6/services/stack_advisor.py
  ambari-server/src/main/resources/stacks/service_advisor.py
  ambari-server/src/main/resources/stacks/stack_advisor.py
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRequestTypeTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/commands/ConfigurationRecommendationCommandTest.java
  ambari-serviceadvisor/src/main/java/org/apache/ambari/serviceadvisor/ServiceAdvisorCommandType.java
Labels: cleanup, kerberos, stack advisor

#1491 [AMBARI-24055] - INFRA_SOLR START failed
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudCLI.java
Labels: infra-solr

#1493 [AMBARI-24058] - Infra Solr: Add GC options properties
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/infra-solr-env.sh.j2
Labels: infra-solr

#1494 AMBARI-23752 Hide SmartSense master components in HDF stack
  ambari-web/app/controllers/installer.js
  ambari-web/app/controllers/wizard/step8_controller.js
  ambari-web/app/models/stack_service_component.js
Labels: web client

#1504 AMBARI-24067. Log Search: indexed string field could be too large for audit_logs.
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/managed-schema
Labels: logsearch

#1505 [AMBARI-24069] Fix the error setting of estring
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/util/DownloadUtil.java
Labels: logsearch

#1507 AMBARI-24071 Final flag (blue icon) is not set for Final properties in Settings tab
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/styles/widgets.less
  ambari-web/app/templates/common/configs/controls.hbs
  ambari-web/app/templates/common/configs/overriddenProperty.hbs
Labels: web client

#1509 [AMBARI-24073] Adding alerts to alert groups not working
  ambari-web/app/mappers/socket/alert_groups_mapper_adapter.js
  ambari-web/test/mappers/socket/alert_groups_mapper_adapter_test.js
Labels: web client

#1503 [AMBARI-24066] Metrics Collector issues modify HTable descriptor calls every time it restarts.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilter.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/AbstractTimelineAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/AbstractMiniHBaseClusterTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/ITPhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilterTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/test_data/metric_blacklist.dat
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: ambari-metrics, cleanup

#1502 [AMBARI-24059] Ambari Views auto create instance should support matching to all known stacks
  ambari-server/src/main/java/org/apache/ambari/server/view/ViewRegistry.java
  ambari-server/src/test/java/org/apache/ambari/server/view/ViewRegistryTest.java
Labels: ambari views

#1511 [AMBARI-24077] Upgrade wizard shows incorrect host count if there is …
  ambari-web/app/utils/ajax/ajax.js
Labels: web client

#1512 [AMBARI-24078] Components Added During Upgrade Are Not Scheduled for Restart
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/state/UpgradeHelperTest.java
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/upgrade_test_add_component.xml
Labels: upgrade

#1518 [AMBARI-24084] - The livy2 Package in stack_packages is Wrong for conf-select
  ambari-server/src/main/resources/stacks/HDP/2.0.6/properties/stack_packages.json
Labels: upgrade

#1514 [AMBARI-24081] Ambari UI isn't loading in IE
  ambari-web/app/utils/helper.js
  ambari-web/brunch-config.js
  ambari-web/package.json
  ambari-web/yarn.lock
Labels: web client

#1515 [AMBARI-24082] Reordering of dashboard widgets doesn't work after enabling NN federation
  ambari-web/app/views/main/dashboard/widgets.js
Labels: web client

#1524 AMBARI-24089 Cannot add component to 25+ hosts
  ambari-web/app/controllers/main/host/bulk_operations_controller.js
  ambari-web/app/utils/ajax/ajax.js
Labels: web client

#1526 [AMBARI-24090] - Resuming a Paused Upgrade Attempts To Retry Tasks Which Were Already Passed
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeResourceProviderTest.java
Labels: upgrade

#1520 [AMBARI-24085] setup-sso in Ambari fails when SSL is enabled
  ambari-server/src/main/python/ambari_server/serverUpgrade.py
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestServerUpgrade.py
  ambari-server/src/test/python/TestServerUtils.py
Labels: ssl, sso

#1527 [AMBARI-24092] Need xpaths for content/textarea to be unique.
  ambari-web/app/views/common/controls_view.js
Labels: web client

#1525 AMBARI-24088 - Log Feeder doesn't start during cluster install because o…
  ambari-logsearch/ambari-logsearch-config-zookeeper/src/main/java/org/apache/ambari/logsearch/config/zookeeper/LogSearchConfigZK.java
Labels: logsearch

#1528 AMBARI-24093 Delete Button not enabled on Druid Router component
  ambari-web/app/mappers/socket/topology_mapper.js
Labels: web client

#1533 [AMBARI-24102] Update the Manage JN wizard step for multiple nameservice scenario
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step3_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/nameNode/step4_controller.js
  ambari-web/app/messages.js
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step3.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/main/admin/highAvailability/journalNode/step3_view.js
Labels: web client

#1540 [AMBARI-24105] Jackson library version mismatch casue MR jobs to fail.
  ambari-metrics/ambari-metrics-common/pom.xml
Labels: ambari-metrics

#1542 [AMBARI-24106] - Upgrade History Model Changes
  ambari-server/src/main/java/org/apache/ambari/annotations/Experimental.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/HostLevelParamsHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/MetadataHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/TopologyHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/event/request/AddUpgradeRequestAuditEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/request/eventcreator/UpgradeEventCreator.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/AbstractCheckDescriptor.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/PreviousUpgradeCompleted.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/RequiredServicesInRepositoryCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/UpgradeCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/events/AmbariEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ClusterComponentsRepoChangedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/ServiceGroupMpackChangedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/UpgradeUpdateEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/MpackEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepositoryVersionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceGroupEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeHistoryEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/ServerActionExecutor.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/ConfigureAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/CreateAndConfigureAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FixNotebookStorage.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/PreconfigureKerberosAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/UpdateDesiredMpackAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/UpdateDesiredRepositoryAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/UpgradeUserKerberosDescriptor.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/MasterHostResolver.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Module.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ModuleComponent.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Mpack.java
  ambari-server/src/main/java/org/apache/ambari/server/state/RepositoryType.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/repository/Release.java
  ambari-server/src/main/java/org/apache/ambari/server/state/services/RetryUpgradeActionService.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ClusterGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ColocatedGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/HostOrderGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ServiceCheckGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/StageWrapperBuilder.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Task.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/main/resources/upgrade-pack.xsd
  ambari-server/src/test/java/org/apache/ambari/server/audit/request/creator/UpgradeEventCreatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/RequiredServicesInRepositoryCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/PreUpgradeCheckResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeSummaryResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/ComponentVersionCheckActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/CreateAndConfigureActionTest.java
Labels: upgrade

#1545 AMBARI-24110 Add Ranger Kms Server doesn't not trigger Install request while enabling HA
  ambari-web/app/controllers/main/host/details.js
Labels: web client

#1549 [AMBARI-24114] Ranger server password checks are not performed during Cluster Install Wizard
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#1543 [AMBARI-24101] Provide more detailed error when blueprint cannot download mpacks
  ambari-server/src/main/java/org/apache/ambari/server/topology/DownloadMpacksTask.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/DownloadMpacksTaskTest.java
Labels: blueprint

#1217 [AMBARI-22953] Some scripts still use subprocess instead of subprocess32
  ambari-agent/src/main/python/ambari_agent/main.py
  ambari-agent/src/test/python/ambari_agent/TestController.py
  ambari-agent/src/test/python/ambari_agent/TestHeartbeat.py
  ambari-common/src/main/python/resource_management/core/providers/package/apt.py
  ambari-common/src/main/python/resource_management/libraries/functions/packages_analyzer.py
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-10/package/scripts/kerberos_common.py
  ambari-server/src/main/resources/common-services/R4ML/0.8.0/package/scripts/r4ml_client.py
  ambari-server/src/main/resources/common-services/R4ML/0.8.0/package/scripts/service_check.py
  ambari-server/src/main/resources/common-services/SYSTEMML/0.10.0/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/HDFS/package/scripts/namenode.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/WEBHCAT/package/files/alert_webhcat_server.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/YARN/package/files/validateYarnComponentStatus.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/HDFS/package/scripts/hdfs_nfsgateway.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/HIVE/package/alerts/alert_webhcat_server.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/KERBEROS/package/scripts/kerberos_common.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/SOLR/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/SPARK/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/YARN/package/files/validateYarnComponentStatus.py
  ambari-server/src/main/resources/stacks/BigInsights/4.0/services/YARN/package/scripts/nodemanager_upgrade.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2.5/services/HDFS/package/scripts/hdfs_nfsgateway.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2.5/services/stack_advisor.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/HDFS/package/scripts/hdfs_nfsgateway.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/KAFKA/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/KERBEROS/package/scripts/kerberos_common.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/SOLR/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/SPARK/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/SYSTEMML/package/scripts/service_check.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/YARN/package/files/validateYarnComponentStatus.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/YARN/package/scripts/nodemanager_upgrade.py
  ambari-server/src/main/resources/stacks/BigInsights/4.2/services/YARN/package/scripts/service_check.py
Labels: cleanup

#1561 [AMBARI-24128] Add notification to the Alert Groups not working
  ambari-web/app/mappers/socket/alert_groups_mapper_adapter.js
  ambari-web/app/templates/main/alerts/manage_alert_groups_popup.hbs
  ambari-web/app/views/common/editable_list.js
Labels: web client

#1562 AMBARI-24129. Log Search - Logs histogram query is not filtered by include/exclude fields.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/AbstractOperationHolderConverter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/AuditBarGraphRequestQueryConverter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/ServiceLogLevelDateRangeRequestQueryConverter.java
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/converter/AuditBarGraphRequestQueryConverterTest.java
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/converter/ServiceLogLevelDateRangeRequestQueryConverterTest.java
Labels: logsearch

#1564 AMBARI-23524. There are no alerts for logfeeder
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/alerts.json
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/alerts/alert_logfeeder.py
Labels: logsearch

#1552 AMBARI-24116 Web Client Pulls Back Too Much Information in Upgrade Wizard
  ambari-web/app/templates/main/admin/stack_upgrade/stack_upgrade_wizard.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_task.hbs
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_group_view.js
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_task_view.js
  ambari-web/test/views/main/admin/stack_upgrade/upgrade_task_view_test.js
Labels: web client

#1558 AMBARI-24125. Infra Solr: set hdfs kerberos principal in infra-solr-env.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/properties/infra-solr-env.sh.j2
Labels: infra-solr

#1569 AMBARI-24134 Failure of component install leave ambari ui with inactive Customize Services
  ambari-web/app/controllers/main/service/add_controller.js
Labels: web client

#1571 [AMBARI-24136] Components Filter in "Manage ConfigGroup at Customize Services page" doesn't list hosts correctly
  ambari-web/app/controllers/main/service/manage_config_groups_controller.js
Labels: web client

#1573 AMBARI-24138 Customer cannot back from step 4 to step 3 during adding a new host to cluster
  ambari-web/app/routes/add_host_routes.js
Labels: web client

#1565 [AMBARI-24130] Ranger/Atlas Default Install Changes.
  ambari-web/app/controllers/wizard/step4_controller.js
  ambari-web/app/messages.js
  ambari-web/app/views/common/configs/widgets/combo_config_widget_view.js
  ambari-web/test/controllers/wizard/step4_test.js
Labels: web client

#1519 [Ambari 23959] Save service Id with cluster configuration during blueprint cluster creation (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/CompositeStack.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceGroupResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/Stack.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/StackDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/AmbariContext.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/AsyncCallableService.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintBasedClusterProvisionRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterConfigurationRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopology.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ConfigRecommendationStrategy.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/HostGroupInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/tasks/ConfigureClusterTask.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClusterImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterConfigurationRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ConfigureClusterTaskTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
Labels: blueprint

#1577 [AMBARI-24142] Show/Hide config-section not working for Ranger and Ra…
  ambari-web/app/mappers/configs/themes_mapper.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
  ambari-web/app/models/configs/theme/sub_section.js
  ambari-web/app/models/configs/theme/sub_section_tab.js
  ambari-web/test/mappers/configs/themes_mapper_test.js
Labels: web client

#1579 AMBARI-24143 - Logs not indexed with default configuration for many c…
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/AmbariLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HiveLogPatterntIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/YarnLogPatternIT.java
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logfeeder-env.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/input.config-ambari.json.j2
Labels: logsearch

#1582 [AMBARI-24141] Rolling restarts not working when Kerberos Auto sign in is enabled for Ambari
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariLocalAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariUserAuthentication.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariUserDetails.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariAuthToLocalUserDetailsService.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/pam/AmbariPamAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariLdapAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariUserAuthorizationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AuthorizationHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/UserIdAuthentication.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthenticationSourceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/SecurityHelperImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/TestAuthenticationFactory.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/AmbariLocalAuthenticationProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/kerberos/AmbariAuthToLocalUserDetailsServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AuthorizationHelperTest.java
Labels: LDAP, authentication, kerberos

#1588 [AMBARI-24155] Ranger and KMS tab still present in Customize ServicesPage even after going back and deselecting them from Choose ServicesPage
  ambari-web/app/views/wizard/step7/databases_tab_view.js
Labels: web client

#1580 [AMBARI-24146] Metrics migrated during AMS upgrade are not saved into…
  ambari-metrics/ambari-metrics-common/src/main/java/org/apache/hadoop/metrics2/sink/timeline/TimelineMetricMetadata.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/MetricsDataMigrationLauncher.java
Labels: ambari-metrics

#1593 [AMBARI-24158] Provide a way to disable topology validation in cluster creation request
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/BlueprintResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ClusterResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyRequestFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyRequestFactoryImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
Labels: blueprint

#1594 AMBARI-24163. Infra Solr: solrDataManager.py should support transport…
  ambari-infra/ambari-infra-solr-client/src/main/python/solrDataManager.py
Labels: infra-solr

#1601 AMBARI-24170 Test Connection button not working in Database Tab
  ambari-web/app/views/common/configs/widgets/test_db_connection_widget_view.js
Labels: web client

#1436 [AMBARI-22734] Wrong placeholder in MessageDestinationIsNotDefinedException
  ambari-server/src/main/java/org/apache/ambari/server/MessageDestinationIsNotDefinedException.java
Labels: typo

#1603 [AMBARI-24171] Fix issues in AMS aggregation and writes.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/ITPhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TestPhoenixTransactSQL.java
Labels: ambari-metrics

#1609 [AMBARI-24175] Error processing agent reports due to wrong stack usage
  ambari-server/src/main/java/org/apache/ambari/server/state/host/HostImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/state/host/HostImplTest.java
Labels: server, typo

#1608 [AMBARI-22012] Improve ManagedThreadPoolExecutorTest
  ambari-server/src/test/java/org/apache/ambari/server/utils/ManagedThreadPoolExecutorTest.java
Labels: unit-test

#1610 AMBARI-24178 Database tab disabled if Setup Database and Database User
  ambari-web/app/views/wizard/step7/databases_tab_view.js
Labels: web client

#1611 [AMBARI-24087] Fix `test_missing_configs` in `test_alert_datanode_unmounted_data_dir`
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_alert_datanode_unmounted_data_dir.py
Labels: unit-test

#1625 [AMBARI-24193] - Upgrade Packs Do Not Allow Downgrade by Default
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/UpgradePack.java
  ambari-server/src/test/java/org/apache/ambari/server/state/stack/UpgradePackTest.java
  ambari-server/src/test/resources/stacks/HDP/2.2.0/upgrades/upgrade_test_no_downgrade.xml
Labels: upgrade

#1602 [AMBARI-24168]. Express Upgrade Blocked on Missing OS in repo_version (…
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/MissingOsInRepoVersionCheck.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/MissingOsInRepoVersionCheckTest.java
Labels: upgrade

#1615 [AMBARI-24180] Ambari metrics Service Check fails.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricStore.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricHostAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricReadHelper.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/webapp/TimelineWebServices.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TestTimelineMetricStore.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricStoreWatcherTest.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/ams.py
Labels: ambari-metrics

#1591 [AMBARI-22875] Replay of topology requests with mpacks
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/Request.java
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRenderer.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceGroupResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/SettingEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/AmbariContext.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintBasedClusterProvisionRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterConfigurationRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopology.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/DownloadMpacksTask.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/LogicalRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/PersistedState.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/PersistedStateImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ProvisionRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRendererTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/kerberos/KerberosDescriptorUpdateHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterConfigurationRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterDeployWithStartOnlyTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartOnComponentLevelTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterInstallWithoutStartTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterTopologyImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
Labels: blueprint

#1631 AMBARI-24200 Unable to filter on the alerts in dashboard page
  ambari-web/app/views/main/alerts/alert_instances_popup_view.js
Labels: web client

#1619 AMBARI-24188 Adding data-qa attribute for Keberos wizard
  ambari-web/app/templates/common/progress.hbs
  ambari-web/app/templates/main/admin/kerberos/step1.hbs
  ambari-web/app/templates/main/admin/kerberos/step2.hbs
  ambari-web/app/templates/main/admin/kerberos/step3.hbs
  ambari-web/app/templates/main/admin/kerberos/step4.hbs
  ambari-web/app/templates/main/admin/kerberos/step5.hbs
Labels: web client

#1634 [AMBARI-24202] - Allow Conditional Upgrade Elements Based on KDC Type
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosDetails.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KDCType.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/SecurityCondition.java
  ambari-server/src/main/resources/upgrade-pack.xsd
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/KerberosKeytabsActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/UpgradeHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/kerberos/KerberosDescriptorUpdateHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testutils/PartialNiceMockBinder.java
  ambari-server/src/test/java/org/apache/ambari/server/update/HostUpdateHelperTest.java
  ambari-server/src/test/resources/stacks/HDP/2.2.0/upgrades/upgrade_test_conditions.xml
Labels: kerberos, security, upgrade

#1639 AMBARI-24206 LDAP user with admin privileges doesn't have option to manage Ambari
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/wizard_controller.js
  ambari-web/app/data/controller_route.js
Labels: web client

#1636 [AMBARI-24204] Ambari upgrade should set storm kerberos config to correct value
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/STORM/0.9.1/package/scripts/params_linux.py
  ambari-server/src/main/resources/common-services/STORM/0.9.1/package/scripts/params_windows.py
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/python/stacks/2.1/configs/default-storm-start.json
  ambari-server/src/test/python/stacks/2.1/configs/secured-storm-start.json
  ambari-server/src/test/python/stacks/2.1/configs/secured.json
Labels: server

#1643 [AMBARI-24210] Provide Button to Download CSV of Keytabs From Kerbero…
  ambari-web/app/controllers/main/admin/kerberos.js
  ambari-web/app/templates/main/admin/kerberos.hbs
Labels: web client

#1644 AMBARI-24214. Log Search: config api validator in Configuration Edito…
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/common/LSServerFilterGrok.java
Labels: logsearch

#1648 AMBARI-24222. Ambari setup-ldap fails with "internal server error" af…
  ambari-server/src/main/python/ambari_server/setupSecurity.py
Labels: LDAP

#1650 AMBARI-24224. Do not filter out /clusters/*/widgets*; we do check authorization later on in the resource provider based on user name
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ActiveWidgetLayoutResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariAuthorizationFilter.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ActiveWidgetLayoutResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariAuthorizationFilterTest.java
Labels: role-based authorization

#1651 AMBARI-24226. Ambari ldap integration has inconsistent behavior in Gr…
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/python/ambari_server/setupSecurity.py
Labels: LDAP
