Repository apache/ambari, pull requests merged in 2018-02, with the labels that each got.

#309 AMBARI-22899. Upgrade Infra Solr version to 7.2.1
  ambari-common/src/main/python/resource_management/libraries/functions/solr_cloud_util.py
  ambari-infra/ambari-infra-assembly/pom.xml
  ambari-infra/ambari-infra-assembly/src/main/resources/solr
  ambari-infra/ambari-infra-solr-client/build.xml
  ambari-infra/ambari-infra-solr-client/pom.xml
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudCLI.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudClient.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudClientBuilder.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/commands/CreateCollectionCommand.java
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/src/main/java/org/apache/ambari/infra/security/InfraRuleBasedAuthorizationPlugin.java
  ambari-infra/ambari-infra-solr-plugin/src/main/java/org/apache/solr/security/InfraKerberosHostValidator.java
  ambari-infra/ambari-infra-solr-plugin/src/main/java/org/apache/solr/security/InfraRuleBasedAuthorizationPlugin.java
  ambari-infra/ambari-infra-solr-plugin/src/main/java/org/apache/solr/security/InfraUserRolesLookupStrategy.java
  ambari-infra/ambari-infra-solr-plugin/src/test/java/org/apache/solr/security/InfraKerberosHostValidatorTest.java
  ambari-infra/ambari-infra-solr-plugin/src/test/java/org/apache/solr/security/InfraRuleBasedAuthorizationPluginTest.java
  ambari-infra/ambari-infra-solr-plugin/src/test/java/org/apache/solr/security/InfraUserRolesLookupStrategyTest.java
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/solr.yml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA/0.1.0/package/templates/infra-solr-security.json.j2
  ambari-server/src/main/resources/common-services/AMBARI_INFRA/0.1.0/properties/infra-solr-env.sh.j2
  ambari-server/src/main/resources/common-services/ATLAS/0.7.0.2.5/configuration/atlas-solrconfig.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/audit_logs-solrconfig.xml.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
  ambari-server/src/main/resources/common-services/RANGER/0.7.0/properties/ranger-solrconfig.xml.j2
Labels: infra-solr, logsearch

#322 AMBARI-22959. Upgrade Log Search Solr client version to 7.2.1
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/AbstractLogSearchSteps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/SolrCollectionConfigurer.java
  ambari-logsearch/pom.xml
Labels: logsearch

#325 [AMBARI-22960] Ambari agent kills parent process on stop.
  ambari-agent/src/main/python/ambari_agent/AmbariAgent.py
  ambari-agent/src/test/python/ambari_agent/TestAmbariAgent.py
Labels: agent

#324 [AMBARI-22960] Ambari agent kills parent process on stop.
  ambari-agent/src/main/python/ambari_agent/AmbariAgent.py
  ambari-agent/src/test/python/ambari_agent/TestAmbariAgent.py
Labels: agent

#315 AMBARI-22952 UI Install is unable to work with 'Redhat Satellite/Spacewalk' as local repository
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/stackVersionPage.html
  ambari-web/app/models/repository.js
  ambari-web/app/templates/wizard/step1.hbs
  ambari-web/app/views/wizard/step1_view.js
  ambari-web/test/views/wizard/step1_view_test.js
Labels: web client

#328 AMBARI-22952 UI Install is unable to work with 'Redhat Satellite/Spacewalk' as local repository
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/stackVersionPage.html
  ambari-web/app/models/repository.js
  ambari-web/app/templates/wizard/step1.hbs
  ambari-web/app/views/wizard/step1_view.js
  ambari-web/test/views/wizard/step1_view_test.js
Labels: web client

#326 [AMBARI-22961] Blacklist by default /boot/efi path as mount point reported by Ambari Agent (dgrinenko)
  ambari-agent/src/main/python/ambari_agent/Hardware.py
Labels: agent

#330 [AMBARI-22966] ambari-agent fails to start (dgrinenko)
  ambari-common/src/main/python/ambari_commons/shell.py
Labels: ambari-common py library

#329 AMBARI-22940 Service-auto start page update of UI
  ambari-web/app/assets/test/tests.js
  ambari-web/app/controllers/main/admin/service_auto_start.js
  ambari-web/app/messages.js
  ambari-web/app/routes/main.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/styles/circle-toggle-switch.less
  ambari-web/app/templates/main/admin/service_auto_start.hbs
  ambari-web/app/templates/main/admin/service_auto_start/component_auto_start.hbs
  ambari-web/app/templates/main/admin/service_auto_start/service_auto_start_indicator.hbs
  ambari-web/app/views.js
  ambari-web/app/views/main/admin/service_auto_start.js
  ambari-web/app/views/main/admin/service_auto_start/component_auto_start.js
  ambari-web/app/views/main/admin/service_auto_start/service_auto_start_indicator.js
  ambari-web/test/controllers/main/admin/service_auto_start_test.js
  ambari-web/test/views/main/admin/service_auto_start/component_auto_start_test.js
  ambari-web/test/views/main/admin/service_auto_start_test.js
Labels: web client

#334 AMBARI-22973 'Assign Slaves & Clients' page is empty when 3 or more services selected while adding multiple services
  ambari-web/app/controllers/wizard/step6_controller.js
Labels: web client

#335 [AMBARI-22975] Add namespace-specific layout for service summary page
  ambari-web/app/app.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/models/host_component.js
  ambari-web/app/templates/main/service/info/summary.hbs
  ambari-web/app/templates/main/service/info/summary/base.hbs
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/services/hbase.hbs
  ambari-web/app/templates/main/service/services/hdfs.hbs
  ambari-web/app/templates/main/service/services/hive.hbs
  ambari-web/app/templates/main/service/services/ranger.hbs
  ambari-web/app/templates/main/service/services/storm.hbs
  ambari-web/app/templates/main/service/services/yarn.hbs
  ambari-web/app/views/main/service/info/components_list_view.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/service.js
  ambari-web/app/views/main/service/services/hdfs.js
  ambari-web/test/views/main/service/info/summary_test.js
  ambari-web/test/views/main/service/service_test.js
  ambari-web/test/views/main/service/services/hdfs_test.js
Labels: web client

#331 [AMBARI-22967] Update Solr version defaults in docker envs (infra-manager and logsearch)
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/sso.yml
Labels: infra-manager, logsearch

#337 [AMBARI-22968]. Remove class duplications from Log Search / Log Feeder classpath.
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: logsearch

#340 Update index.md
  ambari-server/docs/api/v1/index.md
Labels: documentation

#341 Incorrect rendering due to missing space in Markdown headers
  ambari-server/docs/api/v1/authentication-source-resources.md
  ambari-server/docs/api/v1/cluster-resources.md
  ambari-server/docs/api/v1/component-resources.md
  ambari-server/docs/api/v1/configuration.md
  ambari-server/docs/api/v1/credential-resources.md
  ambari-server/docs/api/v1/host-component-resources.md
  ambari-server/docs/api/v1/host-resources.md
  ambari-server/docs/api/v1/permission-resources.md
  ambari-server/docs/api/v1/repository-version-resources.md
  ambari-server/docs/api/v1/request-resources.md
  ambari-server/docs/api/v1/rolling-upgrade-check-resources.md
  ambari-server/docs/api/v1/service-resources.md
  ambari-server/docs/api/v1/stack-version-resources.md
  ambari-server/docs/api/v1/task-resources.md
  ambari-server/docs/api/v1/user-resources.md
  ambari-server/docs/api/v1/view-resources.md
Labels: documentation

#361 [AMBARI-22991] [branch-2.6] Grafana shows incorrect info for HBase Average Regions per RegionServer
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hbase-home.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/default/grafana-ams-hbase-home.json
Labels: ams

#362 [AMBARI-22991] [trunk] Grafana shows incorrect info for HBase Average Regions per RegionServer
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hbase-home.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/default/grafana-ams-hbase-home.json
Labels: ams

#360 AMBARI-22988. master-key option is missing from ambari-server setup action
  ambari-server/src/main/python/ambari-server.py
Labels: server setup

#354 [AMBARI-22985] Quick links should be grouped by namespace
  ambari-web/app/templates/main/dashboard/widgets/hbase_links.hbs
  ambari-web/app/templates/main/dashboard/widgets/hdfs_links.hbs
  ambari-web/app/templates/main/dashboard/widgets/yarn_links.hbs
  ambari-web/app/templates/main/service/info/summary.hbs
  ambari-web/app/views/common/quick_view_link_view.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/test/views/common/quick_link_view_test.js
Labels: web client

#364 [AMBARI-22993]. Get rid of overriding solr start script during infra solr build
  ambari-infra/ambari-infra-assembly/pom.xml
  ambari-infra/ambari-infra-assembly/src/main/resources/solr
  ambari-server/src/main/resources/common-services/AMBARI_INFRA/0.1.0/package/scripts/infra_solr.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA/0.1.0/properties/infra-solr-env.sh.j2
Labels: infra-solr

#381 AMBARI-23010. Make solrIndexHelper.sh script to be able to run index migration against a snapshot
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
Labels: infra-solr

#402 AMBARI-23019. Use lucene version 6.6.2 instead of 6.6.0 in index migration script
  ambari-infra/ambari-infra-solr-client/pom.xml
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
Labels: infra-solr

#380 [AMBARI-23008] [branch-2.6] AMS: SUM downsampling function works incorrectly.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/AbstractTimelineAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/DownSamplerUtils.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/EventMetricDownSampler.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TimelineMetricReadHelper.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TopNDownSampler.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/DownSamplerTest.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
Labels: ams

#382 [AMBARI-23008] [trunk] AMS: SUM downsampling function works incorrectly.
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/AbstractTimelineAggregator.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/DownSamplerUtils.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/EventMetricDownSampler.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TimelineMetricClusterAggregatorSecond.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TimelineMetricReadHelper.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/TopNDownSampler.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/timeline/aggregators/DownSamplerTest.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
Labels: ams

#410 AMBARI-23029 Not able to delete livy component from a host.
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/styles/common.less
  ambari-web/app/templates/main/host/details/addDeleteComponentPopup.hbs
  ambari-web/app/views/common/configs/config_versions_control_view.js
  ambari-web/test/views/common/configs/config_versions_control_view_test.js
Labels: web client

#407 AMBARI-23028. Fix AMBARI_INFRA_SOLR dependency for the stack code.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/ATLAS/0.7.0.2.5/metainfo.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/metainfo.xml
  ambari-server/src/main/resources/common-services/RANGER/0.6.0/metainfo.xml
  ambari-server/src/test/python/stacks/2.4/AMBARI_INFRA/test_infra_solr.py
Labels: infra-solr

#417 AMBARI-23027. Add backup/copy znode command for infra-solr-client.
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudCLI.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudClient.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/AmbariSolrCloudClientBuilder.java
  ambari-infra/ambari-infra-solr-client/src/main/java/org/apache/ambari/infra/solr/commands/TransferZnodeZkCommand.java
Labels: infra-solr

#412 AMBARI-23031 View name is not displayed in ambari-views page
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/i18n.config.js
  ambari-admin/src/main/resources/ui/admin-web/app/views/ambariViews/viewsList.html
Labels: web client

#415 [AMBARI-23035] HDFS Balancer via Ambari fails when FIPS mode is activated on the OS
  ambari-agent/src/main/python/ambari_agent/alerts/web_alert.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/namenode.py
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-10/package/scripts/service_check.py
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-30/package/scripts/service_check.py
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_namenode.py
Labels: FIPS compliance

#414 [AMBARI-23035] HDFS Balancer via Ambari fails when FIPS mode is activated on the OS
  ambari-agent/src/main/python/ambari_agent/alerts/web_alert.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/namenode.py
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-10/package/scripts/service_check.py
  ambari-server/src/test/python/stacks/2.0.6/HDFS/test_namenode.py
Labels: FIPS compliance

#423 AMBARI-23039 'Current' Tag not shown in the Versions page for the currently installed version
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/list.html
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_version_column_view.js
Labels: web client

#434 AMBARI-23045. Default Solr operator is not working anymore for history collection
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/managed-schema
Labels: logsearch

#432 [AMBARI-23044]. Version upgrades of 3rd party dependencies for Log Search and Infra
  ambari-logsearch/ambari-logsearch-assembly/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-portal/pom.xml
  ambari-logsearch/ambari-logsearch-portal/src/main/java/org/apache/ambari/logsearch/common/ExternalServerClient.java
  ambari-logsearch/ambari-logsearch-portal/src/main/java/org/apache/ambari/logsearch/solr/metrics/SolrAmsClient.java
  ambari-logsearch/ambari-logsearch-portal/src/main/java/org/apache/ambari/logsearch/util/JSONUtil.java
  ambari-logsearch/pom.xml
Labels: infra-solr, logsearch

#440 [AMBARI-23052] Extend service actions dropdowns with namespace-specific items
  ambari-web/app/app.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/messages.js
  ambari-web/app/models/host_component.js
  ambari-web/app/models/service.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/templates/main/service/info/summary.hbs
  ambari-web/app/templates/main/service/item.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/utils/batch_scheduled_requests.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/item.js
  ambari-web/test/controllers/main/service/item_test.js
  ambari-web/test/views/main/service/item_test.js
Labels: web client

#452 AMBARI-23044. Version upgrades of 3rd party dependencies for Log Sear…
  ambari-infra/ambari-infra-assembly/pom.xml
  ambari-infra/ambari-infra-manager/pom.xml
  ambari-infra/ambari-infra-solr-client/pom.xml
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-config-zookeeper/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/ExternalServerClient.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/configurer/SolrCollectionConfigurer.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/handler/UpgradeSchemaHandler.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/util/JSONUtil.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchKrbFilter.java
  ambari-logsearch/pom.xml
Labels: infra-solr, logsearch

#449 [AMBARI-22878] Fix unit tests broken by reference to non-existent stack
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/BackgroundCustomCommandExecutionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/RefreshYarnCapacitySchedulerReleaseConfigTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/JMXHostProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ServiceGroupResourceProviderTest.java
Labels: unit-test

#460 [AMBARI-23069] Wrong reference in params.py files for zookeeper hosts
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/FLUME/1.4.0.2.0/package/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/params.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/hooks/before-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/hooks/before-START/scripts/params.py
  ambari-server/src/main/resources/stacks/BIGTOP/0.8/services/ZOOKEEPER/package/scripts/params.py
  ambari-server/src/main/resources/stacks/HDPWIN/2.1/hooks/after-INSTALL/scripts/params.py
Labels: infra-solr

#468 [AMBARI-23067] Upgrading commons-collections to 3.2.2 due to security concerns
  ambari-project/pom.xml
  ambari-server/pom.xml
  utility/pom.xml
Labels: security

#473 AMBARI-22878. Fix unit tests
  ambari-server/src/test/java/org/apache/ambari/server/actionmanager/ExecutionCommandWrapperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/HeartbeatProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/RecoveryConfigHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ServiceDependencyResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/VersionDefinitionResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/events/listeners/upgrade/HostVersionOutOfSyncListenerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/OrmTestHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/dao/AlertDispatchDAOTest.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/dao/AlertsDAOTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ConfigGroupTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/ServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/alerts/AlertEventPublisherTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/alerts/InitialAlertEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClusterDeadlockTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/cluster/ClustersTest.java
  ambari-server/src/test/java/org/apache/ambari/server/testing/DBInconsistencyTests.java
Labels: unit-test

#486 Few more unit test fixes
  ambari-server/src/test/java/org/apache/ambari/server/api/services/HostServiceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/MpackResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackManagerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/alerts/AlertDefinitionHashTest.java
Labels: unit-test

#495 [AMBARI-22854] Fix running service checks with new mpack definitions - UT fix (dsen)
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/stack/StackManagerTest.java
  ambari-server/src/test/resources/stacks/HDP/0.1/services/PIG/metainfo.xml
Labels: unit-test

#498 [AMBARI-22194] Remove accidental jline.internal.Log import
  ambari-server/src/main/java/org/apache/ambari/server/state/repository/VersionDefinitionXml.java
Labels: cherry-pick, cleanup

#497 [AMBARI-23108] Upgrading commons-collections dependency to 3.2.2 due to security concerns
  ambari-funtest/pom.xml
Labels: security
