Repository apache/ambari, pull requests merged in 2018-03, with the labels that each got.

#507 [AMBARI-22875] Fix 2 blueprint-related unit tests
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/BlueprintBasedClusterProvisionRequestTest.java
Labels: unit-test

#431 [AMBARI-23032] fix exceptions, export cluster settings and single mpack
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRenderer.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterSettingResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/MpackResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRendererTest.java
Labels: blueprint

#519 [AMBARI-22875] Fix RAT check failures
  ambari-server/src/main/java/org/apache/ambari/server/topology/ComponentResolver.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ProvisionRequest.java
Labels: RAT

#516 [AMBARI-22883] Count of each OS type is always 1
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/HostSummaryRenderer.java
Labels: API

#496 [AMBARI-22194] Remove accidental jline.internal.Log import
  ambari-server/src/main/java/org/apache/ambari/server/state/repository/VersionDefinitionXml.java
Labels: cleanup

#501 [AMBARI-23111] Additional fixes for service summary page to support NameNode Federation
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/host/bulk_operations_controller.js
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mappers/hosts_mapper.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/messages.js
  ambari-web/app/models/host_component.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/styles/alerts.less
  ambari-web/app/styles/application.less
  ambari-web/app/styles/common.less
  ambari-web/app/styles/enhanced_service_dashboard.less
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/styles/visualsearch.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/main/service/info/summary.hbs
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/item.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/common/chart/linear_time.js
  ambari-web/app/views/common/quick_view_link_view.js
  ambari-web/app/views/main/dashboard/widgets/hdfs_links.js
  ambari-web/app/views/main/dashboard/widgets/namenode_cpu.js
  ambari-web/app/views/main/host/details/host_component_views/datanode_view.js
  ambari-web/app/views/main/service/info/components_list_view.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/item.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/controllers/main/service/item_test.js
  ambari-web/test/views/common/quick_link_view_test.js
Labels: web client

#485 AMBARI-22781. Fix OneFS blueprint installation (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/Stack.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Blueprint.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopology.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterTopologyImplTest.java
Labels: blueprint

#427 AMBARI-23042 Save/discard button is not found for ranger configuration
  ambari-web/app/controllers/main/service/info/configs.js
Labels: web client

#438 AMBARI-23050 Hosts selection not shown while adding Zookeeper server
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/templates/main/host/details/addDeleteComponentPopup.hbs
  ambari-web/app/views/common/modal_popups/dependent_configs_list_popup.js
Labels: web client

#439 AMBARI-23051 Background Ops during wizard pages do not show all the ops running by default
  ambari-web/app/views/common/host_progress_popup_body_view.js
Labels: web client

#455 AMBARI-23068 Service Auto Start cannot be disabled
  ambari-web/app/controllers/main/admin/service_auto_start.js
  ambari-web/test/controllers/main/admin/service_auto_start_test.js
Labels: web client

#474 AMBARI-23086 Target host shows all the hosts available in Move Wizard
  ambari-web/app/controllers/main/service/reassign/step2_controller.js
Labels: web client

#513 AMBARI-23118. Add apidoc for InfraRuleBasedAuthorizationPlugin.
  ambari-infra/ambari-infra-solr-plugin/pom.xml
  ambari-infra/ambari-infra-solr-plugin/src/main/resources/apispec/cluster.security.InfraRuleBasedAuthorization.json
Labels: infra-solr

#523 AMBARI-23127. Allow default value of number of parallel tasks run during Upgrade to be customizable. (swagle)
  ambari-server/docs/configuration/index.md
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ParallelScheduler.java
  pom.xml
Labels: upgrade

#529 [AMBARI-23132] Fix ConfigUpgradeValidityTest.testConfigurationDefinitionsExist test failure
  ambari-server/src/test/java/org/apache/ambari/server/state/stack/ConfigUpgradeValidityTest.java
Labels: unit-test

#534 [AMBARI-23137] Allow users to skip backup steps on Express Upgrades to save time. (swagle)
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/namenode.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/params_linux.py
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/upgrade-2.6.xml
Labels: upgrade

#502 [AMBARI-23109] Upgrading org.apache.httpcomponents:httpclient dependency to v4.5.5 due to security concerns
  ambari-funtest/pom.xml
Labels: security

#541 [AMBARI-23140] Fixed typo in unit test
  ambari-client/groovy-client/src/test/groovy/org/apache/ambari/groovy/client/AmbariHostsTest.groovy
Labels: unit-test

#511 AMBARI-22540 Integrate component state counters with websocket events
  ambari-web/app/assets/test/tests.js
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/mappers/components_state_mapper.js
  ambari-web/app/mappers/socket/host_component_status_mapper.js
  ambari-web/app/mappers/socket/topology_mapper.js
  ambari-web/app/models/client_component.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/mappers/components_state_mapper_test.js
  ambari-web/test/mappers/socket/host_component_status_mapper_test.js
  ambari-web/test/mappers/socket/topology_mapper_test.js
  ambari-web/test/mappers/status_mapper_test.js
Labels: web client

#528 AMBARI-23131 Config version not shown after overriding properties with a config group
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mixins/common/configs/configs_loader.js
  ambari-web/app/views/common/configs/service_config_view.js
  ambari-web/test/mixins/common/configs/configs_loader_test.js
  ambari-web/test/views/common/configs/service_config_view_test.js
Labels: web client

#538 [AMBARI-23123] Fixing BlackDuck found security issues in Ambari Server
  ambari-project/pom.xml
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
  ambari-utility/pom.xml
Labels: security

#540 [AMBARI-23137] Allow users to skip backup steps on Express Upgrades to save time. (swagle)
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/namenode.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/params_linux.py
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/upgrade-2.6.xml
Labels: upgrade

#551 [AMBARI-23141] Fix BlackDuck found security issues in Ambari Functional Tests
  ambari-funtest/pom.xml
Labels: security

#548 AMBARI-23146 Alignment issues for checkboxes and radio buttons
  ambari-web/app/styles/bootstrap_overrides.less
Labels: web client

#565 AMBARI-23157 Typo in configs.py (dili)
  ambari-server/src/main/resources/scripts/configs.py
Labels: typo

#494 AMBARI-23106: Generate localjceks://file/{path} urls
  ambari-common/src/main/python/resource_management/libraries/functions/security_commons.py
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/oozie.py
Labels: security

#569 AMBARI-22614 fix OrmTestHelper to support mpacks in unit tests (benyoka)
  ambari-server/src/test/java/org/apache/ambari/server/orm/OrmTestHelper.java
Labels: unit-test

#573 AMBARI-23163 Unable to add a service in second go from Ambari-UI
  ambari-web/app/views/common/modal_popups/config_validation/config_validation_popup.js
Labels: web client

#579 AMBARI-23167 - StackOverflowError thrown during cluster creation
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/MpackEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepoDefinitionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepoOsEntity.java
Labels: JPA

#585 [AMBARI-23174] [branch-2.6] Add storm topology metric expressions for custom downsampling cnfig.
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
Labels: ams

#581 [AMBARI-22875] Adopt changes in Host Component API for Blueprint cluster creation
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostComponentResourceProvider.java
Labels: API, blueprint

#590 [AMBARI-23106] Optionally generate localjceks://file/{path} url
  ambari-common/src/main/python/resource_management/libraries/functions/security_commons.py
  ambari-server/src/main/resources/common-services/OOZIE/4.0.0.2.0/package/scripts/oozie.py
Labels: cherry-pick, security

#584 [AMBARI-23173] Assign Client/Slaves page pagination control static.
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/wizard/step6.hbs
Labels: web client

#561 AMBARI-23037 Admin user can delete own user from Users page
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/userManagement/UsersListCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/User.js
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/usersList.html
Labels: web client

#574 AMBARI-23164 Config dependencies alert bar not displayed properly while scrolling down the page
  ambari-web/app/views/common/configs/service_configs_by_category_view.js
  ambari-web/app/views/common/controls_view.js
  ambari-web/app/views/main/service/info/configs.js
Labels: web client

#571 AMBARI-23150 Configurations attributes reset after running Add Service wizard
  ambari-web/app/controllers/wizard.js
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#599 [AMBARI-23021] ServiceInfo: credential_store_supported attempts to overwrite maintenance_state
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceResourceProvider.java
Labels: typo

#600 AMBARI-23099. Let custom service users to access Log Search collections.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/templates/infra-solr-security.json.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logsearch-env.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logsearch.py
Labels: infra-solr, logsearch

#611 [AMBARI-23194] Values instance has no attribute 'master_key' during ambari-server reset
  ambari-server/src/main/python/ambari-server.py
Labels: server setup

#608 [AMBARI-23129] Multiple issues while executing Ambari server upgrade to Ambari 2.7.0
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessor.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessorImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/GuiceJpaInitializer.java
  ambari-server/src/main/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulator.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClustersImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/SchemaUpgradeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/DBAccessorImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/ldap/AmbariLdapDataPopulatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeTest.java
Labels: cleanup, upgrade

#596 AMBARI-23182. Infra Solr - add custom Ambari commands for backup/migrate/restore index.
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/collection.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/infra_solr.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/migrate.py
Labels: infra-solr

#604 AMBARI-23188 UI Changes required for Manage Versions /Register Versions Page
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/stackVersionPage.html
Labels: web client

#558 AMBARI-23153 BootStrap Standby NameNode page does not conform to new UI
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step7.hbs
Labels: web client

#615 [AMBARI-23185] Added a new CLI option in the setup-ldap tool to indicate whether to force LDAP auth method even if another one - or none at all - is already configured
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
Labels: LDAP

#622 [AMBARI-23199] Infra Solr - add status and host checks for backup/restore/migrate custom commands.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/collection.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/migrate.py
Labels: infra-solr

#637 AMBARI-23216. Fix that Log Search for Ambari 2.6.2 should not require java8.
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/pom.xml
Labels: logsearch

#638 AMBARI-23218. Remove delete custom command from Ambari Infra Solr stack.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/collection.py
Labels: infra-solr

#639 AMBARI-23210 Customise Services: Alignment issue while adding new custom password property
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/views/common/controls_view.js
Labels: web client

#620 [AMBARI-22875] Dependency check should ignore unknown services
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/Stack.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/validators/DependencyAndCardinalityValidator.java
Labels: blueprint

#649 AMBARI-23200. Infra Solr - utility script to run infra-solr custom commands (migrate/backup/restore)
  ambari-infra/ambari-infra-solr-client/build.xml
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: infra-solr

#650 AMBARI-23226. Hide ambari-infra custom commands from the UI
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/metainfo.xml
Labels: infra-solr

#623 AMBARI-23038 Alert filter with services having space is not working
  ambari-web/app/views/main/alert_definitions_view.js
  ambari-web/app/views/main/alerts/alert_search_box.js
Labels: web client

#570 AMBARI-23150 Configurations attributes reset after running Add Service wizard
  ambari-web/app/controllers/wizard.js
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#605 AMBARI-23189 Background Ops: Make the operations column wider (shrink the other columns to make space)
  ambari-web/app/templates/common/host_progress_popup.hbs
Labels: web client

#630 AMBARI-23207 The tooltip for Overriden properties shown under manage Config Groups page has '<br/>' in the tooltip text
  ambari-web/app/controllers/main/service/manage_config_groups_controller.js
  ambari-web/app/models/configs/config_group.js
  ambari-web/test/models/configs/config_group_test.js
Labels: web client

#647 [AMBARI-23224] Dependency check should ignore unknown services
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintValidatorImpl.java
Labels: blueprint

#657 [AMBARI-23235] SQL errors in schema create script for Oracle
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
Labels: SQL, typo

#663 [AMBARI-23238] Incorrect property for NN namespace value is used
  ambari-web/app/app.js
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mappers/hosts_mapper.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/models/host_component.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/controllers/main/service/item_test.js
Labels: web client

#662 [AMBARI-23227] Pass service_group_name and service_name while creatin…
  ambari-web/app/controllers/wizard/step8_controller.js
  ambari-web/test/controllers/wizard/step4_test.js
Labels: web client

#690 AMBARI-23265 - Provide Original Operating Systems from Mpack repoinfo…
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/MpackResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ResourceInstanceFactoryImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/MpacksService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/OperatingSystemService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DefaultOperatingSystemResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DefaultProviderModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/MpackResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/OperatingSystemResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/spi/Resource.java
  ambari-server/src/main/java/org/apache/ambari/server/mpack/MpackManager.java
  ambari-server/src/main/java/org/apache/ambari/server/state/Mpack.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/RepositoryXml.java
Labels: API, repos

#689 [AMBARI-23264] Fix TestMySqlServer error while executing unit tests on MacOS/Darwin
  ambari-server/src/test/python/stacks/2.0.6/HIVE/test_mysql_server.py
Labels: unit-test

#695 [AMBARI-23274] Fixes for MySQL Create DDL Script
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
Labels: SQL

#655 [AMBARI-23232] Set full name (cn) when creating user accounts in FreeIPA server
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/IPAKerberosOperationHandler.java
Labels: kerberos

#699 [AMBARI-23276] Maven cleanup
  ambari-agent/pom.xml
  ambari-funtest/pom.xml
  ambari-project/pom.xml
  ambari-server/pom.xml
  ambari-server/src/main/assemblies/server.xml
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-serviceadvisor/pom.xml
  ambari-utility/pom.xml
  pom.xml
Labels: cleanup

#626 AMBARI-23202 Websocket client should use secure endpoint when connected over https
  ambari-web/app/utils/stomp_client.js
  ambari-web/test/utils/stomp_client_test.js
Labels: web client

#643 AMBARI-23220 Customise Services : Alignment not proper for Select Config group Pop up and overriden text box
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/templates/common/configs/overriddenProperty.hbs
  ambari-web/app/templates/common/modal_popups/select_groups_popup.hbs
Labels: web client

#619 AMBARI-21008 Integrate AlertTargetService and subresources with swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/AlertTargetService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AlertTargetSwagger.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AlertGroupResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AlertTargetResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/alert/AlertTarget.java
Labels: API, documentation

#732 Fix various DDL errors
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ServiceGroupDependencyEntity.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
Labels: SQL

#725 AMBARI-23303 - Use NameNode Upgrade Timeout Override In All Upgrade Packs
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.3.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/host-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/nonrolling-upgrade-2.6.xml
Labels: upgrade

#730 AMBARI-23230 Upgrade Solr configuration while upgrading Ambari 2.6.1 …
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/deb/logfeeder/postinst
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/deb/portal/postinst
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postinstall.sh
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postremove.sh~HEAD
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postremove.sh~trunk
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/portal/postinstall.sh
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/portal/postremove.sh~HEAD
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/portal/postremove.sh~trunk
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederProps.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederSecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrAuditLogPropsConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrConnectionPropsConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/resources/org/apache/ambari/server/upgrade/solrconfig-v500.xml.j2
Labels: infra-solr, logsearch

#719 AMBARI-23283 Install Wizard > Select Version page: the user cannot proceed with Redhat Satellite option
  ambari-web/app/views/wizard/step1_view.js
  ambari-web/test/views/wizard/step1_view_test.js
Labels: web client

#733 [AMBARI-23097]. Log Search: knox proxy support
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/auth/filter/AbstractJWTFilter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchAuthenticationEntryPoint.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/security/LogsearchAuthenticationProvider.java
  ambari-logsearch/docker/knox/logsearch/1.0.0/rewrite.xml
  ambari-logsearch/docker/knox/logsearch/1.0.0/service.xml
Labels: logsearch

#735 AMBARI-23307. Rename AMBARI_INFRA to AMBARI_INFRA_SOLR in upgrade helper script.
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
Labels: infra-solr

#743 [AMBARI-23316] Infra Solr - migrationHelper script should work in unsecure mode
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
Labels: infra-solr

#724 [AMBARI-23302] Ambari Upgrade from 2.6.0.0 - 2.7.0.0 - Dashboard is unable to load and spinner keeps spinning
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/views/main/dashboard/widgets/namenode_cpu.js
  ambari-web/test/views/main/dashboard/widgets_test.js
Labels: web client

#749 AMBARI-23321. Move SOLR znode opertations out from configure
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/infra_solr.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
Labels: infra-solr

#642 [AMBARI-21738]OS specific package manager logic need to be moved out from Package provider to ambari_commons
  ambari-agent/src/test/python/resource_management/TestPackageResource.py
  ambari-agent/src/test/python/resource_management/TestScript.py
  ambari-common/src/main/python/ambari_commons/buffered_queue.py
  ambari-common/src/main/python/ambari_commons/repo_manager/__init__.py
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_parser.py
  ambari-common/src/main/python/ambari_commons/repo_manager/choco_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/generic_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/generic_parser.py
  ambari-common/src/main/python/ambari_commons/repo_manager/yum_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/yum_parser.py
  ambari-common/src/main/python/ambari_commons/repo_manager/zypper_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/zypper_parser.py
  ambari-common/src/main/python/ambari_commons/shell.py
  ambari-common/src/main/python/resource_management/core/providers/__init__.py
  ambari-common/src/main/python/resource_management/core/providers/package/__init__.py
  ambari-common/src/main/python/resource_management/core/providers/package/apt.py
  ambari-common/src/main/python/resource_management/core/providers/package/zypper.py
  ambari-common/src/main/python/resource_management/core/providers/packaging.py
  ambari-common/src/main/python/resource_management/core/shell.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/resources/custom_actions/scripts/check_host.py
  ambari-server/src/main/resources/custom_actions/scripts/install_packages.py
  ambari-server/src/main/resources/custom_actions/scripts/remove_previous_stacks.py
  ambari-server/src/test/python/custom_actions/TestInstallPackages.py
  ambari-server/src/test/python/custom_actions/TestRemoveStackVersion.py
  ambari-server/src/test/python/stacks/2.0.6/HBASE/test_hbase_master.py
Labels: agent, ambari-common py library

#750 AMBARI-23230 ADDENDUM - Upgrade Solr configuration while upgrading Am…
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/python/ambari_server/serverUpgrade.py
Labels: infra-solr, upgrade

#739 AMBARI-23312 Regression : Adding Atlas Metadata server' for HA on an host takes forever.
  ambari-web/app/controllers/main/host/details.js
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#681 AMBARI-23256 Ambari-agent setting permission of .hash files to 666
  ambari-agent/src/main/python/ambari_agent/FileCache.py
  ambari-server/src/main/python/ambari_server/resourceFilesKeeper.py
Labels: security

#759 [AMBARI-23310] Add SSO-related configuration recommendations to the stack advisor
  ambari-server/src/main/assemblies/server.xml
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/StackAdvisorRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/SingleSignOnConfigurationRecommendationCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/StackAdvisorCommandType.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/resources/scripts/stack_advisor.py
  ambari-server/src/main/resources/stacks/HDP/2.6/services/stack_advisor.py
  ambari-server/src/main/resources/stacks/ambari_configuration.py
  ambari-server/src/main/resources/stacks/service_advisor.py
  ambari-server/src/main/resources/stacks/stack_advisor.py
  ambari-server/src/test/python/TestStackAdvisor.py
  ambari-server/src/test/python/common-services/AMBARI_METRICS/test_service_advisor.py
  ambari-server/src/test/python/common-services/HAWQ/test_service_advisor.py
  ambari-server/src/test/python/common-services/LOGSEARCH/test_service_advisor.py
  ambari-server/src/test/python/common-services/PXF/test_service_advisor.py
  ambari-server/src/test/python/stacks/2.0.6/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/2.1/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/2.2/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/2.2/common/test_stack_advisor_perf.py
  ambari-server/src/test/python/stacks/2.3/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/2.5/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/2.6/common/test_stack_advisor.py
  ambari-server/src/test/python/stacks/test_ambari_configuration.py
  ambari-server/src/test/python/stacks/test_stack_adviser.py
  ambari-server/src/test/resources/TestAmbaryServer.samples/dummy_stack/HIVE/package/.hash
  ambari-serviceadvisor/src/main/java/org/apache/ambari/serviceadvisor/ServiceAdvisorCommandType.java
Labels: service advisor, sso, stack advisor

#773 [AMBARI-23351] The Ambari-DDL-Postgres-EMBEDDED-CREATE.sql file conta…
  ambari-server/src/main/resources/Ambari-DDL-Postgres-EMBEDDED-CREATE.sql
Labels: typo

#61 Fix minor typo and re-word processIdentity Javadoc
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreatePrincipalsServerAction.java
Labels: typo

#770 AMBARI-23314 - Prevent Multiple OS Entries For a Single Mpack
  ambari-server/src/main/java/org/apache/ambari/server/api/services/OperatingSystemService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DefaultProviderModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/OperatingSystemResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/RepositoryDefinitionDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepoDefinitionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepoOsEntity.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
Labels: JPA, repos

#716 [AMBARI-23032] Support for Blueprint exports for MPack-based clusters
  ambari-server/src/main/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRenderer.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementController.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterStackVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ComponentResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/Component.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/HostGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ResolvedComponent.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/StackComponentResolver.java
  ambari-server/src/test/java/org/apache/ambari/server/api/query/render/ClusterBlueprintRendererTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ActiveWidgetLayoutResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ExportBlueprintRequestTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthorizationResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
Labels: blueprint

#789 [AMBARI-22875] NPE at serviceType
  ambari-server/src/main/java/org/apache/ambari/server/topology/StackComponentResolver.java
Labels: blueprint

#788 AMBARI-23364. Cannot stop logsearch/logfeeder properly after ambari upgrade
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/scripts/logfeeder.sh
  ambari-logsearch/ambari-logsearch-server/src/main/scripts/logsearch.sh
Labels: logsearch

#793 AMBARI-23371. Update Log Search integration test framework to work with Solr7 API.
  ambari-logsearch/README.md
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/domain/StoryDataRegistry.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/AbstractLogSearchSteps.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/steps/LogSearchDockerSteps.java
  ambari-logsearch/docker/all.yml
  ambari-logsearch/docker/logsearch-docker.sh
Labels: logsearch

#741 AMBARI-23312 Regression : Adding Atlas Metadata server' for HA on an host takes forever.
  ambari-web/app/controllers/main/host/details.js
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#738 AMBARI-23309 YARN cluster memory graph is not loading in Ambari 2.6
  ambari-web/app/controllers/main/service/widgets/create/step2_controller.js
  ambari-web/app/mixins/common/widgets/widget_mixin.js
  ambari-web/test/mixins/common/widget_mixin_test.js
Labels: web client

#688 AMBARI-23261 Ambari web - Install wizard "Review" step does not show HDP-GPL repo
  ambari-web/app/templates/wizard/step1.hbs
Labels: web client

#656 AMBARI-23233 Broken view of Configs after saving changes
  ambari-web/app/mixins/common/configs/configs_loader.js
  ambari-web/app/models/configs/config_group.js
  ambari-web/app/models/configs/service_config_version.js
  ambari-web/app/views/common/configs/service_config_view.js
Labels: web client

#800 [AMBARI-23346] Fixed Python unit test after changing default timeout to 90 seconds
  ambari-server/src/test/python/TestAmbariServer.py
Labels: unit-test

#740 [AMBARI-23313] JS error on service stop/restart after config changes
  ambari-web/app/controllers/main/service/item.js
Labels: web client

#787 [AMBARI-23363] Streamline Application manager's UI link is not visible in Ambari-2.7.0.0
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/common/quick_view_link_view.js
  ambari-web/app/views/main/dashboard/widgets.js
  ambari-web/test/views/common/quick_link_view_test.js
Labels: web client

#772 [AMBARI-23349] Add NameNode federation support for Host Details page
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/host/bulk_operations_controller.js
  ambari-web/app/mappers/hosts_mapper.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/models/host.js
  ambari-web/app/models/host_component.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/common.less
  ambari-web/app/styles/dashboard.less
  ambari-web/app/styles/hosts.less
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/templates/main/dashboard/widgets/pie_chart.hbs
  ambari-web/app/templates/main/dashboard/widgets/simple_text.hbs
  ambari-web/app/templates/main/host/details/host_component.hbs
  ambari-web/app/templates/main/host/summary.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/main/dashboard/widget.js
  ambari-web/app/views/main/dashboard/widgets.js
  ambari-web/app/views/main/dashboard/widgets/hdfs_links.js
  ambari-web/app/views/main/dashboard/widgets/namenode_cpu.js
  ambari-web/app/views/main/dashboard/widgets/namenode_rpc.js
  ambari-web/app/views/main/host/details/host_component_views/datanode_view.js
  ambari-web/app/views/main/host/summary.js
  ambari-web/test/views/main/host/details/host_component_views/datanode_view_test.js
Labels: web client

#805 [AMBARI-23380] Fix intermittent "No such file or directory" error in TestHostCleanup
  ambari-agent/src/main/python/ambari_agent/HostCleanup.py
Labels: unit-test

#765 [AMBARI-23311] Use Ambari CLI to specify which services should be setup for SSO integration
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/main/python/ambari_server/setupSso.py
  ambari-server/src/test/python/TestAmbariServer.py
  ambari-server/src/test/python/TestServerUtils.py
  ambari-server/src/test/python/TestSetupSso.py
Labels: server setup

#804 [AMBARI-23363] Streamline Application manager's UI link is not visible in Ambari-2.7.0.0 (additional patch)
  ambari-web/app/views/main/dashboard/widgets.js
Labels: web client

#634 AMBARI-23209 Kerberos 'Edit' Properties not conforming to the new style
  ambari-web/app/templates/main/admin/kerberos.hbs
Labels: web client

#701 AMBARI-23201 Integrate ViewService with Swagger
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ViewUrlsService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewDataMigrationService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewInstanceService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewPermissionService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewPrivilegeService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewUrlsService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewVersionService.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/request/eventcreator/PrivilegeEventCreator.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/request/eventcreator/ViewInstanceEventCreator.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/request/eventcreator/ViewPrivilegeEventCreator.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/PrivilegeResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewInstanceRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewInstanceResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewPermissionResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewPrivilegeRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewPrivilegeResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewUrlResponseSwagger.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewVersionResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariPrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClusterPrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/GroupPrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/PrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UserAuthorizationResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UserPrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewInstanceResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewPermissionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewPrivilegeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewURLResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ViewVersionResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/request/creator/PrivilegeEventCreatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/request/creator/ViewInstanceEventCreatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/request/creator/ViewPrivilegeEventCreatorTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClusterPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/GroupPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserAuthorizationResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UserPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ViewInstanceResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ViewPrivilegeResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ViewURLResourceProviderTest.java
Labels: API, documentation

#815 [AMBARI-23362] Log Search UI: filter dropdown lists fixes
  ambari-logsearch/ambari-logsearch-web/src/app/classes/list-item.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/filters-panel/filters-panel.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/filters-panel/filters-panel.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/log-level/log-level.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shipper/components/shipper-configuration/shipper-configuration.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-container.service.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/i18n/en.json
Labels: logsearch

#816 AMBARI-23392 Duplicate websocket subscription on Configs page
  ambari-web/app/controllers/main/service/info/configs.js
  ambari-web/app/routes/main.js
  ambari-web/app/utils/stomp_client.js
  ambari-web/test/utils/stomp_client_test.js
Labels: web client

#798 AMBARI-23374 Add Service Wizard will not reset after adding a service
  ambari-web/app/routes/add_service_routes.js
Labels: web client

#784 AMBARI-23358 Service page layout updates
  ambari-web/app/assets/index.html
  ambari-web/app/messages.js
  ambari-web/app/styles/application.less
  ambari-web/app/templates/main/alerts/definition_details.hbs
  ambari-web/app/templates/main/charts/heatmap/heatmap_host_detail.hbs
  ambari-web/app/views/common/widget/heatmap_widget_view.js
  ambari-web/app/views/main/charts/heatmap/heatmap_host.js
  ambari-web/test/views/common/widget/heatmap_widget_view_test.js
  ambari-web/test/views/main/charts/heatmap/heatmap_host_test.js
Labels: web client

#768 AMBARI-23345 Install Wizard: Add a Cancel button to go back to Admin View.
  ambari-web/app/controllers/installer.js
  ambari-web/app/controllers/wizard/step2_controller.js
  ambari-web/app/messages.js
  ambari-web/app/routes/installer.js
  ambari-web/app/styles/stack_versions.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates.js
  ambari-web/app/templates/common/assign_master_components.hbs
  ambari-web/app/templates/wizard/installer_cancel_button.hbs
  ambari-web/app/templates/wizard/step0.hbs
  ambari-web/app/templates/wizard/step1.hbs
  ambari-web/app/templates/wizard/step2.hbs
  ambari-web/app/templates/wizard/step3.hbs
  ambari-web/app/templates/wizard/step4.hbs
  ambari-web/app/templates/wizard/step6.hbs
  ambari-web/app/templates/wizard/step7_with_category_tabs.hbs
  ambari-web/app/templates/wizard/step8.hbs
  ambari-web/app/views/wizard/step1_view.js
  ambari-web/app/views/wizard/step3/hostWarningPopupBody_view.js
  ambari-web/test/controllers/installer_test.js
Labels: web client

#766 AMBARI-23342 Admin View: Users and Groups style tweaks
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/userManagement/GroupEditCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/userManagement/GroupsListCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/userManagement/UserEditCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/userManagement/UsersListCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/directives/editableList.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/ConfirmationModal.js
  ambari-admin/src/main/resources/ui/admin-web/app/styles/bootstrap-overrides.css
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/directives/editableList.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/modals/ConfirmationModal.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/groupEdit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/userEdit.html
Labels: web client

#702 AMBARI-23281 Enable Kerberos Wizard style edits
  ambari-web/app/styles/application.less
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/styles/common.less
  ambari-web/app/styles/modal_popups.less
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/common/button_progress.hbs
  ambari-web/app/templates/common/form/check_db_connection.hbs
  ambari-web/app/templates/common/progress.hbs
  ambari-web/app/templates/main/admin/kerberos/step3.hbs
  ambari-web/app/templates/main/admin/kerberos/step5.hbs
  ambari-web/app/templates/main/admin/service_auto_start.hbs
  ambari-web/app/views/common/controls_view.js
Labels: web client

#826 AMBARI-23402. Make nproc and nolimit values configurable through infra-solr-env config
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-env.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/templates/infra-solr.conf.j2
  ambari-server/src/test/python/stacks/2.4/AMBARI_INFRA/test_infra_solr.py
Labels: infra-solr

#778 [AMBARI-23354] Enable or disable SSO for servces upon setting sso-configuration values
  ambari-server/src/main/java/org/apache/ambari/server/api/services/stackadvisor/commands/StackAdvisorCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariServerConfigurationKey.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerLDAPConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationHandlerFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/stackadvisor/commands/StackAdvisorCommandTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/AmbariServerSSOConfigurationHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationResourceProviderTest.java
Labels: API, service advisor, sso

#684 AMBARI-23259 For Ranger Service /spnego reference principal is not getting updated in config
  ambari-web/app/controllers/main/admin/kerberos/wizard_controller.js
  ambari-web/app/mixins/wizard/addSecurityConfigs.js
Labels: web client

#847 [AMBARI-23418] Fix and cleanup ClientConfigResourceProviderTest and TestHeartbeatHandler
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProvider.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/TestHeartbeatHandler.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProviderTest.java
Labels: cleanup, unit-test

#833 [AMBARI-23332] Recommend SSO configuration values for ATLAS and RANGER in the stack advisor
  ambari-server/src/main/resources/stacks/HDP/2.6/services/ATLAS/metainfo.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/services/RANGER/metainfo.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/services/stack_advisor.py
  ambari-server/src/main/resources/stacks/ambari_configuration.py
  ambari-server/src/test/python/stacks/test_ambari_configuration.py
Labels: sso, stack advisor
