Repository apache/ambari, pull requests merged in 2018-05, with the labels that each got.

#1144 [AMBARI-23735] - Expose Mpack Information As Individual Fields for Service Groups
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceGroupRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ServiceGroupResponse.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ServiceGroupResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceGroupImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ServiceGroupResourceProviderTest.java
Labels: API

#1143 [AMBARI-23734] Customize Services - Tooltip issues on Accounts Tab an…
  ambari-web/app/styles/bootstrap_overrides.less
  ambari-web/app/templates/wizard/step7/accounts_tab.hbs
  ambari-web/app/views/common/controls_view.js
Labels: web client

#893 [AMBARI-23465] Remove the weather view example, as it does not work b…
  ambari-views/examples/README.md
  ambari-views/examples/pom.xml
  ambari-views/examples/weather-view/docs/index.md
  ambari-views/examples/weather-view/docs/paloalto.png
  ambari-views/examples/weather-view/docs/weather.png
  ambari-views/examples/weather-view/pom.xml
  ambari-views/examples/weather-view/src/main/java/org/apache/ambari/view/weather/CityResource.java
  ambari-views/examples/weather-view/src/main/java/org/apache/ambari/view/weather/CityResourceProvider.java
  ambari-views/examples/weather-view/src/main/java/org/apache/ambari/view/weather/CityService.java
  ambari-views/examples/weather-view/src/main/java/org/apache/ambari/view/weather/WeatherServlet.java
  ambari-views/examples/weather-view/src/main/resources/WEB-INF/web.xml
  ambari-views/examples/weather-view/src/main/resources/view.xml
Labels: ambari views, cleanup

#1146 [AMBARI-23737] JS error adding Ranger to a cluster
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#1150 AMBARI-23717 Stack installation command didn't fail properly when installed package didn't present in repository (dgrinenko)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/generic_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/yum_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/zypper_manager.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/test/python/custom_actions/TestInstallPackages.py
Labels: ambari-commons

#1153 [AMBARI-23728] Group HDFS components into the components section of the ambari service summary page
  ambari-web/app/assets/test/tests.js
  ambari-web/app/templates/main/service/info/summary/hdfs/slaves.hbs
  ambari-web/app/templates/main/service/info/summary/hdfs/widgets.hbs
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/services/hdfs.hbs
  ambari-web/app/views.js
  ambari-web/app/views/main/service/info/components_list_view.js
  ambari-web/app/views/main/service/info/summary.js
  ambari-web/app/views/main/service/info/summary/hdfs/slaves.js
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
  ambari-web/app/views/main/service/services/hdfs.js
  ambari-web/test/views/main/service/info/summary/hdfs/slaves_test.js
  ambari-web/test/views/main/service/services/hdfs_test.js
Labels: web client

#1157 AMBARI-23743. Log Feeder: security config bean is duplicated
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/conf/LogFeederSecurityConfig.java
Labels: logsearch

#1154 [AMBARI-23739] Namespace names are converted to uppercase after selecting from dropdown
  ambari-web/app/templates/main/dashboard/widgets.hbs
  ambari-web/app/templates/main/service/info/metrics.hbs
Labels: web client

#1166 AMBARI-23749. Support POST on all service / audit logs endpoint.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/model/request/impl/body/ClusterBodyRequest.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/rest/AuditLogsResource.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/rest/ServiceLogsResource.java
Labels: logsearch

#1164 [AMBARI-23562] Updating hadoop.proxyuser.HTTP.hosts in USER Kerberos descriptor when upgrading to 2.7 and make sure the new STACK Kerberos descriptors have the correct value
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/stacks/HDP/2.5/services/HIVE/kerberos.json
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: kerberos, upgrade

#1151 AMBARI-23690 The UI should ignore Kerberos identity references when setting the user-supplied Kerberos descriptor
  ambari-web/app/controllers/main/admin/kerberos/step5_controller.js
  ambari-web/app/controllers/main/admin/kerberos/step7_controller.js
  ambari-web/app/controllers/main/admin/kerberos/wizard_controller.js
  ambari-web/app/controllers/wizard/step8_controller.js
  ambari-web/app/mixins/wizard/addSecurityConfigs.js
  ambari-web/app/routes/add_kerberos_routes.js
  ambari-web/test/controllers/main/admin/kerberos/kerberos_wizard_controler_test.js
  ambari-web/test/controllers/main/admin/kerberos/step5_controller_test.js
  ambari-web/test/controllers/main/admin/kerberos/step7_controller_test.js
  ambari-web/test/controllers/wizard/step8_test.js
  ambari-web/test/mixins/wizard/addSeccurityConfigs_test.js
Labels: web client

#1155 AMBARI-23740 JS error after installing Ranger from Install Wizard - Smart Configs are broken - page refresh fixed the issue
  ambari-web/app/controllers/installer.js
  ambari-web/app/mappers/configs/themes_mapper.js
  ambari-web/test/controllers/installer_test.js
Labels: web client

#1169 AMBARI-23752 Hide SmartSense master components in HDF stack
  ambari-web/app/controllers/installer.js
Labels: web client

#1160 [AMBARI-23745] - Replace Multiple Matches Using Regex on Upgrades
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/ConfigureAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ConfigUpgradeChangeDefinition.java
  ambari-server/src/main/resources/upgrade-config.xsd
  ambari-server/src/test/java/org/apache/ambari/server/state/UpgradeHelperTest.java
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/config-upgrade.xml
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/upgrade_test.xml
Labels: upgrade

#1174 AMBARI-23667 - Cleanup/Fix Log Feeder patterns for HDP/HDF/smartsense…
  ambari-logsearch/ambari-logsearch-it/log4j.dtd
  ambari-logsearch/ambari-logsearch-it/pom.xml
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/AmbariInfraSolrLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/AmbariLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/AtlasLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HBaseLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HDFSLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HdfsAuditLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HiveLogPatterntIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/JinjaFunctions.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/KafkaLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/KnoxLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/LayoutQuery.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/ListAppender.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Log4jContent.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Log4jProperties.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Log4jXml.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Log4jXmlProperties.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/MetricsLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/PatternITBase.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/RangerLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Spark2LogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/StackDefContent.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/StormLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/YarnLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/ZeppelinLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/ZookeeperLogPatternIT.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/ConfigHandler.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/common/LogEntryParseTester.java
  ambari-server/conf/unix/log4j.properties
  ambari-server/src/main/resources/common-services/KAFKA/0.8.1/package/templates/input.config-kafka.json.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/input.config-ambari.json.j2
  ambari-server/src/main/resources/common-services/STORM/0.9.1/package/templates/input.config-storm.json.j2
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/package/templates/input.config-mapreduce2.json.j2
Labels: logsearch

#1177 AMBARI-23761. Add organization / license data to ambari-infra and ambari-logsearch.
  ambari-infra/pom.xml
  ambari-logsearch/pom.xml
Labels: infra-solr, logsearch, repos

#1182 [AMBARI-23768] Icon for "start demo ldap" is missing
  ambari-web/app/models/host_component.js
  ambari-web/test/views/main/service/item_test.js
Labels: web client

#1188 [AMBARI-23766] Corrupt mapreduce/tez tar.gz may be uploaded to HDFS if parallel execution is enabled
  ambari-agent/src/test/python/resource_management/TestTarArchive.py
  ambari-common/src/main/python/resource_management/libraries/functions/copy_tarball.py
  ambari-common/src/main/python/resource_management/libraries/functions/tar_archive.py
Labels: ambari-commons, cherry-pick

#1187 [AMBARI-23772] Background Ops modal breaks in some cases
  ambari-web/app/templates/common/host_progress_popup.hbs
Labels: web client

#1179 [AMBARI-22827] Loading hostTaskIds, hostRequestIds and topologyRequestIds in batches to avoid issues triggered by JDBC limitations on prepared statement parameter list size
  ambari-server/src/main/java/org/apache/ambari/server/cleanup/CleanupDriver.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/RequestDAO.java
Labels: JPA, cleanup

#1189 [AMBARI-23773] Suppress FindBugs warnings for EclipseLink-generated code
  ambari-server/findbugs.exclude.xml
  ambari-server/pom.xml
Labels: cleanup

#1183 [AMBARI-23741] Cannot install mpack due to No Environment present
  ambari-server/src/main/python/ambari_server/setupMpacks.py
Labels: typo

#1074 [AMBARI-23595] Generic method to replace HOSTGROUP variable in blueprints
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#1156 AMBARI-23742 Hive Service Summary View Links Need to be removed
  ambari-web/app/views/main/service/services/hive.js
Labels: web client

#1180 AMBARI-23763 Subscriptions should be bound to WebSocket connection
  ambari-web/app/controllers/main.js
  ambari-web/app/utils/stomp_client.js
  ambari-web/test/controllers/main_test.js
Labels: web client

#1175 AMBARI-23760 Dropdowns in Host Details Page do not conform to the new UI
  ambari-web/app/mixins/main/service/configs/config_overridable.js
  ambari-web/app/styles/alerts.less
  ambari-web/app/styles/application.less
  ambari-web/app/styles/config_versions_control.less
  ambari-web/app/styles/hosts.less
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/common/configs/service_config.hbs
  ambari-web/app/templates/common/form/dropdown.hbs
  ambari-web/app/templates/main/host/host_alerts.hbs
  ambari-web/app/templates/utils/config_launch_switch_config_group_of_host.hbs
  ambari-web/app/views/common/assign_master_components_view.js
  ambari-web/app/views/common/filter_view.js
  ambari-web/app/views/common/form/dropdown.js
  ambari-web/app/views/main/alerts/definition_details_view.js
Labels: web client

#1193 [AMBARI-23775] Removed (or upgraded) unsecure libraries from ambari-agent due to security reasons
  ambari-agent/pom.xml
  ambari-project/pom.xml
Labels: agent, security

#1184 AMBARI-23769 Insert operation in upgrade pack extension (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/ConfigureAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ConfigUpgradeChangeDefinition.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/InMemoryDefaultTestModule.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/upgrades/ConfigureActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/UpgradeHelperTest.java
Labels: upgrade

#1186 [AMBARI-23771] Customize Services - Alignment between Final/Set Recom…
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/common/configs/controls.hbs
  ambari-web/app/templates/common/configs/widgets/controls.hbs
  ambari-web/app/templates/common/configs/widgets/controls/create_override.hbs
  ambari-web/app/templates/common/configs/widgets/controls/edit.hbs
  ambari-web/app/templates/common/configs/widgets/controls/remove_override.hbs
  ambari-web/app/templates/common/configs/widgets/controls/set_recommended.hbs
  ambari-web/app/views/common/configs/widgets/config_widget_view.js
  ambari-web/test/views/common/configs/widgets/config_widget_view_test.js
Labels: web client

#1194 [AMBARI-23758] - Filter dropdown components not displayed properly
  ambari-logsearch/ambari-logsearch-web/src/app/components/app.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/logs-container/logs-container.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/main-container/main-container.component.less
  ambari-logsearch/ambari-logsearch-web/src/app/components/main-container/main-container.component.ts
  ambari-logsearch/ambari-logsearch-web/src/assets/images/ambari-logo.png
  ambari-logsearch/ambari-logsearch-web/src/styles.less
  ambari-logsearch/ambari-logsearch-web/src/vendor/css/bootstrap-logsearch.min.css
  ambari-logsearch/ambari-logsearch-web/src/vendor/css/fonts/Roboto-Bold-webfont.eot
  ambari-logsearch/ambari-logsearch-web/src/vendor/css/fonts/Roboto-Bold-webfont.svg
  ambari-logsearch/ambari-logsearch-web/src/vendor/css/fonts/Roboto-Bold-webfont.ttf
  ambari-logsearch/ambari-logsearch-web/src/vendor/css/fonts/Roboto-Bold-webfont.woff
  ambari-logsearch/ambari-logsearch-web/src/vendor/js/bootstrap-logsearch.min.js
Labels: logsearch

#1197 [AMBARI-22875] Remove check for unique services/components
  ambari-server/src/main/java/org/apache/ambari/server/topology/AmbariContext.java
Labels: blueprint

#1198 [AMBARI-23782] Log Search: Cluster filter is not working on a few endpoints.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/manager/ServiceLogsManager.java
Labels: logsearch

#1202 [AMBARI-23784] Update upgrade-config.xsd to support new conditional statements for insert operation (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ConfigUpgradeChangeDefinition.java
  ambari-server/src/main/resources/upgrade-config.xsd
Labels: upgrade

#1206 [AMBARI-23789] Regenerate keytabs on single host should be an experimental feature
  ambari-web/app/config.js
  ambari-web/app/views/main/host/details.js
Labels: web client

#1185 Fixing 2.7.0 as a part of code was missing from 2.6.0 causing Kafka t…
  ambari-server/src/main/resources/common-services/KAFKA/0.8.1/package/scripts/kafka.py
Labels: Kafka

#1191 AMBARI-23776 Service summary style tweaks
  ambari-web/app/messages.js
  ambari-web/app/styles/application.less
  ambari-web/app/templates/main/service/info/summary/hdfs/slaves.hbs
  ambari-web/app/templates/main/service/info/summary/hdfs/widgets.hbs
  ambari-web/app/templates/main/service/services/yarn.hbs
  ambari-web/app/templates/wizard/step10.hbs
Labels: web client

#1205 AMBARI-23790 Manage Ambari UI issues
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/ambariViews/ViewsEditCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/ambariViews/ViewsListCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/directives/comboSearch.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/i18n.config.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/Filters.js
  ambari-admin/src/main/resources/ui/admin-web/app/styles/main.css
  ambari-admin/src/main/resources/ui/admin-web/app/styles/stack-versions.css
  ambari-admin/src/main/resources/ui/admin-web/app/styles/views.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/ambariViews/edit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/ambariViews/modals/create.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/list.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/groupEdit.html
Labels: web client

#1207 [AMBARI-23380] Fix intermittent "No such file or directory" error in TestHostCleanup
  ambari-agent/src/main/python/ambari_agent/HostCleanup.py
  ambari-agent/src/test/python/ambari_agent/TestHostCleanup.py
Labels: agent, unit-test

#1209 AMBARI-23575 - Download mpacks during blueprint luster provisioning (benyoka)
  ambari-server/src/main/java/org/apache/ambari/server/controller/MpackRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ProvisionClusterRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/DownloadMpacksTask.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/TopologyManager.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/DownloadMpacksTaskTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/TopologyManagerTest.java
Labels: blueprint

#1208 [AMBARI-23746] Fix typo in map lookup
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
Labels: typo

#1216 [AMBARI-23796] Allow Ranger and Ranger KMS installation via the Insta…
  ambari-web/app/controllers/wizard/step7_controller.js
  ambari-web/app/models/stack_service.js
Labels: web client

#1227 [AMBARI-23785] Download client configs fails at Oozie client with AttributeError (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/StatusCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProvider.java
Labels: server

#1234 [AMBARI-23809] Identical sets of capacity scheduler properties are displayed as unequal ones in configs comparison view
  ambari-web/app/mappers/configs/stack_config_properties_mapper.js
Labels: web client

#1237 [AMBARI-23811] TimelineMetricsFilterTest fails if dir name contains @
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilterTest.java
Labels: unit-test

#1235 [AMBARI-21816] test_kms_server timing issue
  ambari-server/src/test/python/stacks/2.5/RANGER_KMS/test_kms_server.py
Labels: unit-test

#1238 [AMBARI-23757] - [Logsearch UI] Component filter 'All' not refreshing results
  ambari-logsearch/ambari-logsearch-web/src/app/components/filter-button/filter-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.html
  ambari-logsearch/ambari-logsearch-web/src/app/components/menu-button/menu-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
Labels: logsearch

#1242 AMBARI-23802 Action not shown immediately in the BG Operations window
  ambari-web/app/controllers/global/background_operations_controller.js
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main.js
  ambari-web/test/controllers/global/background_operations_test.js
  ambari-web/test/controllers/global/update_controller_test.js
  ambari-web/test/controllers/main_test.js
Labels: web client

#1240 AMBARI-22952 UI Install is unable to work with 'Redhat Satellite/Spacewalk' as local repository
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsEditCtrl.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/i18n.config.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/services/Stack.js
  ambari-admin/src/main/resources/ui/admin-web/app/styles/stack-versions.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/stackVersionPage.html
  ambari-web/app/mappers/repository_version_mapper.js
  ambari-web/app/mappers/stack_mapper.js
  ambari-web/app/messages.js
  ambari-web/app/models.js
  ambari-web/app/models/repository.js
  ambari-web/app/models/stack_version/repository.js
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/wizard/step1.hbs
  ambari-web/app/templates/wizard/step1/editable_repo.hbs
  ambari-web/app/views/wizard/step1_view.js
Labels: web client

#1245 [AMBARI-23801] Unable to add Hive Metastore from Host detail Page
  ambari-web/app/controllers/main/host/details.js
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#1248 AMBARI-23825 - Log feeder fails to parse date
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/AtlasLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HBaseLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HDFSLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HdfsAuditLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/HiveLogPatterntIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/KafkaLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/KnoxLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/MetricsLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/PatternITBase.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/RangerLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/SmartSenseLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/Spark2LogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/StormLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/YarnLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/ZeppelinLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/patterns/ZookeeperLogPatternIT.java
  ambari-logsearch/ambari-logsearch-it/src/test/resources/test-input-config/input.config-smartsense.json.j2
Labels: logsearch

#1249 AMBARI-23778 v3 Ambari assigns /home for NameNode, DataNode and NodeM…
  ambari-agent/src/main/python/ambari_agent/Hardware.py
Labels: cleanup

#1247 AMBARI-23813 Service actions (Stop, Start) not enabled when individual components are stopped
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/controllers/main/service/item.js
  ambari-web/app/mappers/components_state_mapper.js
  ambari-web/app/models/client_component.js
  ambari-web/test/controllers/main/service/item_test.js
Labels: web client

#1262 AMBARI-23804 : Refine AMS HBase region splitting calculation based on UUID work.
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricConfiguration.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricSplitPointComputer.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricStoreWatcher.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/discovery/TimelineMetricMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/PhoenixTransactSQL.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/Murmur3HashUuidGenStrategy.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/TimelineMetricUuid.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/webapp/TimelineWebServices.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/AMSSMOKETESTFAKE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HBASE_MASTER.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HBASE_REGIONSERVER.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/TIMELINE_METRIC_STORE_WATCHER.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/AbstractMiniHBaseClusterTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/ITPhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessorTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricSplitPointComputerTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricStoreWatcherTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/discovery/TestMetadataManager.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/uuid/MetricUuidGenStrategyTest.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/configuration/ams-site.xml
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/ams.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/service_advisor.py
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
  ambari-server/src/test/python/common-services/AMBARI_METRICS/test_service_advisor.py
  ambari-server/src/test/python/stacks/2.0.6/AMBARI_METRICS/test_metrics_collector.py
  ambari-server/src/test/python/stacks/2.0.6/configs/default.json
  ambari-server/src/test/python/stacks/2.0.6/configs/default_ams_embedded.json
Labels: ambari-metrics

#1252 [AMBARI-23828] Provide a command line utility in AMS scripts to upgrade the schema using the collector's tool (dsen)
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/ambari-metrics-collector
Labels: ambari-metrics

#1196 [AMBARI-23780] Implement an upgrade helper in Ambari Metrics collector that copies data from the old schema to the new. (dsen) - initial patch
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/AbstractPhoenixMetricsCopier.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/MetricsDataMigrationLauncher.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/PhoenixClusterMetricsCopier.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/PhoenixHostMetricsCopier.java
Labels: ambari-metrics

#1268 [AMBARI-23843] unable to differentiate b/w new added service and existing service
  ambari-web/app/styles/wizard.less
Labels: web client

#1269 [AMBARI-23844] Infra Solr: support for manage security.json manually.
  ambari-common/src/main/python/resource_management/libraries/functions/solr_cloud_util.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/configuration/infra-solr-security-json.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/params.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/setup_infra_solr.py
Labels: infra-solr

#1264 [AMBARI-23839] Show Limited Functionality warning for Ranger and Atla…
  ambari-web/app/controllers/wizard/step4_controller.js
  ambari-web/app/messages.js
  ambari-web/app/templates/wizard/step4/step4_service_validation_popup.hbs
  ambari-web/test/controllers/wizard/step4_test.js
Labels: web client

#1255 [AMBARI-23830] Enable Ranger Plugins for supported components if rang…
  ambari-web/app/controllers/wizard/step7_controller.js
Labels: web client

#1277 [AMBARI-23854] NN Federation wizard is stuck on step 3
  ambari-web/app/controllers/main/admin/federation/step3_controller.js
Labels: web client

#1286 AMBARI-23859. Fix Log Search / Ambari Infra CVE issues.
  ambari-infra/ambari-infra-manager/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
Labels: infra-manager, logsearch

#1270 AMBARI-23845 Manage Ambari UI style fixes
  ambari-admin/src/main/resources/ui/admin-web/app/styles/user-management.css
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/groupEdit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/userEdit.html
  ambari-web/app/messages.js
  ambari-web/app/styles/config_versions_control.less
  ambari-web/app/templates/common/configs/config_versions_dropdown.hbs
  ambari-web/app/views/common/configs/config_versions_dropdown_view.js
Labels: web client

#1275 AMBARI-23849 Customise Services - All Configurations Tab - Issue with default dimensions of text box and toggle buttons colour
  ambari-web/app/styles/wizard.less
Labels: web client

#1290 AMBARI-23863 : Fix issues in app aggregator in AMS in-memory cluster aggregation
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/HBaseTimelineMetricsService.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricDistributedCache.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsIgniteCache.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsIgniteCacheTest.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/aggregators/TimelineMetricClusterAggregatorSecondWithCacheSourceTest.java
Labels: ambari-metrics

#1292 AMBARI-23865. Upgrade Infra Solr to use Solr 7.3.1
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/README.md
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/audit_logs-solrconfig.xml.j2
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: infra-solr

#1293 AMBARI-23867 : Remove dependency on org.gridgain:ignite-shmem 1.0.0 in Ambari Metrics Collector
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
Labels: ambari-metrics

#1294 [AMBARI-23868] Log Search web alert gets 401 http status code if KNOX SSO is enabled.
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/alerts.json
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
Labels: logsearch

#1289 AMBARI-23862. STOMP alert update was not sent when maintenance mode changed.
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/AlertDefinitionsHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/alerts/AlertMaintenanceModeListener.java
  ambari-server/src/test/java/org/apache/ambari/server/events/listeners/upgrade/AlertMaintenanceModeListenerTest.java
Labels: server

#1302 [AMBARI-23879] Redo the Manage Journalnodes wizard in the context of federation changes
  ambari-web/app/assets/test/tests.js
  ambari-web/app/controllers.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step1_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step4_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step5_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step6_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step7_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/step8_controller.js
  ambari-web/app/controllers/main/admin/highAvailability/journalNode/wizard_controller.js
  ambari-web/app/messages.js
  ambari-web/app/routes/manage_journalnode_routes.js
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step3.hbs
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step5.hbs
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step7.hbs
  ambari-web/app/templates/main/admin/highAvailability/journalNode/step8.hbs
  ambari-web/app/templates/main/admin/highAvailability/journalNode/wizard.hbs
  ambari-web/app/views.js
  ambari-web/app/views/main/admin/highAvailability/journalNode/step5_view.js
  ambari-web/app/views/main/admin/highAvailability/journalNode/step7_view.js
  ambari-web/app/views/main/admin/highAvailability/journalNode/step8_view.js
  ambari-web/test/controllers/main/admin/highAvailability/journalNode/step4_controller_test.js
  ambari-web/test/controllers/main/admin/highAvailability/journalNode/step6_controller_test.js
  ambari-web/test/controllers/main/admin/highAvailability/journalNode/step7_controller_test.js
  ambari-web/test/controllers/main/admin/highAvailability/journalNode/step8_controller_test.js
Labels: web client

#1303 AMBARI-23880 Install Wizard: fix markup issues
  ambari-web/app/controllers/wizard/step7_controller.js
  ambari-web/app/controllers/wizard/step8_controller.js
  ambari-web/app/messages.js
  ambari-web/app/styles/application.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/templates/wizard/step3.hbs
  ambari-web/app/templates/wizard/step6.hbs
  ambari-web/app/templates/wizard/step7/directories_tab.hbs
  ambari-web/app/templates/wizard/step9.hbs
  ambari-web/app/views/common/configs/services_config.js
  ambari-web/app/views/wizard/step6_view.js
Labels: web client

#1305 [AMBARI-23869] Remove insecure dependencies from Ambari Server
  ambari-agent/pom.xml
  ambari-server/pom.xml
Labels: cleanup

#1309 [AMBARI-23883] Log Feeder: ambari services should be able to generate …
  ambari-common/src/main/python/ambari_commons/constants.py
  ambari-common/src/main/python/resource_management/libraries/functions/generate_logfeeder_input_config.py
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/infra_solr.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logfeeder.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/setup_logsearch.py
  ambari-server/src/main/resources/stack-hooks/after-INSTALL/scripts/params.py
  ambari-server/src/test/python/stacks/2.4/AMBARI_INFRA/test_infra_solr.py
  ambari-server/src/test/python/stacks/2.4/LOGSEARCH/test_logfeeder.py
  ambari-server/src/test/python/stacks/2.4/LOGSEARCH/test_logsearch.py
Labels: logsearch

#1310 [AMBARI-23884] Remove webhcat server as co-hosted component for Hive.
  ambari-web/app/models/stack_service_component.js
  ambari-web/test/models/stack_service_component_test.js
Labels: web client

#1307 [AMBARI-23874] Move user-related info to stack-level params
  ambari-common/src/main/python/resource_management/libraries/execution_command/execution_command.py
  ambari-common/src/main/python/resource_management/libraries/functions/get_not_managed_resources.py
  ambari-common/src/main/python/resource_management/libraries/functions/stack_features.py
  ambari-common/src/main/python/resource_management/libraries/functions/version_select_util.py
  ambari-common/src/main/python/resource_management/libraries/script/script.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/ExecutionCommand.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/MetadataHolder.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/AmbariConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementController.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/metadata/ClusterMetadataGenerator.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/ConfigureAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ConfigHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClustersImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/AbstractUpgradeCatalog.java
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-ANY/scripts/shared_initialization.py
  ambari-server/src/main/resources/stack-hooks/before-INSTALL/scripts/params.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/custom_extensions.py
  ambari-server/src/main/resources/stack-hooks/before-START/scripts/params.py
  ambari-server/src/test/java/org/apache/ambari/server/configuration/AmbariConfigTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariCustomCommandExecutionHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ComponentResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog252Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog260Test.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: blueprint

#1317 AMBARI-23895 Configuration Validation is throwing errors on correct configuration
  ambari-web/app/mixins/common/serverValidator.js
Labels: web client

#1276 [Ambari-23850] Use trustore details for Atlas/Ranger during collection creation
  ambari-server/src/main/resources/common-services/ATLAS/0.1.0.2.3/package/scripts/metadata.py
  ambari-server/src/main/resources/common-services/ATLAS/0.1.0.2.3/package/scripts/params.py
  ambari-server/src/main/resources/common-services/RANGER/0.4.0/package/scripts/setup_ranger_xml.py
Labels: infra-solr

#1327 [AMBARI-23906] - Topology Event Should Be Sent When Adding Host Components During Upgrade
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementController.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AddComponentAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClustersImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/svccomphost/ServiceComponentHostImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeSummaryResourceProviderTest.java
  ambari-server/src/test/resources/stacks/HDP/2.0.8/services/HBASE/metainfo.xml
Labels: ambari-commons, upgrade

#1326 [AMBARI-23904] ZKFC fails to start while moving Namenode on a cluster with multiple namespaces
  ambari-web/app/controllers/main/service/reassign/step3_controller.js
  ambari-web/app/utils/configs/move_namenode_config_initializer.js
Labels: web client

#1324 AMBARI-23900 Heatmap Data Issues
  ambari-server/src/main/resources/widgets.json
Labels: web client

#1315 Log Search UI: Correct the links from Ambari to Log Search
  ambari-logsearch/ambari-logsearch-web/src/app/components/filter-button/filter-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/components/logs-container/logs-container.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/filter-dropdown/filter-dropdown.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/auth.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-container.service.ts
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-filtering-utils.service.ts
  ambari-web/app/views/common/host_progress_popup_body_view.js
  ambari-web/app/views/main/host/logs_view.js
  ambari-web/test/views/main/host/logs_view_test.js
Labels: logsearch, web client

#1331 Remove .reviewboardrc file
  .reviewboardrc
Labels: cleanup

#1334 [AMBARI-23911] Selection information not present in Hosts page filtering
  ambari-web/app/mixins/common/table_server_view_mixin.js
  ambari-web/app/templates/main/host.hbs
  ambari-web/app/templates/wizard/step3.hbs
  ambari-web/app/views/main/host.js
  ambari-web/app/views/wizard/step3_view.js
Labels: web client

#1330 [AMBARI-23869] Inconsistent datatypes error when authenticating users when Oracle is the backend database for Ambari
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLServer-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: SQL, cleanup

#1281 [AMBARI-22642] LDAPS sync Connection Refused
  ambari-server/conf/unix/ambari-env.sh
Labels: LDAP

#1295 [AMBARI-23866] add retry to Kerberos service check kinit
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-10/package/scripts/service_check.py
  ambari-server/src/main/resources/common-services/KERBEROS/1.10.3-30/package/scripts/service_check.py
Labels: kerberos

#1329 [AMBARI-23908] Change config tab layout for service tabs in installer.
  ambari-web/app/styles/application.less
  ambari-web/app/styles/service_configurations.less
  ambari-web/app/styles/wizard.less
  ambari-web/app/templates/common/configs/service_config_wizard.hbs
  ambari-web/app/templates/common/configs/services_config.hbs
  ambari-web/app/views/common/configs/service_configs_by_category_view.js
Labels: web client

#1341 [AMBARI-23916] [Logsearch UI] Rows per page drop down not working as expected
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-list/dropdown-list.component.ts
Labels: logsearch

#1344 [AMBARI-23918] [Logsearch UI] 'Component' option missing in the autofill in include filter
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.html
Labels: logsearch

#1345 AMBARI-23919 - Stack upgrade from 2.6.5 to 3.0.0 fails because WebHCat component doesn't exist
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeHelper.java
Labels: upgrade

#1346 [AMBARI-21701] Check for import from org.apache.ambari.metrics.sink.relocated
  ambari-server/checkstyle.xml
Labels: checkstyle

#1336 AMBARI-23913 New UI Makes it hard to see that a host is in a "Decommissioning" state
  ambari-web/app/mixins/main/host/details/host_components/decommissionable.js
  ambari-web/test/views/main/host/details/host_component_views/decommissionable_test.js
Labels: web client

#1339 [AMBARI-23917] Infra Solr: show start/sop command output in ambari command.
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/infra_solr.py
Labels: infra-solr

#1347 [AMBARI-23921] If Kerberos is enabled, then stack upgrade prerequisite check should ensure the KDC admin credential is persisted
  ambari-server/src/main/java/org/apache/ambari/server/checks/CheckDescription.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheck.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
Labels: kerberos, upgrade

#1342 [AMBARI-23877] Service auto-start not working (dgrinenko)
  ambari-agent/src/main/python/ambari_agent/ActionQueue.py
  ambari-agent/src/main/python/ambari_agent/AmbariConfig.py
  ambari-agent/src/main/python/ambari_agent/ComponentStatusExecutor.py
  ambari-agent/src/main/python/ambari_agent/InitializerModule.py
  ambari-agent/src/main/python/ambari_agent/RecoveryManager.py
  ambari-agent/src/test/python/ambari_agent/TestRecoveryManager.py
  ambari-server/src/main/java/org/apache/ambari/server/agent/RecoveryConfig.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/RecoveryConfigComponent.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/RecoveryConfigHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/configuration/RecoveryConfigHelperTest.java
Labels: agent, server

#1354 AMBARI-23928 Fixed Database scripts for Mysql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
Labels: cleanup

#1359 AMBARI-23935 ambari ui fails to load due to js error
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
Labels: web client

#1355 AMBARI-23930 - Provide a Framework For Regenerating Keytabs During Upgrade
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/UpgradeResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/AddComponentAction.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/HostsType.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/MasterHostResolver.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ClusterGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/RegenerateKeytabsTask.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/StageWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Task.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/TaskWrapper.java
  ambari-server/src/main/resources/stack-hooks/before-SET_KEYTAB/scripts/hook.py
  ambari-server/src/main/resources/upgrade-pack.xsd
  ambari-server/src/test/java/org/apache/ambari/server/controller/KerberosHelperTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/UpgradeResourceProviderTest.java
  ambari-server/src/test/python/stacks/2.0.6/hooks/before-SET_KEYTAB/test_before_set_keytab.py
  ambari-server/src/test/python/stacks/2.2/KERBEROS/test_kerberos_client.py
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/upgrade_test_regenerate_keytabs.xml
Labels: upgrade

#1360 [AMBARI-23889] [Log Search UI] Exclude filter not working as expected.
  ambari-logsearch/ambari-logsearch-web/src/app/components/search-box/search-box.component.ts
  ambari-logsearch/ambari-logsearch-web/src/app/modules/shared/components/dropdown-button/dropdown-button.component.ts
Labels: logsearch

#1361 [AMBARI-23937] Reassign Master Wizard issues
  ambari-web/app/mixins/wizard/assign_master_components.js
  ambari-web/app/routes/reassign_master_routes.js
Labels: web client

#1372 AMBARI-23944. [Logsearch] Components filter does not have effect on g…
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/ServiceLogLevelDateRangeRequestQueryConverter.java
  ambari-logsearch/ambari-logsearch-server/src/test/java/org/apache/ambari/logsearch/converter/ServiceLogLevelDateRangeRequestQueryConverterTest.java
Labels: logsearch

#1382 AMBARI-23945. Infra Solr: Generate .ini file for migration helper.
  ambari-infra/ambari-infra-solr-client/build.xml
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationConfigGenerator.py
Labels: infra-solr, upgrade

#1379 [AMBARI-23950] Next button enabled when invalid values entered
  ambari-web/app/models/configs/objects/service_config.js
Labels: web client

#1380 [AMBARI-23951] Selection information disappears when a filter is applied
  ambari-web/app/mixins/common/table_server_view_mixin.js
  ambari-web/app/templates/main/host.hbs
  ambari-web/app/views/main/host.js
Labels: web client

#1387 [AMBARI-23953] YARN start failed during EU with IllegalArgumentException
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog270.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog270Test.java
Labels: cleanup, kerberos, upgrade

#1390 [AMBARI-23957] Spark2 Thrift Server fails to start if LLAP and parallel execution are enabled
  ambari-server/src/main/resources/stacks/HDP/2.5/role_command_order.json
Labels: blueprint

#1392 [AMBARI-23957] Spark2 Thrift Server fails to start if LLAP and parallel execution are enabled
  ambari-server/src/main/resources/stacks/HDP/2.5/role_command_order.json
Labels: blueprint, cherry-pick

#1388 [AMBARI-23920] Ambari 2way SSL does not work if CA signed certs are used
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/security/CertificateManager.java
  ambari-server/src/main/java/org/apache/ambari/server/security/unsecured/rest/CertificateDownload.java
  ambari-server/src/test/java/org/apache/ambari/server/security/CertificateManagerTest.java
Labels: ssl

#1391 [AMBARI-23962] Improvements for credential_store_helper to include all features
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: security

#1401 AMBARI-23968. Log Search portal has too many open sessions with Ambari.
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/web/filters/LogsearchKRBAuthenticationFilter.java
Labels: logsearch

#1375 [AMBARI-23949] Accessing Swagger API when Ambari Server is configured for HTTPS. (jaimin)
  ambari-server/docs/api/generated/index.html
  ambari-server/docs/api/generated/swagger.json
  ambari-server/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ClusterService.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ServiceService.java
  ambari-web/api-docs/css/api-explorer.css
  ambari-web/api-docs/swagger-ui.js
  ambari-web/api-docs/swagger-ui.min.js
Labels: API, documentation

#1397 [AMBARI-23966] Upgrade Spark/Zeppelin/Livy from HDP 2.6 to HDP 3.0.(v…
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/CreateZeppelinSiteConfig.java
Labels: upgrade

#1353 [AMBARI-23929] Stack changes for AMS to help with HDP 2.6 to 3.0 EU (dsen)
  ambari-common/src/main/python/ambari_commons/repo_manager/repo_manager_helper.py
  ambari-common/src/main/python/ambari_commons/repo_manager/yum_manager.py
  ambari-common/src/main/python/ambari_commons/repo_manager/zypper_manager.py
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/scripts/hbase_service.py
  ambari-server/src/main/resources/common-services/HBASE/0.96.0.2.0/package/scripts/hbase_service.py
  ambari-server/src/main/resources/common-services/HDFS/2.1.0.2.0/package/scripts/utils.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/hive_service.py
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/package/scripts/service.py
Labels: ambari-metrics

#1412 [AMBARI-23976] Fix unit test
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: unit-test

#1407 [AMBARI-20886] Make AzureDB schema generator work with Python 3
  ambari-server/src/main/python/azuredb_create_generator.py
Labels: build, server

#1410 AMBARI-23978 Express Upgrade: Clicking on upgrade item shows no tasks on large clusters
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
  ambari-web/app/models/upgrade_entity.js
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_group.hbs
  ambari-web/app/templates/main/admin/stack_upgrade/upgrade_task.hbs
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_group_view.js
  ambari-web/app/views/main/admin/stack_upgrade/upgrade_task_view.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
  ambari-web/test/views/main/admin/stack_upgrade/upgrade_task_view_test.js
Labels: web client

#1418 AMBARI-23985. Change the default shard/replica numbers for Log Search collections.
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/configuration/logsearch-properties.xml
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/package/scripts/params.py
  ambari-server/src/test/python/stacks/2.4/LOGSEARCH/test_logsearch.py
Labels: logsearch

#1416 [AMBARI-23826] Save button is inactive for changed filtered property after configs comparing - addendum
  ambari-web/app/controllers/main/service/info/configs.js
  ambari-web/app/controllers/wizard/step7_controller.js
  ambari-web/app/mixins/common/configs/enhanced_configs.js
  ambari-web/app/views/common/configs/widgets/config_widget_view.js
Labels: web client

#1421 [AMBARI-23990] credential_store_helper.get_password_from_credential_store does not return the correct password string
  ambari-common/src/main/python/ambari_commons/credential_store_helper.py
Labels: cleanup

#1422 AMBARI-23991. Log Search: cleanup Ambari audits collection / schema.
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/managed-schema
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/input.config-ambari.json.j2
Labels: logsearch

#1423 AMBARI-23992. Log Feeder: NullPointer during file check in.
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/InputFileMarker.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/output/OutputSolr.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/util/FileUtil.java
Labels: logsearch

#1425 [AMBARI-23994]. "Ambari persisted credential store" pre check appearing in Patch Upgrade. (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/checks/ComponentsExistInRepoCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheck.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/PrereqCheckRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/UpgradePack.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/ComponentExistsInRepoCheckTest.java
  ambari-server/src/test/java/org/apache/ambari/server/checks/KerberosAdminPersistedCredentialCheckTest.java
Labels: upgrade

#1428 [AMBARI-23998] AMS collector RPM configs are empty (dsen)
  ambari-metrics/ambari-metrics-assembly/pom.xml
  ambari-metrics/ambari-metrics-assembly/src/main/assembly/collector.xml
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/ams-env.sh
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/ams-site.xml
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/hbase-site.xml
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
Labels: ambari-metrics

#1430 [AMBARI-24002] - Set All Versions only on Upgrades which cannot be Downgraded
  ambari-common/src/main/python/resource_management/libraries/functions/upgrade_summary.py
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostStackVersionResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/resources/custom_actions/scripts/stack_select_set_all.py
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.3.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/upgrade-2.3.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.3/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/upgrade-2.4.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.4/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/host-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/nonrolling-upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/nonrolling-upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/upgrade-2.5.xml
  ambari-server/src/main/resources/stacks/HDP/2.5/upgrades/upgrade-2.6.xml
  ambari-server/src/main/resources/stacks/PERF/1.0/upgrades/nonrolling-upgrade-2.0.xml
  ambari-server/src/main/resources/stacks/PERF/1.0/upgrades/upgrade-2.0.xml
  ambari-server/src/test/python/TestStackFeature.py
  ambari-server/src/test/python/TestStackSelect.py
  ambari-server/src/test/python/TestUpgradeSummary.py
  ambari-server/src/test/python/custom_actions/test_stack_select_set_all.py
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/upgrade_nonrolling_new_stack.xml
  ambari-server/src/test/resources/stacks/HDP/2.1.1/upgrades/upgrade_test_nonrolling.xml
  ambari-server/src/test/resources/stacks/HDP/2.2.0/upgrades/upgrade_test.xml
  ambari-server/src/test/resources/stacks/HDP/2.2.0/upgrades/upgrade_test_15388.xml
  ambari-server/src/test/resources/stacks_with_upgrade_cycle/HDP/2.2.0/upgrades/upgrade_test_15388.xml
Labels: upgrade

#1432 [AMBARI-24000] Fix ambari-web pom.xml (version not updated correctly)
  ambari-web/pom.xml
Labels: web client

#1433 [AMBARI-24003] Duplicate data is showing up when enabling NN Federation
  ambari-web/app/controllers/global/update_controller.js
  ambari-web/app/data/dashboard_widgets.js
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/messages.js
  ambari-web/app/mixins.js
  ambari-web/app/mixins/main/service/summary/hdfs_summary_widgets.js
  ambari-web/app/models/service/hdfs.js
  ambari-web/app/styles/application.less
  ambari-web/app/templates/main/service/info/summary/base.hbs
  ambari-web/app/templates/main/service/info/summary/hdfs/common_widgets.hbs
  ambari-web/app/templates/main/service/info/summary/hdfs/widgets.hbs
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/services/hdfs.hbs
  ambari-web/app/views.js
  ambari-web/app/views/main/dashboard/widgets/hdfs_capacity.js
  ambari-web/app/views/main/service/info/summary/hdfs/common_widgets.js
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
  ambari-web/app/views/main/service/services/hdfs.js
Labels: web client
