Repository apache/ambari, pull requests merged in 2019-01, with the labels that each got.

#2748 AMBARI-25076 Select Service page: Show Yarn and MR2 as separate services for selection instead of single selection (Yarn+MapReduce2)
  ambari-web/app/models/stack_service.js
  ambari-web/app/models/stack_version/service_simple.js
  ambari-web/test/controllers/wizard/step4_test.js
  ambari-web/test/models/stack_service_test.js
  ambari-web/test/models/stack_version/service_simple_test.js
Labels: web client

#2749 [AMBARI-25079] SPI Needs to Expose Gson
  ambari-server-spi/pom.xml
Labels: SPI

#2750 AMBARI-25082 Cover HA wizard controller with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/app/controllers/main/admin/highAvailability/hawq/addStandby/step3_controller.js
  ambari-web/test/controllers/main/admin/highAvailability/hawq/addStandby/step3_controller_test.js
  ambari-web/test/controllers/main/admin/highAvailability/hawq/addStandby/wizard_controller_test.js
Labels: web client

#2754 [AMBARI-25086] Upgrading Using a Modified Default Version Repository Fails on Some Services
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/state/repository/VersionDefinitionXml.java
  ambari-server/src/test/java/org/apache/ambari/server/state/repository/VersionDefinitionTest.java
Labels: repos

#2756 [AMBARI-25061] Refactor AddServiceInfo to use a builder
  ambari-server/src/main/java/org/apache/ambari/server/topology/addservice/AddServiceInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/addservice/RequestValidator.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/addservice/ProvisionActionPredicateBuilderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/addservice/StackAdvisorAdapterTest.java
Labels: cleanup

#2757 AMBARI-25091 Cover flume metric graphs with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/app/views/main/service/info/metrics/flume/flume_metric_graphs.js
  ambari-web/test/views/main/service/info/metrics/flume/flume_metric_graph_test.js
  ambari-web/test/views/main/service/info/metrics/flume/flume_metric_graphs_test.js
Labels: web client

#2758 [AMBARI-25094] Remove Flume Live widget from Ambari, alongside the Flume service during upgrade to HDP3.
  ambari-web/app/views/main/dashboard/widgets.js
Labels: web client

#2761 AMBARI-25097 Cover views of reassign wizard with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/app/views/main/service/reassign/step1_view.js
  ambari-web/app/views/main/service/reassign/step3_view.js
  ambari-web/app/views/main/service/reassign/step5_view.js
  ambari-web/test/views/main/service/reassign/step1_view_test.js
  ambari-web/test/views/main/service/reassign/step2_view_test.js
  ambari-web/test/views/main/service/reassign/step3_view_test.js
  ambari-web/test/views/main/service/reassign/step4_view_test.js
  ambari-web/test/views/main/service/reassign/step5_view_test.js
Labels: web client

#2764 AMBARI-25102 Dasboard metrics will not load for ambari user which has dot in their username.
  ambari-web/app/utils/db.js
Labels: web client

#2763 AMBARI-25043. Make sure we mask password properties when fetching sensitive Ambari configuration via the API (just like we do it for service configs)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RootServiceComponentConfigurationResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/SecretReference.java
Labels: encryption, security

#2765 [AMBARI-25103] Duplicate title on YARN summary page
  ambari-web/app/templates/main/service/info/summary/master_components.hbs
  ambari-web/app/templates/main/service/services/hbase.hbs
  ambari-web/app/templates/main/service/services/hdfs.hbs
  ambari-web/app/templates/main/service/services/hive.hbs
  ambari-web/app/templates/main/service/services/onefs.hbs
  ambari-web/app/templates/main/service/services/ranger.hbs
  ambari-web/app/templates/main/service/services/storm.hbs
  ambari-web/app/templates/main/service/services/yarn.hbs
  ambari-web/app/views/main/service/service.js
Labels: web client

#2770 AMBARI-25108 Cover views of the modals with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/app/views/common/modal_popups/dependent_configs_list_popup.js
  ambari-web/app/views/common/modal_popups/invalid_KDC_popup.js
  ambari-web/app/views/common/modal_popups/select_groups_popup.js
  ambari-web/app/views/main/menu.js
  ambari-web/test/views/common/modal_popups/dependent_configs_list_popup_test.js
  ambari-web/test/views/common/modal_popups/invalid_KDC_popup_test.js
  ambari-web/test/views/common/modal_popups/manage_kdc_credentials_popup_test.js
  ambari-web/test/views/common/modal_popups/select_groups_popup_test.js
  ambari-web/test/views/main/menu_test.js
Labels: web client

#2755 AMBARI-24745. Enable encryption of sensitive data in Ambari DB using …
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/serverConfiguration.py
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/python/TestAmbariServer.py
  ambari-server/src/test/python/TestSensitiveDataEncryption.py
Labels: encryption, security, server, server setup

#2772 AMBARI-25110-broken_query_link
  ambari-server/docs/api/v1/index.md
Labels: documentation, typo

#2773 [AMBARI-25112] Cover errors utils with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/test/utils/errors/assertions_test.js
  ambari-web/test/utils/errors/definitions_test.js
Labels: unit-test, web client

#2779 [AMBARI-25122] UI unit tests are sometimes failing
  ambari-web/app/assets/test/tests.js
  ambari-web/test/controllers/application_test.js
  ambari-web/test/controllers/global/user_settings_controller_test.js
  ambari-web/test/controllers/main/admin/highAvailability/progress_popup_controller_test.js
  ambari-web/test/controllers/main/admin/kerberos_test.js
  ambari-web/test/controllers/main/admin/stack_and_upgrade_controller_test.js
  ambari-web/test/controllers/main/alerts/alert_definitions_actions_controller_test.js
  ambari-web/test/controllers/main/alerts/manage_alert_notifications_controller_test.js
  ambari-web/test/controllers/main/host/details_test.js
  ambari-web/test/controllers/main/service/item_test.js
  ambari-web/test/controllers/wizard/step2_test.js
  ambari-web/test/controllers/wizard/step3_test.js
  ambari-web/test/controllers/wizard/step7/assign_master_controller_test.js
  ambari-web/test/controllers/wizard/step7_test.js
  ambari-web/test/controllers/wizard/step8_test.js
  ambari-web/test/controllers/wizard_test.js
  ambari-web/test/mixins/main/service/configs/config_overridable_test.js
  ambari-web/test/utils/host_progress_popup_test.js
  ambari-web/test/utils/hosts_test.js
  ambari-web/test/views/common/configs/config_versions_control_view_test.js
  ambari-web/test/views/common/configs/service_config_view_test.js
  ambari-web/test/views/main/admin/stack_upgrade/upgrade_version_box_view_test.js
  ambari-web/test/views/main/dashboard/widget_test.js
  ambari-web/test/views/wizard/step3/hostWarningPopupBody_view_test.js
Labels: unit-test, web client

#2783 AMBARI-25128 Cover widget mixin with unit tests
  ambari-web/app/mixins/common/widgets/widget_section.js
  ambari-web/test/mixins/common/widgets/widget_section_test.js
  ambari-web/test/views/common/modal_popups/select_groups_popup_test.js
Labels: web client

#2775 AMBARI-25117. getAsPost requests don't work when ambari is used behind knox proxy (amagyar)
  ambari-web/app/utils/http_client.js
Labels: web client

#2790 AMBARI-24847 - Logsearch: Cannot search for a term that includes spaces or dashes
  ambari-logsearch/ambari-logsearch-it/pom.xml
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/solr/Solr.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/solr/SolrDocumentMatcher.java
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/solr/search/SearchServiceLogsTest.java
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/AbstractDateRangeFacetQueryConverter.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/converter/AbstractOperationHolderConverter.java
  ambari-logsearch/ambari-logsearch-web/src/app/services/logs-filtering-utils.service.ts
Labels: cherry-pick, logsearch

#2787 [AMBARI-25041] Scale hosts does not install component if service is in maintenance mode.
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostComponentResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/RequestOperationLevel.java
Labels: blueprint, cherry-pick

#2792 AMBARI-25114. Log Search: SSL props needs to be set if only ambari-se…
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/common/ExternalServerClient.java
Labels: ssl

#2791 AMBARI-25090 - Logsearch should index keywords without the ending periods(.)
  ambari-logsearch/ambari-logsearch-it/src/test/java/org/apache/ambari/logsearch/solr/search/SearchServiceLogsTest.java
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/managed-schema
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/managed-schema
Labels: cherry-pick, logsearch

#2803 AMBARI-25102 Dasboard metrics will not load for ambari user which has dot in their username.
  ambari-web/app/utils/db.js
Labels: web client

#2804 [AMBARI-24865] Build error at Findbugs with Maven 3.6.
  ambari-server/pom.xml
Labels: build, cherry-pick

#2800 [AMBARI-25136] Scale hosts ignores rack_info
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ScaleClusterRequest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ScaleClusterRequestTest.java
Labels: blueprint
