Repository apache/ambari, pull requests merged in 2019-04, with the labels that each got.

#2894 AMBARI-25217 Updating commons-codec:commons-codec version (dgrinenko)
  ambari-metrics/ambari-metrics-hadoop-sink/pom.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/pom.xml
  ambari-metrics/ambari-metrics-storm-sink/pom.xml
  ambari-metrics/pom.xml
  ambari-project/pom.xml
  contrib/views/capacity-scheduler/pom.xml
Labels: ambari-metrics, logsearch, server

#2898 AMBARI-25203 Updated jackson-databind to 2.9.8 and boucycastle libs to 1.61
  ambari-logsearch/ambari-logsearch-it/pom.xml
  ambari-logsearch/ambari-logsearch-solr-client/pom.xml
  ambari-metrics/ambari-metrics-hadoop-sink/pom.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
  ambari-project/pom.xml
Labels: agent, ambari-metrics, logsearch, server

#2886 AMBARI-25210. ONEFS installation via blueprint fails (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopology.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/ClusterTopologyImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/ClusterTopologyImplTest.java
Labels: blueprint

#2841 AMBARI-25167 HDFS Summary Dashboard does not show "TOTAL FILES + DIRECTORIES" properly In Ambari 2.7 (asnaik)
  ambari-web/app/mappers/service_metrics_mapper.js
  ambari-web/app/views/main/service/info/summary/hdfs/widgets.js
Labels: web client

#2837 AMBARI-25069 - Ambari wrties Empty baseurl values written to Repo Files when using a local repository causing stack installation failure
  ambari-web/app/controllers/wizard/step1_controller.js
Labels: cherry-pick, web client

#2910 AMBARI-25034 Ambari is not updating core-site : ha.zookeeper.quorumonce a zookeeper server is added or removed (asnaik)
  ambari-web/app/controllers/main/host/details.js
Labels: cherry-pick

#2909 [AMBARI-25187] Kerberos operations are shown in service action dropdown when not needed
  ambari-web/app/models/host_component.js
  ambari-web/app/templates/main/admin/kerberos.hbs
Labels: kerberos, web client

#2889 [AMBARI-25212] configs.py output and Ambari API output of config prop…
  ambari-server/src/main/resources/scripts/configs.py
Labels: cherry-pick

#2908 AMBARI-25228 add a second HiveServer2Interactive Button Missing in Ambari UI is there is config group for Hive Service (asnaik)
  ambari-web/app/mixins/main/service/configs/hive_interactive_check.js
Labels: cherry-pick

#2919 AMBARI-25207 The Ubuntu repository id for the cached apt package list is generated wrong in case if were used URL with https protocol (dgrinenko)
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: ambari-commons

#2925 AMBARI-25234 - Ambari audit log shows "null" user when executing an API call as admin
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariAuthenticationEventHandlerImpl.java
Labels: server

#2929 AMBARI-25243. Tez/MR service check fails with ClassNotFoundException LzoCodec during host ordered upgrade (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariActionExecutionHelper.java
  ambari-server/src/main/resources/custom_actions/scripts/install_packages.py
Labels: upgrade

#2931 AMBARI-25246 Add module based dependency with custom version for the excluded transitiend modules (dgrinenko)
  ambari-logsearch/ambari-logsearch-solr-client/pom.xml
  ambari-metrics/ambari-metrics-hadoop-sink/pom.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
Labels: ambari-metrics, server

#2932 [AMBARI-25248] Hive service check is failing after moving Hive Metastore from node to another using system tests.
  ambari-web/app/controllers/main/service/reassign/step3_controller.js
  ambari-web/app/controllers/main/service/reassign_controller.js
  ambari-web/app/utils/configs/move_hm_config_initializer.js
Labels: web client

#2935 [AMBARI-25250] Blueprint processor should support multiple ZooKeeper nodes for Livy
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint

#2936 AMBARI-25252. Disable directory Indexing at /resources (amagyar)
  ambari-server/src/main/assemblies/server.xml
  ambari-server/src/main/resources/index.html
Labels: security

#2937 AMBARI-25253. Missed support for abfs protocol.
  ambari-server/conf/unix/ambari.properties
  ambari-server/src/main/resources/stacks/HDP/2.6/services/HIVE/configuration/ranger-hive-security.xml
  ambari-server/src/main/resources/stacks/HDP/2.6/upgrades/config-upgrade.xml
  contrib/views/utils/src/main/java/org/apache/ambari/view/utils/ambari/ValidatorUtils.java
Labels: server

#2941 AMBARI-25259 upgrade moment.js to v2.22.2. (ababiichuk)
  ambari-web/vendor/scripts/moment.min.js
Labels: web client

#2938 [AMBARI-25250] Blueprint processor should support multiple ZooKeeper nodes for Livy
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessor.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/BlueprintConfigurationProcessorTest.java
Labels: blueprint, cherry-pick
