Repository apache/ambari, pull requests merged in 2019-02, with the labels that each got.

#2808 AMBARI-25140 Cover widget mixin with unit tests
  ambari-web/app/mixins/common/widgets/widget_mixin.js
  ambari-web/test/mixins/common/widget_mixin_test.js
Labels: web client

#2809 AMBARI-25055 JS error after starting stack downgrade
  ambari-web/app/controllers/main/admin/stack_and_upgrade_controller.js
Labels: web client

#2806 [AMBARI-25138] Cover mappers files with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/app/mappers/alert_notification_mapper.js
  ambari-web/app/mappers/quicklinks_mapper.js
  ambari-web/app/models/widget.js
  ambari-web/test/helpers.js
  ambari-web/test/mappers/alert_groups_mapper_test.js
  ambari-web/test/mappers/alert_notification_mapper_test.js
  ambari-web/test/mappers/cluster_mapper_test.js
  ambari-web/test/mappers/stack_version_mapper_test.js
  ambari-web/test/mappers/widget_mapper_test.js
Labels: unit-test, web client

#2810 AMBARI-25141. Encrypting LDAP manager password in case password security is ON
  ambari-server/src/main/java/org/apache/ambari/server/utils/PasswordUtils.java
  ambari-server/src/main/python/ambari_server/setupSecurity.py
  ambari-server/src/test/java/org/apache/ambari/server/utils/PasswordUtilsTest.java
Labels: LDAP, security

#2762 AMBARI-25096 Cluster Installation fails when installing the cluster via Redhat satellite repositories (no internet connectivity Cluster)
  ambari-web/app/controllers/installer.js
Labels: web client

#2598 AMBARI-24885 Ambari Files view not working when User doesnt have access to any group and just have access to Filesview
  ambari-web/app/routes/main.js
Labels: cherry-pick, web client

#2793 AMBARI-25132. Cover metric view
  ambari-web/app/assets/test/tests.js
  ambari-web/test/views/common/metric_test.js
Labels: unit-test, web client

#2812 [AMBARI-25143] Remove unused models from ambari-web
  ambari-web/app/assets/data/racks/racks.json
  ambari-web/app/assets/test/tests.js
  ambari-web/app/controllers/global/cluster_controller.js
  ambari-web/app/controllers/main.js
  ambari-web/app/mappers.js
  ambari-web/app/mappers/racks_mapper.js
  ambari-web/app/mappers/root_service_mapper.js
  ambari-web/app/mappers/target_cluster_mapper.js
  ambari-web/app/models.js
  ambari-web/app/models/authentication.js
  ambari-web/app/models/background_operation.js
  ambari-web/app/models/form.js
  ambari-web/app/models/rack.js
  ambari-web/app/models/root_service.js
  ambari-web/app/models/service_audit.js
  ambari-web/app/models/target_cluster.js
  ambari-web/app/models/user.js
  ambari-web/app/utils/ajax/ajax.js
  ambari-web/test/controllers/global/cluster_controller_test.js
  ambari-web/test/controllers/main/charts/heatmap_test.js
  ambari-web/test/models/authentication_test.js
  ambari-web/test/models/form_test.js
  ambari-web/test/models/rack_test.js
  ambari-web/test/models/root_service_test.js
  ambari-web/test/models/user_test.js
  ambari-web/test/utils/form_field_test.js
Labels: web client

#2679 [AMBARI-24981] JournalNode may fail to start due to unreadable config file
  ambari-agent/src/test/python/resource_management/TestContentSources.py
  ambari-agent/src/test/python/resource_management/TestFileResource.py
  ambari-agent/src/test/python/resource_management/TestPropertiesFileResource.py
  ambari-agent/src/test/python/resource_management/TestRepositoryResource.py
  ambari-agent/src/test/python/resource_management/TestXmlConfigResource.py
  ambari-common/src/main/python/ambari_commons/os_utils.py
  ambari-common/src/main/python/resource_management/core/providers/system.py
  ambari-common/src/main/python/resource_management/core/sudo.py
  ambari-common/src/main/python/resource_management/libraries/providers/repository.py
Labels: ambari-commons

#2797 [AMBARI-25134] Cover controller of widget edit with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/test/controllers/main/service/widgets/edit_controller_test.js
Labels: unit-test, web client

#2796 [AMBARI-25135] Cover service mixin with unit tests
  ambari-web/app/assets/test/tests.js
  ambari-web/test/mixins/main/service/groups_mapping_test.js
  ambari-web/test/mixins/main/service/themes_mapping_test.js
Labels: unit-test, web client

#2816 AMBARI-25148 Cover views of Widget Create wizard with unit tests
  ambari-web/app/views/main/service/widgets/create/expression_view.js
  ambari-web/test/views/main/service/widgets/create/expression_view_test.js
  ambari-web/test/views/main/service/widgets/create/step2_view_test.js
Labels: web client

#2818 [AMBARI-25150] Implement additional error reporting for ambari-web unit tests
  ambari-web/app/assets/test/tests.js
Labels: unit-test, web client

#2824 AMBARI-25158 Dashboard is unable to load . Common console error : "SEVERE TypeError: widgetGroups is undefined"
  ambari-web/app/views/main/dashboard/widgets.js
Labels: web client

#2828 AMBARI-25164 Rack "Config Refresh" behaviour is different in Ambari 2.6 and 2.7.3
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/messages.js
  ambari-web/app/templates/main/host/details/host_component.hbs
  ambari-web/test/controllers/main/host/details_test.js
Labels: web client

#2821 AMBARI-25155. Backport knox trusted proxy support for ambari for 2.6 (amagyar)
  ambari-server/sbin/ambari-server
  ambari-server/src/main/java/org/apache/ambari/server/api/predicate/QueryLexer.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/LogoutService.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/event/AbstractUserAuditEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/event/OperationStatusAuditEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/audit/event/TaskStatusAuditEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariBasicAuthenticationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariProxiedUserDetailsImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariProxyUserDetails.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariProxyUserDetailsImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariUserDetails.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/AmbariUserDetailsImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariAuthToLocalUserDetailsService.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariKerberosAuthenticationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariKerberosAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariProxiedUserDetailsService.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/kerberos/AmbariProxyUserKerberosDetailsImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/tproxy/AmbariTProxyConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/tproxy/TrustedProxyAuthenticationDetails.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/tproxy/TrustedProxyAuthenticationDetailsSource.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/tproxy/TrustedProxyAuthenticationNotAllowedException.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariAuthorizationFilter.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AuthorizationHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/Users.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/RequestUtils.java
  ambari-server/src/main/python/ambari-server.py
  ambari-server/src/main/python/ambari_server/serverUtils.py
  ambari-server/src/main/python/ambari_server/setupActions.py
  ambari-server/src/main/python/ambari_server/setupTrustedProxy.py
  ambari-server/src/main/resources/webapp/WEB-INF/spring-security.xml
  ambari-server/src/test/java/org/apache/ambari/server/audit/AccessUnauthorizedAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/LoginAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/LogoutAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/OperationStatusAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/StartOperationRequestAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/audit/TaskStatusAuditEventTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/AmbariBasicAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/kerberos/AmbariProxiedUserDetailsServiceTest.java
  ambari-web/app/utils/http_client.js
Labels: security

#2834 AMBARI-25169 - Upgrade Apache Solr version to 7.7.0 or later in Ambari
  ambari-infra/ambari-infra-manager/docker/docker-compose.yml
  ambari-infra/ambari-infra-manager/docker/infra-manager-docker-compose.sh
  ambari-infra/ambari-infra-solr-client/README.md
  ambari-infra/ambari-infra-solr-client/src/main/python/migrationHelper.py
  ambari-infra/ambari-infra-solr-client/src/main/resources/solrIndexHelper.sh
  ambari-infra/ambari-infra-solr-plugin/docker/infra-solr-docker-compose.sh
  ambari-infra/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/audit_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/hadoop_logs/conf/solrconfig.xml
  ambari-logsearch/ambari-logsearch-server/src/main/configsets/history/conf/solrconfig.xml
  ambari-logsearch/docker/Dockerfile
  ambari-logsearch/docker/docker-compose.yml
  ambari-logsearch/docker/logsearch-docker.sh
  ambari-logsearch/docker/solr.yml
  ambari-logsearch/docker/sso.yml
  ambari-logsearch/pom.xml
  ambari-server/src/main/resources/common-services/AMBARI_INFRA_SOLR/0.1.0/package/scripts/command_commons.py
  ambari-server/src/main/resources/common-services/LOGSEARCH/0.5.0/properties/service_logs-solrconfig.xml.j2
Labels: infra-solr, logsearch
