Repository apache/ambari, pull requests merged in 2019-05, with the labels that each got.

#2955 [AMBARI-25259] upgrade moment.js to v2.22.2
  ambari-web/config.coffee
  ambari-web/karma.conf.js
  ambari-web/vendor/scripts/moment.js
  ambari-web/vendor/scripts/moment.min.js
Labels: web client

#2960 [AMBARI-25270] Admin View build fails due to unavailable npm package ecstatic
  ambari-admin/src/main/resources/ui/admin-web/package.json
Labels: ambari-admin, build

#2968 AMBARI-24950 - Logsearch: use os timezone in Logfeeder
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/loglevelfilter/LogLevelFilterHandler.java
Labels: cherry-pick, logsearch

#2972 AMBARI-25275 - Changes in Yarn Capacity Scheduler is requesting for restart of Resource Manager
  contrib/views/capacity-scheduler/src/main/resources/ui/app/controllers/queues.js
Labels: ambari views

#2978 AMBARI-25280 - Improper error handling when managing Ambari users
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ResultStatus.java
  ambari-server/src/test/java/org/apache/ambari/server/api/handlers/ReadHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/serializers/JsonSerializerTest.java
Labels: server

#2981 AMBARI-25280 - Improper error handling when managing Ambari users
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ResultStatus.java
  ambari-server/src/test/java/org/apache/ambari/server/api/handlers/ReadHandlerTest.java
  ambari-server/src/test/java/org/apache/ambari/server/api/services/serializers/JsonSerializerTest.java
Labels: cherry-pick, server

#2988 AMBARI-25287 Persistent Cross Site Scripting (XSS) in Ambari
  ambari-web/app/mappers/configs/service_config_version_mapper.js
Labels: web client

#2990 AMBARI-25175. Start, Stop, Service Check and other request actions using PUT/POST from Ambari UI do not respond when tried via Knox TP (amagyar) (#2842)
  ambari-server/src/main/java/org/apache/ambari/server/api/services/RequestFactory.java
  ambari-server/src/test/python/ldap-password.dat
  ambari-web/app/utils/ajax/ajax.js
Labels: cherry-pick
