Repository apache/ambari, pull requests merged in 2019-10, with the labels that each got.

#3024 [AMBARI-25317] : Updating incorrect css class name for different popups(cherry-pick to branch-2.7)
  ambari-web/app/controllers/main/alerts/alert_definitions_actions_controller.js
  ambari-web/app/controllers/main/alerts/definition_details_controller.js
  ambari-web/app/controllers/main/service/item.js
Labels: cherry-pick

#3089 AMBARI-25139 Yarn Capacity Scheduler Authorization issues due to AuthToLocal Rules
  contrib/views/capacity-scheduler/src/main/java/org/apache/ambari/view/capacityscheduler/ConfigurationService.java
Labels: cherry-pick

#3092 AMBARI-25382 Issues with Views in ambari when User Logs In from KNOX/LDAP and the username has spaces and Camel Case Letters
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ViewInstanceEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariLdapBindAuthenticator.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AuthorizationHelper.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authentication/jwt/AmbariJwtAuthenticationFilterTest.java
  ambari-server/src/test/java/org/apache/ambari/server/security/authorization/AmbariLdapBindAuthenticatorTest.java
Labels: LDAP, server, sso

#3095 [AMBARI-25383] Ambari Metrics whitelisting is failing on * wildcard for Kafka Topics
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/TimelineMetricsFilter.java
Labels: ambari-metrics

#3103 AMBARI-25397 Upgrading ambari-logsearch-logfeeder to 2.7.4 rpm gives warnings
  ambari-logsearch/ambari-logsearch-assembly/src/main/package/rpm/logfeeder/postremove.sh
Labels: logsearch

#3106 AMBARI-25399 Add hive PAM support for service check and alerts (ihorl…
  ambari-common/src/main/python/resource_management/libraries/functions/hive_check.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/alerts/alert_hive_interactive_thrift_port.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/alerts/alert_hive_thrift_port.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/params_linux.py
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/service_check.py
Labels: agent, alerts

#3109 [AMBARI-25333] Regenerate keytab generates empty keytab file if no fi…
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreatePrincipalsServerAction.java
Labels: kerberos, server
