Repository apache/ambari, pull requests merged in 2019-06, with the labels that each got.

#2998 AMBARI-25293 - Logsearch: logfeeder throws NPE when updating checkpoint
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/file/FileCheckInHelper.java
  ambari-logsearch/ambari-logsearch-logfeeder/src/main/java/org/apache/ambari/logfeeder/input/file/ResumeLineNumberHelper.java
Labels: logsearch

#2999 [AMBARI-25286] : Avoid conditional logic for creating ViewURLResource (Backport to branch-2.7)
  ambari-server/src/main/java/org/apache/ambari/server/api/services/views/ViewUrlsService.java
Labels: cherry-pick

#2997 [AMBARI-25244] : Rack based parallel restart for Rolling Upgrade (Backport to branch-2.7)
  ambari-server/pom.xml
  ambari-server/src/examples/rack_hosts.yaml
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Grouping.java
Labels: cherry-pick

#3007 AMBARI-25303 Cluster Information Page URL is broken
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/routes.js
Labels: web client

#3008 AMBARI-25304. Request configurations when needed during server-side actions rather than rely on configuration data from the execution command (amagyar)
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/AbstractServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/DestroyPrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerActionTest.java
Labels: cherry-pick

#3012 AMBARI-25303 Cluster Information Page URL is broken - additional patch
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/directives/linkToDir.js
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/routes.js
  ambari-admin/src/main/resources/ui/admin-web/app/views/ambariViews/edit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/ambariViews/viewsList.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/remoteClusters/editRemoteClusterPage.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/remoteClusters/list.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/remoteClusters/remoteClusterPage.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/sideNav.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/list.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/stackVersions/stackVersionPage.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/groupEdit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/main.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/userEdit.html
  ambari-admin/src/main/resources/ui/admin-web/app/views/userManagement/usersList.html
Labels: web client

#3011 AMBARI-25181. Host registration through Ambari UI failed with an error "Unsupported Media Type" (amagyar) (#2848)
  ambari-web/app/utils/ajax/ajax.js
Labels: cherry-pick, web client

#3020 AMBARI-25313 - Upgrade dependency on com.mchange:c3p0:jar:0.9.5.2 in Ambari Server
  ambari-server/pom.xml
Labels: server

#3019 AMBARI-24992. Ambari Upgrade from 2.6.2.2 to 2.7.1.0 fails in Schema upgrade phase due to long certificate (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessor.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessorImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/AbstractUpgradeCatalog.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/SchemaUpgradeHelper.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/UpgradeCatalog274.java
  ambari-server/src/main/resources/Ambari-DDL-Derby-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-MySQL-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Oracle-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-Postgres-CREATE.sql
  ambari-server/src/main/resources/Ambari-DDL-SQLAnywhere-CREATE.sql
  ambari-server/src/test/java/org/apache/ambari/server/orm/DBAccessorImplTest.java
  ambari-server/src/test/java/org/apache/ambari/server/upgrade/UpgradeCatalog274Test.java
Labels: server

#2891 [AMBARI-25209] : Bulk Operation Refresh Configs for selected hosts
  ambari-web/app/controllers/main/host/bulk_operations_controller.js
  ambari-web/app/messages.js
  ambari-web/app/views/main/host/hosts_table_menu_view.js
Labels: web client

#3009 [AMBARI-23478] YARN Cluster CPU Usage Graph Always Shows High CPU Usage
  ambari-server/src/main/java/org/apache/ambari/server/controller/metrics/MetricsDataTransferMethodFactory.java
Labels: ambari-metrics, cherry-pick

#3022 AMBARI-25316 - Upgrade dependency on org.springframework:spring-web:jar:4.3.18.RELEASE in Ambari Server
  ambari-project/pom.xml
Labels: CVE, server

#3030 AMBARI-25321 - Remove dependency on org.eclipse.jetty.*:9.3.19.v20170502 in Ambari Logsearch Logfeeder
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
Labels: CVE, logsearch

#3029 AMBARI-25319 - Logsearch: Upgrade dependency on org.springframework.boot:spring-boot-starter-jetty:jar:2.0.6.RELEASE
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-server/pom.xml
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/LogSearchConfigApiConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SecurityConfig.java
  ambari-logsearch/ambari-logsearch-server/src/main/java/org/apache/ambari/logsearch/conf/SolrConfig.java
Labels: CVE, logsearch
