Repository apache/ambari, pull requests merged in 2019-12, with the labels that each got.

#3154 AMBARI-25218. Updating guava version
  ambari-admin/pom.xml
  ambari-agent/pom.xml
  ambari-agent/src/test/java/org/apache/ambari/tools/zk/ZkMigratorTest.java
  ambari-logsearch/ambari-infra-solr-plugin/pom.xml
  ambari-logsearch/ambari-logsearch-logfeeder/pom.xml
  ambari-logsearch/ambari-logsearch-portal/pom.xml
  ambari-logsearch/pom.xml
  ambari-metrics/ambari-metrics-common/pom.xml
  ambari-metrics/ambari-metrics-flume-sink/pom.xml
  ambari-metrics/ambari-metrics-hadoop-sink/pom.xml
  ambari-metrics/ambari-metrics-host-monitoring/pom.xml
  ambari-metrics/ambari-metrics-kafka-sink/pom.xml
  ambari-metrics/ambari-metrics-storm-sink-legacy/pom.xml
  ambari-metrics/ambari-metrics-storm-sink/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/hadoop/yarn/server/applicationhistoryservice/metrics/loadsimulator/net/RestMetricsSender.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/hadoop/yarn/server/applicationhistoryservice/TestApplicationHistoryServer.java
  ambari-metrics/pom.xml
  ambari-project/pom.xml
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/ClusterConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentDesiredStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostComponentStateEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/RepositoryVersionEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/UpgradeHistoryEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/upgrades/FinalizeUpgradeAction.java
  ambari-server/src/main/java/org/apache/ambari/server/state/UpgradeContext.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ClusterGrouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ConfigUpgradeChangeDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/ConfigurationCondition.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/Grouping.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/HostOrderItem.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/SecurityCondition.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/StageWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/upgrade/TaskWrapper.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/ClientConfigResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/StackDefinedPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/JMXPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/metrics/RestMetricsPropertyProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/view/persistence/DataStoreImplTest.java
  ambari-views/pom.xml
  ambari-web/package.json
  ambari-web/pom.xml
  contrib/fast-hdfs-resource/dependency-reduced-pom.xml
  contrib/fast-hdfs-resource/pom.xml
  contrib/views/hive-next/pom.xml
  contrib/views/hive20/pom.xml
  contrib/views/hive20/src/main/java/org/apache/ambari/view/hive20/resources/browser/DDLProxy.java
  contrib/views/jobs/pom.xml
  contrib/views/pig/pom.xml
  contrib/views/slider/pom.xml
  contrib/views/storm/pom.xml
  contrib/views/wfmanager/pom.xml
  contrib/views/wfmanager/src/main/resources/ui/pom.xml
  pom.xml
  utility/pom.xml
Labels: CVE

#3155 AMBARI-25443. Create principal/keytab operation with multi threaded (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/KerberosHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/HostKerberosIdentityResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/ConfigureAmbariIdentitiesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreateKeytabFilesServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/CreatePrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/DestroyPrincipalsServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/FinalizeKerberosServerAction.java
  ambari-server/src/main/java/org/apache/ambari/server/serveraction/kerberos/KerberosServerAction.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/internal/HostKerberosIdentityResourceProviderTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/AbstractPrepareKerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/ConfigureAmbariIdentitiesServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/serveraction/kerberos/FinalizeKerberosServerActionTest.java
  ambari-server/src/test/java/org/apache/ambari/server/view/HttpImpersonatorImplTest.java
Labels: kerberos, server

#3153 [AMBARI-25426] Error while Validating Coordinator xml in Workflow Manager View
  contrib/views/wfmanager/src/main/resources/ui/app/components/coord-config.js
Labels: ambari views

#3164 AMBARI-25450. [ubuntu16] HDP install failed for upgrade
  ambari-common/src/main/python/ambari_commons/repo_manager/apt_manager.py
Labels: ambari-commons

#3163 Fix bulk delete api, response code 400 - Bulk DELETE API is broken
  ambari-admin/src/main/resources/ui/admin-web/bower.json
  ambari-server/src/main/java/org/apache/ambari/server/api/handlers/DeleteHandler.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/DeleteHostComponentStatusMetaData.java
  ambari-server/src/main/java/org/apache/ambari/server/state/ServiceComponentImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/controller/AmbariManagementControllerTest.java
Labels: server
