Repository apache/ambari, pull requests merged in 2020-10, with the labels that each got.

#3234 AMBARI-25562 Nightly test is failing due to Ambari Metrics Host Aggregator (santal)
  ambari-metrics/ambari-metrics-host-aggregator/pom.xml
  ambari-metrics/ambari-metrics-host-aggregator/src/test/java/org/apache/hadoop/metrics2/host/aggregator/AggregatorWebServiceTest.java
Labels: ambari-metrics

#3105 [AMBARI-25398] Textareas in configuration page can be resized beyond its container border limit
  ambari-web/app/styles/service_configurations.less
Labels: web client

#3240 AMBARI-25567. Fix escaping issues in check database command
  ambari-server/src/main/resources/common-services/HIVE/0.12.0.2.0/package/scripts/hive_service.py
  ambari-server/src/main/resources/custom_actions/scripts/check_host.py
  ambari-server/src/test/python/custom_actions/TestCheckHost.py
  ambari-server/src/test/python/stacks/2.0.6/HIVE/test_hive_metastore.py
  ambari-server/src/test/python/stacks/2.0.6/HIVE/test_hive_server.py
  ambari-server/src/test/python/stacks/2.1/HIVE/test_hive_metastore.py
  ambari-server/src/test/python/stacks/2.5/HIVE/test_hive_server_int.py
Labels: agent

#3241 [Ambari-25568] Fix The 'NodeManager RAM Utilized' metric in the heatmap had no unit
  ambari-server/src/main/resources/common-services/YARN/2.1.0.2.0/YARN_widgets.json
  ambari-server/src/main/resources/stacks/HDP/2.3/services/YARN/YARN_widgets.json
Labels: ambari-metrics

#3242 AMBARI-25569 Reassess Ambari Metrics data migration
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/AbstractPhoenixMetricsCopier.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/MetricsDataMigrationLauncher.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/PhoenixClusterMetricsCopier.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/upgrade/core/PhoenixHostMetricsCopier.java
Labels: ambari-metrics, upgrade

#3247 [AMBARI-25573] Ambari Metrics save as JSON/CSV use custom fileName instead of default name.
  ambari-web/app/mixins/common/widgets/export_metrics_mixin.js
  ambari-web/app/views/common/widget/graph_widget_view.js
  ambari-web/test/views/common/widget/graph_widget_view_test.js
Labels: ambari-metrics
