Repository apache/ambari, pull requests merged in 2020-11, with the labels that each got.

#3253 Revert "[AMBARI-25573] Ambari Metrics save as JSON/CSV use custom fileName instead of default name."
  ambari-web/app/mixins/common/widgets/export_metrics_mixin.js
  ambari-web/app/views/common/widget/graph_widget_view.js
  ambari-web/test/views/common/widget/graph_widget_view_test.js
Labels: web client

#3251 AMBARI-25576. Primary key duplication error during flushing alerts from alerts cache.
  ambari-server/src/main/java/org/apache/ambari/server/events/listeners/alerts/AlertReceivedListener.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/AlertsDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/EventBusSynchronizer.java
  ambari-server/src/test/java/org/apache/ambari/server/orm/dao/AlertsDAOTest.java
  ambari-server/src/test/java/org/apache/ambari/server/state/alerts/AggregateAlertListenerTest.java
Labels: alerts

#3255 AMBARI-25563. Storm dashboards are not showing metrics.
  ambari-metrics/ambari-metrics-grafana/ambari-metrics/datasource.js
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/PhoenixHBaseAccessor.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/query/TransientMetricCondition.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/HashBasedUuidGenStrategy.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/MD5UuidGenStrategy.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/MetricUuidGenNullRestrictedStrategy.java
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/uuid/Murmur3HashUuidGenStrategy.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/uuid/MetricUuidGenStrategyTest.java
Labels: ambari-metrics

#3258 AMBARI-25581. Prototype pollution issue in JQuery (dpidhaiets)
  ambari-web/vendor/scripts/jquery-1.9.1.js
Labels: web client

#3257 AMBARI-25573 Ambari Metrics save as JSON/CSV use custom fileName inst…
  ambari-web/app/mixins/common/widgets/export_metrics_mixin.js
  ambari-web/app/views/common/widget/graph_widget_view.js
Labels: web client

#3237 [AMBARI-25543] fix hdfs Disk I/O Utilization result.
  ambari-server/src/main/resources/stacks/HDP/2.3/services/HDFS/widgets.json
Labels: web client

#3263 AMBARI-25582. Change the way AMS Grafana datasource discovers the Kafka topics
  ambari-metrics/ambari-metrics-grafana/ambari-metrics/datasource.js
Labels: ambari-metrics

#3261 [AMBARI-25586] File/Directory Permission can't be auto refreshed after modified
  contrib/views/files/src/main/resources/ui/app/components/permission-modal.js
  contrib/views/files/src/main/resources/ui/app/templates/components/context-row-menu.hbs
Labels: ambari views

#3265 AMBARI-25590. Ambari Get Hosts API returning empty json
  ambari-server/src/main/java/org/apache/ambari/server/state/cluster/ClusterImpl.java
Labels: server

#3264 AMBARI-25589. When hearbeat is lost sometimes start/stop tasks can hang for a long time
  ambari-agent/src/main/python/ambari_agent/CommandStatusDict.py
Labels: agent
