Repository apache/ambari, pull requests merged in 2020-01, with the labels that each got.

#3168 AMBARI-25457 Hive 3 Grafana dashboards showing outdated metrics
  ambari-metrics/ambari-metrics-timelineservice/conf/unix/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/conf/windows/metrics_whitelist
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HIVEMETASTORE.dat
  ambari-metrics/ambari-metrics-timelineservice/src/main/resources/metrics_def/HIVESERVER2.dat
  ambari-metrics/ambari-metrics-timelineservice/src/test/resources/test_data/full_whitelist.dat
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hive-hivemetastore.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hive-hiverserver2.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/HDP/grafana-hive-home.json
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/service-metrics/HIVE.txt
Labels: ambari-metrics

#3172 AMBARI-25454 API exception on trying to assign permission to user group with custom Ambari Views (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AmbariPrivilegeResourceProvider.java
Labels: server

#3175 AMBARI-25469. Bad UTF encoding on Alert listener receiver.
  ambari-agent/src/main/python/ambari_agent/alerts/base_alert.py
Labels: agent, alerts
