Repository apache/ambari, pull requests merged in 2020-06, with the labels that each got.

#3193 [AMBARI-25500] Hive Service Check Fails if the trustStorePassword has Special character $ (asnaik)
  ambari-common/src/main/python/resource_management/libraries/functions/hive_check.py
Labels: ambari-commons

#3203 AMBARI-25519. Ambari builds are failing with a bower error (dpidhaiets)
  ambari-admin/src/main/resources/ui/admin-web/bower.json
Labels: web client

#3202 AMBARI-25518. DB connection details in API call.
  ambari-agent/src/main/python/ambari_agent/HostInfo.py
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/python/TestSetupSso.py
  ambari-web/app/mixins/main/host/details/actions/check_host.js
Labels: agent

#3190 AMBARI-25493. Ambari - Application Test Script Detected
  ambari-web/app/assets/test/test.html
  ambari-web/brunch-config.js
  ambari-web/karma.conf.js
  ambari-web/package.json
  ambari-web/test/controllers/main_test.js
  ambari-web/test/router_test.js
  ambari-web/test/utils/credentials_test.js
  ambari-web/test/utils/stomp_client_test.js
  ambari-web/test/utils/ui_effects_test.js
  ambari-web/yarn.lock
Labels: web client

#3187 AMBARI-25489. On adding new VDF the Base URLs are not auto populated
  ambari-admin/src/main/resources/ui/admin-web/app/scripts/controllers/stackVersions/StackVersionsCreateCtrl.js
Labels: web client

#3177 AMBARI-25472. Disable autocomplete on login screen
  ambari-web/app/templates/common/configs/addPropertyWindow.hbs
  ambari-web/app/templates/common/configs/notifications_configs.hbs
  ambari-web/app/templates/common/configs/overrideWindow.hbs
  ambari-web/app/templates/common/configs/queuePopup_body.hbs
  ambari-web/app/templates/common/configs/service_config_category.hbs
  ambari-web/app/templates/common/form/manage_credentilas_form.hbs
  ambari-web/app/templates/common/modal_popups/invalid_KDC_popup.hbs
  ambari-web/app/templates/common/modal_popups/select_groups_popup.hbs
  ambari-web/app/templates/login.hbs
  ambari-web/app/templates/main/admin/highAvailability/rangerAdmin/step1.hbs
  ambari-web/app/templates/main/alerts/add_custom_config_to_alert_notification_popup.hbs
  ambari-web/app/templates/main/alerts/add_definition_to_group_popup.hbs
  ambari-web/app/templates/main/alerts/configs.hbs
  ambari-web/app/templates/main/alerts/create_alert_notification.hbs
  ambari-web/app/templates/main/alerts/create_new_alert_group.hbs
  ambari-web/app/templates/main/dashboard/edit_widget_popup.hbs
  ambari-web/app/templates/main/dashboard/edit_widget_popup_single_threshold.hbs
  ambari-web/app/templates/main/service/new_config_group.hbs
  ambari-web/app/templates/main/service/widgets/create/step2.hbs
  ambari-web/app/templates/main/service/widgets/create/step3.hbs
  ambari-web/app/templates/wizard/step1.hbs
  ambari-web/app/templates/wizard/step1_addLocalRepository.hbs
  ambari-web/app/templates/wizard/step3/step3_host_warnings_popup.hbs
  ambari-web/app/views/login.js
Labels: web client

#3184 AMBARI-25486. Configs page not loading after Ambari upgrade
  ambari-web/app/mappers/configs/config_groups_mapper.js
Labels: web client

#3198 AMBARI-25516. Missing @Override on 91 methods
  ambari-agent/src/main/java/org/apache/ambari/tools/zk/ZkConnection.java
  ambari-server/src/main/java/org/apache/ambari/server/actionmanager/ServiceComponentHostEventWrapper.java
  ambari-server/src/main/java/org/apache/ambari/server/agent/HostInfo.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/ResultImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/bootstrap/FifoLinkedHashMap.java
  ambari-server/src/main/java/org/apache/ambari/server/cleanup/CleanupServiceImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/configuration/SingleFileWatch.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariManagementControllerImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/HostRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ShortTaskStatus.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ViewPrivilegeRequest.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AppCookieManager.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/ExtensionLinkResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/logging/LoggingRequestHelperImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/events/AgentConfigsUpdateEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/events/TopologyUpdateEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/ldap/domain/AmbariLdapConfiguration.java
  ambari-server/src/main/java/org/apache/ambari/server/metrics/system/impl/AmbariMetricSinkImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/notifications/dispatchers/AmbariSNMPDispatcher.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/DBAccessorImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/cache/HostConfigMappingImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/AmbariConfigurationDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/BlueprintConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostGroupConfigEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/SettingEntity.java
  ambari-server/src/main/java/org/apache/ambari/server/scheduler/ExecutionScheduleManager.java
  ambari-server/src/main/java/org/apache/ambari/server/security/InternalSSLSocketFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariLdapBindAuthenticator.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/Users.java
  ambari-server/src/main/java/org/apache/ambari/server/security/credential/GenericKeyCredential.java
  ambari-server/src/main/java/org/apache/ambari/server/security/credential/PrincipalKeyCredential.java
  ambari-server/src/main/java/org/apache/ambari/server/stack/BaseModule.java
  ambari-server/src/main/java/org/apache/ambari/server/state/action/ActionId.java
  ambari-server/src/main/java/org/apache/ambari/server/state/host/HostImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/state/host/HostStatusUpdatesReceivedEvent.java
  ambari-server/src/main/java/org/apache/ambari/server/state/kerberos/AbstractKerberosDescriptorContainer.java
  ambari-server/src/main/java/org/apache/ambari/server/state/quicklinksprofile/DefaultQuickLinkVisibilityController.java
  ambari-server/src/main/java/org/apache/ambari/server/state/stack/MetricDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/BlueprintImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/HostGroupImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/RepositorySetting.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/tasks/TopologyHostTask.java
  ambari-server/src/main/java/org/apache/ambari/server/topology/validators/RequiredPasswordValidator.java
  ambari-server/src/main/java/org/apache/ambari/server/upgrade/AbstractUpgradeCatalog.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/ManagedThreadPoolExecutor.java
  ambari-server/src/main/java/org/apache/ambari/server/utils/ScheduledExecutorCompletionService.java
  ambari-server/src/main/java/org/apache/ambari/server/view/ViewDirectoryWatcher.java
  ambari-server/src/main/java/org/apache/ambari/server/view/events/EventImpl.java
  ambari-utility/src/main/java/org/apache/ambari/swagger/AmbariSwaggerReader.java
Labels: server

#3201 AMBARI-25517. Should not use '!=' to compare 'Long hostId' in HostStateEntity, which could lead to unforeseen problems
  ambari-server/src/main/java/org/apache/ambari/server/orm/entities/HostStateEntity.java
Labels: server

#3182 AMBARI-25485. Change authentication method from get to post.
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/AuthResourceDefinition.java
  ambari-server/src/main/java/org/apache/ambari/server/api/resources/ResourceInstanceFactoryImpl.java
  ambari-server/src/main/java/org/apache/ambari/server/api/services/users/AuthService.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AuthRequestCreateAuthSwagger.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ControllerModule.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/ResourceProviderFactory.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AbstractControllerResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/internal/AuthResourceProvider.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/spi/Resource.java
  ambari-server/src/main/java/org/apache/ambari/server/security/authorization/AmbariAuthorizationFilter.java
Labels: server

#3205 AMBARI-25526. Typo in the "NameNode" turn off maintenance mode dialog box (dpidhaiets)
  ambari-web/app/controllers/main/host/details.js
  ambari-web/app/messages.js
Labels: web client
