Repository apache/ambari, pull requests merged in 2020-09, with the labels that each got.

#3233 AMBARI-25560 UT failing due to tar download error (dgrinenko)
  ambari-metrics/pom.xml
  ambari-server/src/main/resources/stacks/HDP/2.0.6/properties/stack_features.json
  ambari-server/src/test/python/stacks/2.6/ZEPPELIN/test_zeppelin_070.py
Labels: ambari-metrics

#3211 AMBARI-25534. DB purge fails removing topology requests.
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/RequestDAO.java
Labels: server

#3214 AMBARI-25537. Fix AMS ambari-database and hbase dashboards.
  ambari-server/src/main/resources/common-services/AMBARI_METRICS/0.1.0/package/files/grafana-dashboards/default/grafana-ambari-server-database.json
Labels: ambari-metrics

#3220 AMBARI-25545 fix downloaded zip-file name shows empty in the fileview.
  contrib/views/files/src/main/java/org/apache/ambari/view/filebrowser/DownloadService.java
Labels: server

#3223 AMBARI-25546 To prevent negative float and NaN value in heatmap metrics page.
  ambari-web/app/controllers/main/charts/heatmap_metrics/heatmap_metric.js
Labels: web client
