Repository apache/ambari, pull requests merged in 2021-04, with the labels that each got.

#3298 AMBARI-25632 Verify custom queries with "IN" clause for ORA-01795 issue
  ambari-server/src/main/java/org/apache/ambari/server/configuration/Configuration.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/GroupDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/HostComponentDesiredStateDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/HostRoleCommandDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/KerberosKeytabPrincipalDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/PermissionDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/PrivilegeDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/RequestDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/StageDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/UserDAO.java
Labels: SQL, server

#3304 AMBARI-25635 Clear Cluster and METRIC_AGGREGATORS MBeans upon shutdown
  ambari-metrics/ambari-metrics-timelineservice/src/main/java/org/apache/ambari/metrics/core/timeline/availability/MetricCollectorHAController.java
  ambari-metrics/ambari-metrics-timelineservice/src/test/java/org/apache/ambari/metrics/core/timeline/availability/MetricCollectorHAControllerTest.java
Labels: ambari-metrics

#3305 AMBARI-25668 Integrate the Apache released HBase as back store of Ambari Metrics
  ambari-metrics/ambari-metrics-assembly/pom.xml
  ambari-metrics/ambari-metrics-timelineservice/pom.xml
  ambari-metrics/pom.xml
Labels: ambari-metrics, build
