Repository apache/ambari, pull requests merged in 2021-03, with the labels that each got.

#3291 AMBARI-22827. DB Cleanup scripts are using IN clauses (dgrinenko)
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/RequestDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/TopologyHostTaskDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/TopologyLogicalRequestDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/TopologyLogicalTaskDAO.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/helpers/SQLConstants.java
  ambari-server/src/main/java/org/apache/ambari/server/orm/helpers/SQLOperations.java
  ambari-server/src/main/python/ambari_server/dbCleanup.py
  ambari-server/src/test/java/org/apache/ambari/server/orm/helpers/SQLOperationsTest.java
Labels: server

#3292 AMBARI-25627 ORA-01795 error when querying hostcomponentdesiredstate table on large cluster
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/HostComponentDesiredStateDAO.java
Labels: SQL, server

#3293 AMBARI-25629 For kerberos service check IN clause must be split into batches
  ambari-server/src/main/java/org/apache/ambari/server/orm/dao/KerberosKeytabPrincipalDAO.java
Labels: SQL, kerberos, server

#3296 AMBARI-25634. Code cleanup: Remove AgentResource class as it is not needed anymore.
  ambari-server/src/main/java/org/apache/ambari/server/agent/rest/AgentResource.java
  ambari-server/src/main/java/org/apache/ambari/server/controller/AmbariServer.java
  ambari-server/src/test/java/org/apache/ambari/server/agent/AgentResourceTest.java
  ambari-server/src/test/java/org/apache/ambari/server/topology/AmbariContextTest.java
Labels: server

#3299 AMBARI-25636 FindBugs: Comparison of String parameter using == or !=
  ambari-server/src/main/java/org/apache/ambari/server/state/host/HostImpl.java
  ambari-server/src/test/java/org/apache/ambari/server/state/host/HostImplTest.java
Labels: cleanup, server

#3302 AMBARI-25639. StackOverflowError appears on MethodArgument*Exception during stomp message handling.
  ambari-server/src/main/java/org/apache/ambari/server/configuration/spring/RootStompConfig.java
Labels: server

#3300 AMBARI-25637. ConcurrentModificationException during stomp subscriptions processing.
  ambari-server/src/main/java/org/apache/ambari/server/agent/stomp/AmbariSubscriptionRegistry.java
Labels: server
